---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700|Roboto+Mono:400,500);


$spacing-unit:     30px;

$text-color:       #262626;
$background-color: #fcfcfc;
$brand-color:      #3374b9;
$grey-color: 	   #757575;
$warn-color:       #f89c1c;
$admonish-color:   #c12126;

$light-grey:       #f7f7f7;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


@import
"normalize-scss/normalize",
"design-system/settings",
"design-system/settings-default",
"design-system/mixins",
"design-system/base",
"design-system/grid",
"website/layout",
"website/component-page",
"website/charts-page"
;
