body {
  color: $grey950;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

p {
  font-weight:400;
  font-size:$base-font-size;
  line-height: $base-line-height;
  padding: 0 0 $paddingM 0;
}

p:last-child {
  padding:0;
}

.display-font, h1, h2, h3, h4, h5, h6{
  line-height: $heading-line-height; 
  text-transform: none; 
  letter-spacing: 0;
  color: $grey950;
  margin:0;
  padding:0;
}

.display-font{
  font-weight:100;
  font-size:$font-size-7;
}

h1{
  font-weight:300;
  font-size:$font-size-5;
}

h1.header-alt{
  font-weight:400;
}

h2{
  font-weight:400;
  font-size:$font-size-4;
  padding: 0 0 $paddingM 0;
}

h3{
  font-weight:500;
  font-size:$base-font-size;
  padding: 0 0 $paddingXS 0;
}

.body1{
  font-weight:400;
  font-size:$base-font-size;
  line-height: $base-line-height;
}

.body2{
  font-weight:400;
  font-size: $font-size-3;
  line-height: $base-line-height;

}

.subtext{
  font-weight:400;
  font-size:$font-size-2;
  color:$grey700;
}

.statusTag{
  font-weight:400;
  font-size:$font-size-1;
}

.requiredInput{
  color:$red;
  font-weight: 900;
}

.formLabel{
  font-size: $font-size-3;
}

.subtext.error{
  color:$red;
}

.smCaps{
  font-size: smaller;
  text-transform: uppercase;
}

/*FORM CONTAINERS*/

.formComponant, .formGroup{
  display:block;
  width:100%;
}

.formGroupP{
  padding-top:50px;
}

.formGroupP2{
  padding-top:40px;
}

ol, ul {
  margin: 0 0 20px 25px;
  padding: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

dl {
  margin: 0 0 20px;
}

dd {
  margin: 0 0 0 25px;
}

hr {
  margin: 0 0 $base-line-height;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

code {
    overflow: auto;
    padding: 0 5px 1px;
    background: #f1f1f1;
    margin: 0 2px;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
    border-radius: 3px;
  }

  pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    white-space: pre;
  }

  pre {
    display:block;
    overflow: auto;
    background: #f1f1f1;
    padding: 5px 10px;
    white-space: pre;
    word-wrap: normal;
    border-radius: 3px;
  }

// Typography Classes

.rs-page-title {
  @extend h2;
}

.rs-sidebar {
  h3 {
    margin: 0 0 20px;
  }

  h4 {
    margin-bottom: 3px;
  }

  p {
    color: #666;
  }

  hr {
    margin: 20px 0;
  }

  ul {
    margin: 0 0 10px 25px;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  pre, code {
    background: $white;
  }

  pre code {
    background-color: transparent;
  }
}
