//DON'T DELETE EAG 7-18-2016

body {
  color: $grey950;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

p {
  font-weight:400;
  font-size:$base-font-size;
  line-height: $base-line-height;
  padding: 0 0 $paddingM 0;
}

.display-font, h1, h2, h3, h4, h5, h6{
  line-height: $heading-line-height; 
  text-transform: none; 
  letter-spacing: 0;
  color: $grey950;
  margin:0;
  padding:0;
}

.display-font{
  font-weight:100;
  font-size:$font-size-7;
}

h1{
  font-weight:300;
  font-size:$font-size-5;
}

h1.header-alt{
  font-weight:400;
}

h2{
  font-weight:400;
  font-size:$font-size-4;
  padding: 0 0 $paddingM 0;
}

h3{
  font-weight:500;
  font-size:$base-font-size;
  padding: 0 0 $paddingXS 0;
}

.body1{
  font-weight:400;
  font-size:$base-font-size;
  line-height: $base-line-height;
}

.body2{
  font-weight:400;
  font-size: $font-size-3;
  line-height: $base-line-height;

}

.subtext, .form-subtext{
  font-weight:400;
  font-size:$font-size-2;
  color:$grey700;
}

.statusTag{
  font-weight:400;
  font-size:$font-size-1;
}

.requiredInput{
  color:$red;
  font-weight: 900;
}

.form-section-head{
  padding-bottom: $paddingL;
}

.formLabel{
  font-size: $font-size-3;
  padding-bottom: $paddingXS;
}

.subtext.error{
  color:$red;
}

.smCaps{
  font-size: smaller;
  text-transform: uppercase;
}

/*FORM SPECIFIC*/

.form-subtext{
  padding:$paddingS 0 0 0;
}

.form-section-container{
  padding-top:$paddingXL;
}

.formComponant, .formGroup{
  display:block;
  width:100%;
}

.formGroup{
  padding-bottom:$paddingXL;
}
