//
// Grid system
// --------------------------------------------------

// fluid grid

// Default settings
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         75px;

$gridGutterWidth: 20px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
$fluidGridColumnWidth: percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth: percentage($gridGutterWidth/$gridRowWidth);

@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);

// fluid grid with collapsed gutters

$gridGutterWidth: 0px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
$fluidGridColumnWidth: percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth: percentage($gridGutterWidth/$gridRowWidth);

@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth, "-collapse");


// Reset utility classes due to specificity
[class*="span-"].hide,
.rs-row [class*="span-"].hide {
  display: none;
}

[class*="span-"].rs-pull-right,
.rs-row [class*="span-"].rs-pull-right {
  float: right;
}

body.rs-responsive {
  @media (max-width: 767px) {

    // Fluid rows
    .rs-row, .rs-row.collapse {
      width: 100%;
    }
    // Undo negative margin on rows and thumbnails
    .rs-row, .rs-row.collapse {
      margin-left: 0;
    }
    // Make all grid-sized elements block level again
    [class*="span-"]:not([class*="small-span-"]),
    .rs-row [class*="span-"]:not([class*="small-span-"]), .rs-row.collapse [class*="span-"]:not([class*="small-span-"]){
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      box-sizing: border-box;
    }
    .span-12,
    .rs-row .span-12, .rs-row.collapse .span-12 {
      width: 100%;
      box-sizing: border-box;
    }
    .rs-row [class*="offset"]:not([class*="small-span-"]):first-child, .rs-row.collapse [class*="offset"]:not([class*="small-span-"]):first-child {
      margin-left: 0;
    }
  }
}
