html, body {
  height: 100%;
}

body {
  min-width: 1070px;
  @include noise;

  &.rs-responsive {
    min-width: 0;
  }
}

.rs-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$app-footer-height);
}

// .rs-push must be the same height as .rs-footer
.rs-push,
.rs-footer,
.rs-nav-footer {
  height: $app-footer-height;
}

.rs-container {
  width: 1030px;
  margin: 0 auto;
  padding: 0 $medium-padding;
  @include micro-clearfix;

  @include responsive(){
    width: auto;
    @include min-screen($large){
      & {
        padding: 0 $xlarge-padding;
      }
    }

    @include max-screen($large){
      & {
        padding: 0 $large-padding;
      }
    }

    @include max-screen($medium){
      & {
        padding: 0 $medium-padding;
      }
    }

    @include max-screen($small){
      & {
        padding: 0 $small-padding;
      }
    }
  }
}
