// Path Settings
$canon-font-path: '../fonts/' !default;
$canon-image-path: '../images/' !default;

// Color Palette

// MISSING COLORS
$white: green;
$grey150: green;
$grey250: green;
$grey175: green;
$green50: green;
$yellow50: green;
$red50: green;
$red400: green;
$blue5: green;
$blue10: green;
$blue20: green;
$blue50: green;
$blue400: green;
$yellow: green;




$grey0: #ffffff;
$grey25: #fafafa;
$grey50: #f5f5f5;
$grey100: #eeeeee;
$grey200: #e7e7e7;
$grey300: #e0e0e0;
$grey400: #d8d8d8;
$grey500: #bdbdbd;
$grey600: #9e9e9e;
$grey700: #757575;
$grey800: #616161;
$grey900: #424242;
$grey950: #333333;
$grey975: #212121;
$grey1000: #000000;

$blue:#0d74d1;
$blue100:#bbdefb;
$blue500:#3391ff;
$blue700:#0d74d1;
$blue900:#0d47a1;
$blueAccent:#00bdff;

$cyan:#16b9df;
$cyan100:#b5e2eb;
$cyan500:#16b9d4;
$cyan700:#0e94a6;
$cyan900:#0c7481;
$cyanAccent:#18ffff;

$purple:#3b44a9;
$purple100:#4a5acc;
$purple500:#3b44a9;
$purple700:#2e3187;
$purple900:#232968;
$purpleAccent:#5a74f2;

$magenta:#ec407a;
$magenta100:#f8bbd0;
$magenta500:#ec407a;
$magenta700:#c2185b;
$magenta900:#a5134e;
$magentaAccent:#ff4081;

$orange:#f57c00;
$orange100:#fdd179;
$orange500:#f57c00;
$orange700:#dd6105;
$orange900:#c15206;
$orangeAccent:#ff6d00;

$red:#f44336;
$red100:#ffcdd2;
$red500:#f44336;
$red700:#d32f2f;
$redAccent:#eb4d5c;

$gold:#ffeb3b;
$gold100:#fff9c4;
$gold500:#ffeb3b;
$gold700:#fbc02d;
$goldAccent:#ffd600;

$green:#4caf51;
$green100:#c8e6c9;
$green500:#4caf51;
$green700:#2e7d32;
$greenAccent:#43b947;

$textcolordark:#333333;
$textcolorlight:#ffffff;


// Base

$base-font-family: 'Roboto', sans-serif;
$alt-font-family: 'Roboto', sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5;
$heading-line-height: 1;
$font-size-1:.75em;//12px
$font-size-2:.813em;//13
$font-size-3:.875em;//14
$font-size-4:1.25em;//20
$font-size-5:1.5em;//24
$font-size-6:2em;//32
$font-size-7:3em;//48

// Padding
$paddingXS:4px;
$paddingS:8px;
$paddingM:12px;
$paddingL:20px;
$paddingXL:24px;
$paddingXXL:32px;

// The Grid
$cols4:400px;

// Defaults
// default col total
$total-columns: 12;
// width of each column
$column-width: 75px;
// space between columns
$gutter-width: 0px;
// space on the right and left of the grid
$grid-padding: 20px;
// alternative layout breakpoints

// Adds mixin support for IE8
$legacy-support-for-ie  : false;
$legacy-support-for-ie8 : true;

// Container Type
$container-style: fluid;

// Breakpoints
$small: 767px;
$small-padding: 20px;
$medium: 1030px;
$medium-padding: 30px;
$large: 1600px;
$large-padding: 40px;
$xlarge: 1920px;
$xlarge-padding: 60px;


// Layout

$app-nav-primary-height: 74px;
$app-nav-secondary-height: 35px;
$app-nav-utility-height: 40px;
$app-header-height: $app-nav-primary-height + $app-nav-utility-height;
$app-footer-height: 35px;
$nav-branding-width: 132px;

// Patterns

$nav-primary-link: #888;
$nav-primary-link-hover: $grey600;
$nav-primary-link-active: $red;

// Z-index
$zindexModal: 1230;
$zindexModalOverlay: 1220;
$zindexTooltip: 1210;
$zindexMenu: 1200;
$zindexNavUtility: 1120;
$zindexNavPrimary: 1110;
$zindexNavSecondary: 1100;
$zindexPopovers: 1000;
