@include sprites($spritesheet-sprites);

.rs-icon-external,
.rs-icon-external-dark,
.rs-icon-external-light {
  @include icon;
  margin-left: 5px;
}

.rs-icon-external {
  @include sprite($external-blue);
}

.rs-icon-external-dark {
  @include sprite($external-dark);
}

.rs-icon-external-light {
  @include sprite($external);
}

.rs-icon-help {
  @include icon;
  @include sprite($help);
  margin-left: 5px;
}

.rs-icon-error-indicator {
  @include icon;
  @include sprite($exclamation-sign);
  margin-left: 5px;
}

.rs-loading-indicator {
  @include icon(16px,16px);
  background-image: url('loading-indicator.gif');
  margin-left: 5px;
}
