/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-blue-right-name: 'arrow-blue-right';
$arrow-blue-right-x: 0px;
$arrow-blue-right-y: 673px;
$arrow-blue-right-offset-x: 0px;
$arrow-blue-right-offset-y: -673px;
$arrow-blue-right-width: 13px;
$arrow-blue-right-height: 13px;
$arrow-blue-right-total-width: 17px;
$arrow-blue-right-total-height: 962px;
$arrow-blue-right-image: 'icons.png';
$arrow-blue-right: (0px, 673px, 0px, -673px, 13px, 13px, 17px, 962px, 'icons.png', 'arrow-blue-right', );
$arrow-blue-up-name: 'arrow-blue-up';
$arrow-blue-up-x: 0px;
$arrow-blue-up-y: 420px;
$arrow-blue-up-offset-x: 0px;
$arrow-blue-up-offset-y: -420px;
$arrow-blue-up-width: 13px;
$arrow-blue-up-height: 13px;
$arrow-blue-up-total-width: 17px;
$arrow-blue-up-total-height: 962px;
$arrow-blue-up-image: 'icons.png';
$arrow-blue-up: (0px, 420px, 0px, -420px, 13px, 13px, 17px, 962px, 'icons.png', 'arrow-blue-up', );
$arrow-right-c0c0c0-name: 'arrow-right-c0c0c0';
$arrow-right-c0c0c0-x: 0px;
$arrow-right-c0c0c0-y: 466px;
$arrow-right-c0c0c0-offset-x: 0px;
$arrow-right-c0c0c0-offset-y: -466px;
$arrow-right-c0c0c0-width: 13px;
$arrow-right-c0c0c0-height: 13px;
$arrow-right-c0c0c0-total-width: 17px;
$arrow-right-c0c0c0-total-height: 962px;
$arrow-right-c0c0c0-image: 'icons.png';
$arrow-right-c0c0c0: (0px, 466px, 0px, -466px, 13px, 13px, 17px, 962px, 'icons.png', 'arrow-right-c0c0c0', );
$arrow-right-ccc-name: 'arrow-right-ccc';
$arrow-right-ccc-x: 0px;
$arrow-right-ccc-y: 627px;
$arrow-right-ccc-offset-x: 0px;
$arrow-right-ccc-offset-y: -627px;
$arrow-right-ccc-width: 13px;
$arrow-right-ccc-height: 13px;
$arrow-right-ccc-total-width: 17px;
$arrow-right-ccc-total-height: 962px;
$arrow-right-ccc-image: 'icons.png';
$arrow-right-ccc: (0px, 627px, 0px, -627px, 13px, 13px, 17px, 962px, 'icons.png', 'arrow-right-ccc', );
$arrow-right-fff-name: 'arrow-right-fff';
$arrow-right-fff-x: 0px;
$arrow-right-fff-y: 650px;
$arrow-right-fff-offset-x: 0px;
$arrow-right-fff-offset-y: -650px;
$arrow-right-fff-width: 13px;
$arrow-right-fff-height: 13px;
$arrow-right-fff-total-width: 17px;
$arrow-right-fff-total-height: 962px;
$arrow-right-fff-image: 'icons.png';
$arrow-right-fff: (0px, 650px, 0px, -650px, 13px, 13px, 17px, 962px, 'icons.png', 'arrow-right-fff', );
$caret-disabled-name: 'caret-disabled';
$caret-disabled-x: 0px;
$caret-disabled-y: 140px;
$caret-disabled-offset-x: 0px;
$caret-disabled-offset-y: -140px;
$caret-disabled-width: 9px;
$caret-disabled-height: 6px;
$caret-disabled-total-width: 17px;
$caret-disabled-total-height: 962px;
$caret-disabled-image: 'icons.png';
$caret-disabled: (0px, 140px, 0px, -140px, 9px, 6px, 17px, 962px, 'icons.png', 'caret-disabled', );
$caret-nav-down-999-name: 'caret-nav-down-999';
$caret-nav-down-999-x: 0px;
$caret-nav-down-999-y: 124px;
$caret-nav-down-999-offset-x: 0px;
$caret-nav-down-999-offset-y: -124px;
$caret-nav-down-999-width: 9px;
$caret-nav-down-999-height: 6px;
$caret-nav-down-999-total-width: 17px;
$caret-nav-down-999-total-height: 962px;
$caret-nav-down-999-image: 'icons.png';
$caret-nav-down-999: (0px, 124px, 0px, -124px, 9px, 6px, 17px, 962px, 'icons.png', 'caret-nav-down-999', );
$caret-nav-down-fff-name: 'caret-nav-down-fff';
$caret-nav-down-fff-x: 0px;
$caret-nav-down-fff-y: 60px;
$caret-nav-down-fff-offset-x: 0px;
$caret-nav-down-fff-offset-y: -60px;
$caret-nav-down-fff-width: 9px;
$caret-nav-down-fff-height: 6px;
$caret-nav-down-fff-total-width: 17px;
$caret-nav-down-fff-total-height: 962px;
$caret-nav-down-fff-image: 'icons.png';
$caret-nav-down-fff: (0px, 60px, 0px, -60px, 9px, 6px, 17px, 962px, 'icons.png', 'caret-nav-down-fff', );
$caret-primary-active-name: 'caret-primary-active';
$caret-primary-active-x: 0px;
$caret-primary-active-y: 76px;
$caret-primary-active-offset-x: 0px;
$caret-primary-active-offset-y: -76px;
$caret-primary-active-width: 9px;
$caret-primary-active-height: 6px;
$caret-primary-active-total-width: 17px;
$caret-primary-active-total-height: 962px;
$caret-primary-active-image: 'icons.png';
$caret-primary-active: (0px, 76px, 0px, -76px, 9px, 6px, 17px, 962px, 'icons.png', 'caret-primary-active', );
$caret-primary-name: 'caret-primary';
$caret-primary-x: 0px;
$caret-primary-y: 92px;
$caret-primary-offset-x: 0px;
$caret-primary-offset-y: -92px;
$caret-primary-width: 9px;
$caret-primary-height: 6px;
$caret-primary-total-width: 17px;
$caret-primary-total-height: 962px;
$caret-primary-image: 'icons.png';
$caret-primary: (0px, 92px, 0px, -92px, 9px, 6px, 17px, 962px, 'icons.png', 'caret-primary', );
$caret-name: 'caret';
$caret-x: 0px;
$caret-y: 108px;
$caret-offset-x: 0px;
$caret-offset-y: -108px;
$caret-width: 9px;
$caret-height: 6px;
$caret-total-width: 17px;
$caret-total-height: 962px;
$caret-image: 'icons.png';
$caret: (0px, 108px, 0px, -108px, 9px, 6px, 17px, 962px, 'icons.png', 'caret', );
$cog-disabled-name: 'cog-disabled';
$cog-disabled-x: 0px;
$cog-disabled-y: 892px;
$cog-disabled-offset-x: 0px;
$cog-disabled-offset-y: -892px;
$cog-disabled-width: 16px;
$cog-disabled-height: 16px;
$cog-disabled-total-width: 17px;
$cog-disabled-total-height: 962px;
$cog-disabled-image: 'icons.png';
$cog-disabled: (0px, 892px, 0px, -892px, 16px, 16px, 17px, 962px, 'icons.png', 'cog-disabled', );
$cog-hover-name: 'cog-hover';
$cog-hover-x: 0px;
$cog-hover-y: 866px;
$cog-hover-offset-x: 0px;
$cog-hover-offset-y: -866px;
$cog-hover-width: 16px;
$cog-hover-height: 16px;
$cog-hover-total-width: 17px;
$cog-hover-total-height: 962px;
$cog-hover-image: 'icons.png';
$cog-hover: (0px, 866px, 0px, -866px, 16px, 16px, 17px, 962px, 'icons.png', 'cog-hover', );
$cog-small-disabled-name: 'cog-small-disabled';
$cog-small-disabled-x: 0px;
$cog-small-disabled-y: 558px;
$cog-small-disabled-offset-x: 0px;
$cog-small-disabled-offset-y: -558px;
$cog-small-disabled-width: 13px;
$cog-small-disabled-height: 13px;
$cog-small-disabled-total-width: 17px;
$cog-small-disabled-total-height: 962px;
$cog-small-disabled-image: 'icons.png';
$cog-small-disabled: (0px, 558px, 0px, -558px, 13px, 13px, 17px, 962px, 'icons.png', 'cog-small-disabled', );
$cog-small-name: 'cog-small';
$cog-small-x: 0px;
$cog-small-y: 604px;
$cog-small-offset-x: 0px;
$cog-small-offset-y: -604px;
$cog-small-width: 13px;
$cog-small-height: 13px;
$cog-small-total-width: 17px;
$cog-small-total-height: 962px;
$cog-small-image: 'icons.png';
$cog-small: (0px, 604px, 0px, -604px, 13px, 13px, 17px, 962px, 'icons.png', 'cog-small', );
$cog-name: 'cog';
$cog-x: 0px;
$cog-y: 840px;
$cog-offset-x: 0px;
$cog-offset-y: -840px;
$cog-width: 16px;
$cog-height: 16px;
$cog-total-width: 17px;
$cog-total-height: 962px;
$cog-image: 'icons.png';
$cog: (0px, 840px, 0px, -840px, 16px, 16px, 17px, 962px, 'icons.png', 'cog', );
$error-indicator-name: 'error-indicator';
$error-indicator-x: 0px;
$error-indicator-y: 284px;
$error-indicator-offset-x: 0px;
$error-indicator-offset-y: -284px;
$error-indicator-width: 13px;
$error-indicator-height: 12px;
$error-indicator-total-width: 17px;
$error-indicator-total-height: 962px;
$error-indicator-image: 'icons.png';
$error-indicator: (0px, 284px, 0px, -284px, 13px, 12px, 17px, 962px, 'icons.png', 'error-indicator', );
$exclamation-sign-name: 'exclamation-sign';
$exclamation-sign-x: 0px;
$exclamation-sign-y: 306px;
$exclamation-sign-offset-x: 0px;
$exclamation-sign-offset-y: -306px;
$exclamation-sign-width: 13px;
$exclamation-sign-height: 12px;
$exclamation-sign-total-width: 17px;
$exclamation-sign-total-height: 962px;
$exclamation-sign-image: 'icons.png';
$exclamation-sign: (0px, 306px, 0px, -306px, 13px, 12px, 17px, 962px, 'icons.png', 'exclamation-sign', );
$external-blue-name: 'external-blue';
$external-blue-x: 0px;
$external-blue-y: 328px;
$external-blue-offset-x: 0px;
$external-blue-offset-y: -328px;
$external-blue-width: 13px;
$external-blue-height: 13px;
$external-blue-total-width: 17px;
$external-blue-total-height: 962px;
$external-blue-image: 'icons.png';
$external-blue: (0px, 328px, 0px, -328px, 13px, 13px, 17px, 962px, 'icons.png', 'external-blue', );
$external-dark-hover-name: 'external-dark-hover';
$external-dark-hover-x: 0px;
$external-dark-hover-y: 351px;
$external-dark-hover-offset-x: 0px;
$external-dark-hover-offset-y: -351px;
$external-dark-hover-width: 13px;
$external-dark-hover-height: 13px;
$external-dark-hover-total-width: 17px;
$external-dark-hover-total-height: 962px;
$external-dark-hover-image: 'icons.png';
$external-dark-hover: (0px, 351px, 0px, -351px, 13px, 13px, 17px, 962px, 'icons.png', 'external-dark-hover', );
$external-dark-name: 'external-dark';
$external-dark-x: 0px;
$external-dark-y: 374px;
$external-dark-offset-x: 0px;
$external-dark-offset-y: -374px;
$external-dark-width: 13px;
$external-dark-height: 13px;
$external-dark-total-width: 17px;
$external-dark-total-height: 962px;
$external-dark-image: 'icons.png';
$external-dark: (0px, 374px, 0px, -374px, 13px, 13px, 17px, 962px, 'icons.png', 'external-dark', );
$external-name: 'external';
$external-x: 0px;
$external-y: 397px;
$external-offset-x: 0px;
$external-offset-y: -397px;
$external-width: 13px;
$external-height: 13px;
$external-total-width: 17px;
$external-total-height: 962px;
$external-image: 'icons.png';
$external: (0px, 397px, 0px, -397px, 13px, 13px, 17px, 962px, 'icons.png', 'external', );
$grey-x-name: 'grey-x';
$grey-x-x: 0px;
$grey-x-y: 196px;
$grey-x-offset-x: 0px;
$grey-x-offset-y: -196px;
$grey-x-width: 12px;
$grey-x-height: 12px;
$grey-x-total-width: 17px;
$grey-x-total-height: 962px;
$grey-x-image: 'icons.png';
$grey-x: (0px, 196px, 0px, -196px, 12px, 12px, 17px, 962px, 'icons.png', 'grey-x', );
$help-name: 'help';
$help-x: 0px;
$help-y: 443px;
$help-offset-x: 0px;
$help-offset-y: -443px;
$help-width: 13px;
$help-height: 13px;
$help-total-width: 17px;
$help-total-height: 962px;
$help-image: 'icons.png';
$help: (0px, 443px, 0px, -443px, 13px, 13px, 17px, 962px, 'icons.png', 'help', );
$light-grey-x-name: 'light-grey-x';
$light-grey-x-x: 0px;
$light-grey-x-y: 218px;
$light-grey-x-offset-x: 0px;
$light-grey-x-offset-y: -218px;
$light-grey-x-width: 12px;
$light-grey-x-height: 12px;
$light-grey-x-total-width: 17px;
$light-grey-x-total-height: 962px;
$light-grey-x-image: 'icons.png';
$light-grey-x: (0px, 218px, 0px, -218px, 12px, 12px, 17px, 962px, 'icons.png', 'light-grey-x', );
$minus-circle-808080-name: 'minus-circle-808080';
$minus-circle-808080-x: 0px;
$minus-circle-808080-y: 814px;
$minus-circle-808080-offset-x: 0px;
$minus-circle-808080-offset-y: -814px;
$minus-circle-808080-width: 16px;
$minus-circle-808080-height: 16px;
$minus-circle-808080-total-width: 17px;
$minus-circle-808080-total-height: 962px;
$minus-circle-808080-image: 'icons.png';
$minus-circle-808080: (0px, 814px, 0px, -814px, 16px, 16px, 17px, 962px, 'icons.png', 'minus-circle-808080', );
$minus-circle-red-name: 'minus-circle-red';
$minus-circle-red-x: 0px;
$minus-circle-red-y: 788px;
$minus-circle-red-offset-x: 0px;
$minus-circle-red-offset-y: -788px;
$minus-circle-red-width: 16px;
$minus-circle-red-height: 16px;
$minus-circle-red-total-width: 17px;
$minus-circle-red-total-height: 962px;
$minus-circle-red-image: 'icons.png';
$minus-circle-red: (0px, 788px, 0px, -788px, 16px, 16px, 17px, 962px, 'icons.png', 'minus-circle-red', );
$ok-circle-name: 'ok-circle';
$ok-circle-x: 0px;
$ok-circle-y: 535px;
$ok-circle-offset-x: 0px;
$ok-circle-offset-y: -535px;
$ok-circle-width: 13px;
$ok-circle-height: 13px;
$ok-circle-total-width: 17px;
$ok-circle-total-height: 962px;
$ok-circle-image: 'icons.png';
$ok-circle: (0px, 535px, 0px, -535px, 13px, 13px, 17px, 962px, 'icons.png', 'ok-circle', );
$pencil-666-name: 'pencil-666';
$pencil-666-x: 0px;
$pencil-666-y: 945px;
$pencil-666-offset-x: 0px;
$pencil-666-offset-y: -945px;
$pencil-666-width: 17px;
$pencil-666-height: 17px;
$pencil-666-total-width: 17px;
$pencil-666-total-height: 962px;
$pencil-666-image: 'icons.png';
$pencil-666: (0px, 945px, 0px, -945px, 17px, 17px, 17px, 962px, 'icons.png', 'pencil-666', );
$pencil-999-name: 'pencil-999';
$pencil-999-x: 0px;
$pencil-999-y: 918px;
$pencil-999-offset-x: 0px;
$pencil-999-offset-y: -918px;
$pencil-999-width: 17px;
$pencil-999-height: 17px;
$pencil-999-total-width: 17px;
$pencil-999-total-height: 962px;
$pencil-999-image: 'icons.png';
$pencil-999: (0px, 918px, 0px, -918px, 17px, 17px, 17px, 962px, 'icons.png', 'pencil-999', );
$plus-dotted-blue-name: 'plus-dotted-blue';
$plus-dotted-blue-x: 0px;
$plus-dotted-blue-y: 240px;
$plus-dotted-blue-offset-x: 0px;
$plus-dotted-blue-offset-y: -240px;
$plus-dotted-blue-width: 12px;
$plus-dotted-blue-height: 12px;
$plus-dotted-blue-total-width: 17px;
$plus-dotted-blue-total-height: 962px;
$plus-dotted-blue-image: 'icons.png';
$plus-dotted-blue: (0px, 240px, 0px, -240px, 12px, 12px, 17px, 962px, 'icons.png', 'plus-dotted-blue', );
$plus-dotted-grey-name: 'plus-dotted-grey';
$plus-dotted-grey-x: 0px;
$plus-dotted-grey-y: 262px;
$plus-dotted-grey-offset-x: 0px;
$plus-dotted-grey-offset-y: -262px;
$plus-dotted-grey-width: 12px;
$plus-dotted-grey-height: 12px;
$plus-dotted-grey-total-width: 17px;
$plus-dotted-grey-total-height: 962px;
$plus-dotted-grey-image: 'icons.png';
$plus-dotted-grey: (0px, 262px, 0px, -262px, 12px, 12px, 17px, 962px, 'icons.png', 'plus-dotted-grey', );
$section-handle-hover-name: 'section-handle-hover';
$section-handle-hover-x: 0px;
$section-handle-hover-y: 176px;
$section-handle-hover-offset-x: 0px;
$section-handle-hover-offset-y: -176px;
$section-handle-hover-width: 11px;
$section-handle-hover-height: 10px;
$section-handle-hover-total-width: 17px;
$section-handle-hover-total-height: 962px;
$section-handle-hover-image: 'icons.png';
$section-handle-hover: (0px, 176px, 0px, -176px, 11px, 10px, 17px, 962px, 'icons.png', 'section-handle-hover', );
$section-handle-name: 'section-handle';
$section-handle-x: 0px;
$section-handle-y: 156px;
$section-handle-offset-x: 0px;
$section-handle-offset-y: -156px;
$section-handle-width: 11px;
$section-handle-height: 10px;
$section-handle-total-width: 17px;
$section-handle-total-height: 962px;
$section-handle-image: 'icons.png';
$section-handle: (0px, 156px, 0px, -156px, 11px, 10px, 17px, 962px, 'icons.png', 'section-handle', );
$section-toggle-collapsed-hover-name: 'section-toggle-collapsed-hover';
$section-toggle-collapsed-hover-x: 0px;
$section-toggle-collapsed-hover-y: 696px;
$section-toggle-collapsed-hover-offset-x: 0px;
$section-toggle-collapsed-hover-offset-y: -696px;
$section-toggle-collapsed-hover-width: 13px;
$section-toggle-collapsed-hover-height: 13px;
$section-toggle-collapsed-hover-total-width: 17px;
$section-toggle-collapsed-hover-total-height: 962px;
$section-toggle-collapsed-hover-image: 'icons.png';
$section-toggle-collapsed-hover: (0px, 696px, 0px, -696px, 13px, 13px, 17px, 962px, 'icons.png', 'section-toggle-collapsed-hover', );
$section-toggle-collapsed-name: 'section-toggle-collapsed';
$section-toggle-collapsed-x: 0px;
$section-toggle-collapsed-y: 719px;
$section-toggle-collapsed-offset-x: 0px;
$section-toggle-collapsed-offset-y: -719px;
$section-toggle-collapsed-width: 13px;
$section-toggle-collapsed-height: 13px;
$section-toggle-collapsed-total-width: 17px;
$section-toggle-collapsed-total-height: 962px;
$section-toggle-collapsed-image: 'icons.png';
$section-toggle-collapsed: (0px, 719px, 0px, -719px, 13px, 13px, 17px, 962px, 'icons.png', 'section-toggle-collapsed', );
$section-toggle-expanded-hover-name: 'section-toggle-expanded-hover';
$section-toggle-expanded-hover-x: 0px;
$section-toggle-expanded-hover-y: 742px;
$section-toggle-expanded-hover-offset-x: 0px;
$section-toggle-expanded-hover-offset-y: -742px;
$section-toggle-expanded-hover-width: 13px;
$section-toggle-expanded-hover-height: 13px;
$section-toggle-expanded-hover-total-width: 17px;
$section-toggle-expanded-hover-total-height: 962px;
$section-toggle-expanded-hover-image: 'icons.png';
$section-toggle-expanded-hover: (0px, 742px, 0px, -742px, 13px, 13px, 17px, 962px, 'icons.png', 'section-toggle-expanded-hover', );
$section-toggle-expanded-name: 'section-toggle-expanded';
$section-toggle-expanded-x: 0px;
$section-toggle-expanded-y: 581px;
$section-toggle-expanded-offset-x: 0px;
$section-toggle-expanded-offset-y: -581px;
$section-toggle-expanded-width: 13px;
$section-toggle-expanded-height: 13px;
$section-toggle-expanded-total-width: 17px;
$section-toggle-expanded-total-height: 962px;
$section-toggle-expanded-image: 'icons.png';
$section-toggle-expanded: (0px, 581px, 0px, -581px, 13px, 13px, 17px, 962px, 'icons.png', 'section-toggle-expanded', );
$sort-ascending-hover-name: 'sort-ascending-hover';
$sort-ascending-hover-x: 0px;
$sort-ascending-hover-y: 45px;
$sort-ascending-hover-offset-x: 0px;
$sort-ascending-hover-offset-y: -45px;
$sort-ascending-hover-width: 9px;
$sort-ascending-hover-height: 5px;
$sort-ascending-hover-total-width: 17px;
$sort-ascending-hover-total-height: 962px;
$sort-ascending-hover-image: 'icons.png';
$sort-ascending-hover: (0px, 45px, 0px, -45px, 9px, 5px, 17px, 962px, 'icons.png', 'sort-ascending-hover', );
$sort-ascending-name: 'sort-ascending';
$sort-ascending-x: 0px;
$sort-ascending-y: 30px;
$sort-ascending-offset-x: 0px;
$sort-ascending-offset-y: -30px;
$sort-ascending-width: 9px;
$sort-ascending-height: 5px;
$sort-ascending-total-width: 17px;
$sort-ascending-total-height: 962px;
$sort-ascending-image: 'icons.png';
$sort-ascending: (0px, 30px, 0px, -30px, 9px, 5px, 17px, 962px, 'icons.png', 'sort-ascending', );
$sort-descending-hover-name: 'sort-descending-hover';
$sort-descending-hover-x: 0px;
$sort-descending-hover-y: 15px;
$sort-descending-hover-offset-x: 0px;
$sort-descending-hover-offset-y: -15px;
$sort-descending-hover-width: 9px;
$sort-descending-hover-height: 5px;
$sort-descending-hover-total-width: 17px;
$sort-descending-hover-total-height: 962px;
$sort-descending-hover-image: 'icons.png';
$sort-descending-hover: (0px, 15px, 0px, -15px, 9px, 5px, 17px, 962px, 'icons.png', 'sort-descending-hover', );
$sort-descending-name: 'sort-descending';
$sort-descending-x: 0px;
$sort-descending-y: 0px;
$sort-descending-offset-x: 0px;
$sort-descending-offset-y: 0px;
$sort-descending-width: 9px;
$sort-descending-height: 5px;
$sort-descending-total-width: 17px;
$sort-descending-total-height: 962px;
$sort-descending-image: 'icons.png';
$sort-descending: (0px, 0px, 0px, 0px, 9px, 5px, 17px, 962px, 'icons.png', 'sort-descending', );
$status-green-name: 'status-green';
$status-green-x: 0px;
$status-green-y: 512px;
$status-green-offset-x: 0px;
$status-green-offset-y: -512px;
$status-green-width: 13px;
$status-green-height: 13px;
$status-green-total-width: 17px;
$status-green-total-height: 962px;
$status-green-image: 'icons.png';
$status-green: (0px, 512px, 0px, -512px, 13px, 13px, 17px, 962px, 'icons.png', 'status-green', );
$status-red-name: 'status-red';
$status-red-x: 0px;
$status-red-y: 489px;
$status-red-offset-x: 0px;
$status-red-offset-y: -489px;
$status-red-width: 13px;
$status-red-height: 13px;
$status-red-total-width: 17px;
$status-red-total-height: 962px;
$status-red-image: 'icons.png';
$status-red: (0px, 489px, 0px, -489px, 13px, 13px, 17px, 962px, 'icons.png', 'status-red', );
$status-yellow-name: 'status-yellow';
$status-yellow-x: 0px;
$status-yellow-y: 765px;
$status-yellow-offset-x: 0px;
$status-yellow-offset-y: -765px;
$status-yellow-width: 13px;
$status-yellow-height: 13px;
$status-yellow-total-width: 17px;
$status-yellow-total-height: 962px;
$status-yellow-image: 'icons.png';
$status-yellow: (0px, 765px, 0px, -765px, 13px, 13px, 17px, 962px, 'icons.png', 'status-yellow', );
$spritesheet-width: 17px;
$spritesheet-height: 962px;
$spritesheet-image: 'icons.png';
$spritesheet-sprites: ($arrow-blue-right, $arrow-blue-up, $arrow-right-c0c0c0, $arrow-right-ccc, $arrow-right-fff, $caret-disabled, $caret-nav-down-999, $caret-nav-down-fff, $caret-primary-active, $caret-primary, $caret, $cog-disabled, $cog-hover, $cog-small-disabled, $cog-small, $cog, $error-indicator, $exclamation-sign, $external-blue, $external-dark-hover, $external-dark, $external, $grey-x, $help, $light-grey-x, $minus-circle-808080, $minus-circle-red, $ok-circle, $pencil-666, $pencil-999, $plus-dotted-blue, $plus-dotted-grey, $section-handle-hover, $section-handle, $section-toggle-collapsed-hover, $section-toggle-collapsed, $section-toggle-expanded-hover, $section-toggle-expanded, $sort-ascending-hover, $sort-ascending, $sort-descending-hover, $sort-descending, $status-green, $status-red, $status-yellow, );
$spritesheet: (17px, 962px, 'icons.png', $spritesheet-sprites, );


