.rs-panel {
  background: $white;
  box-shadow: #c2c2c2 0px 3px 8px 1px;
}

.rs-pull-left, %rs-pull-left {
  float: left;
}

.rs-pull-right, %rs-pull-right {
  float: right;
}

.rs-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rs-quiet {
  color: $grey400;
  font-weight: normal;
}

.rs-no-wrap {
  white-space: nowrap;
}

.rs-key-divider:after {
  content:'\2022';
  margin:0 10px;
  font-weight:bold;
  line-height: 13px;
}

%last-child {
  & > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.rs-hidden {
  display: none !important;
}

.rs-invisible {
  visibility: hidden;
}