

.author {
	font-size: $base-font-size;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 0;
	color: #ffffff;
	letter-spacing: 0.05em;
}
.modified {
	font-weight: 300;
	font-size: $base-font-size * 0.9;
	margin-top: 1em;
	margin-bottom: 0;
	color: #ffffff;
	span {
	font-style: italic;
	}
}

p {
	font-size: 1.1em;
	color: #404040;
    font-weight: 300;
    line-height: 1.5em;
}

.ws-section-head {
	padding:40px 0 24px 0;
	border-top:1px solid #e0e0e0;
	margin-top:40px;
	font-weight:400;
}

.ws-section-head:first-child{
	border-top:none;
	margin-top:0;
	padding-top:0;
}

.ws-section-con p{
	padding-bottom:32px;
}

.ws-section-con .form-subtext{
	padding-bottom:0;
}

.ws-section-con h3{
	padding:32px 0 12px;
}

.ws-section-con h3:first-of-type{
	padding-top:0;
}

.ws-first-p{
	padding-bottom:32px;
}

.ws-todo-bar{
	color:white;
	background-color:$purple500;
	padding:$paddingXS $paddingS !important; 
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    border-radius:2px;
}

 .formGroup.ws-formGroup-last{
 	padding-bottom:0;
 }

ol {
	list-style-type: disc;
}

ul {
	list-style-type: circle;
}

.ws-doc-list{
	list-style-type: disc;
	padding-left:24px;
}

/**
* Font Teaser Page Styles
*/
.font-tease {
	p {
		display: block;
		font-size: 48px;
		margin-bottom: 0;
		color: #64B967;
	}
	span {
		display: block;
		font-size: 120px;
		line-height: 0.75em;
		color: #C26AAC;
		&::first-letter {
			color: #ffffff;
			text-shadow: -1px 0 #C26AAC, 0 1px #C26AAC, 1px 0 #C26AAC, 0 -1px #C26AAC;
		}
	}
}
/**
* Component Status Tag
*/
$grey300: #e0e0e0;
$purple:#3b44a9;
$green:#4caf51;
$paddingXS:4px;
$paddingS:8px;
$paddingM:12px;
$paddingL:20px;
$paddingXL:28px;
$paddingXXL:32px;

.status {
	background-color: $grey300;
    padding: $paddingXS $paddingS;
    border-radius: 12px;
    font-weight:400;
  	font-size:12px;
  	letter-spacing:0.5px;
    color: #fff;
    vertical-align: 4px;
    white-space: nowrap;
    margin-left: 2em;
    display:inline-block;
}

.prototype {
	background-color: $purple;
}

.dev-ready {
	background-color: $green;
}

/**
* Font Teaser Page Styles
*/
.font-tease {
	p {
		display: block;
		font-size: 48px;
		margin-bottom: 0;
		color: #64B967;
	}
	span {
		display: block;
		font-size: 120px;
		line-height: 0.75em;
		color: #C26AAC;
		&::first-letter {
			color: #ffffff;
			text-shadow: -1px 0 #C26AAC, 0 1px #C26AAC, 1px 0 #C26AAC, 0 -1px #C26AAC;
		}
	}
}
