/**
 * Site header
 */
.site-header {
    display: block;
    background-color: #fafafa;
    height: 8em;
    max-width: 17em;
    img {
        padding: 3em 2.5em;
        width: 10em;
    }
}


nav {
    float: left;
    line-height: 1.5em;
    position: fixed;
    top: 0em;
    max-width: 17em;
    width: 17em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    moz-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    z-index: 2;
    background-color: #fafafa;
    .inactive {
    display: none;
    }
    .active {
    display:block;
        li {
        
        }
    }
    .copyright {
        position: absolute;
        bottom: 1em;
        width: 17em;
        width: 17em;
        padding: 1.1em 2.5em;
        color: $grey-color;
        font-size: 0.75em;
        text-align:center;
        margin: auto;
        z-index: 2;
        margin-bottom: 1em;
    }
    ul {
        list-style-type: none;
        margin: 0 0;

        li {
            ul {
                -moz-box-shadow:    inset  0  8px 8px -8px rgba(102,102,102,.25), 
                                    inset  0 -8px 8px -8px rgba(102,102,102,.25);
                -webkit-box-shadow: inset  0  8px 8px -8px rgba(102,102,102,.25), 
                                    inset  0 -8px 8px -8px rgba(102,102,102,.25);
                 box-shadow:        inset  0  8px 8px -8px rgba(102,102,102,.25), 
                                    inset  0 -8px 8px -8px rgba(102,102,102,.25);
                a {
                    padding: 1.25em 3.8em; 
                    line-height: 0.5em;
                    .active {
                        background-color: lighten($brand-color, 40%);
                        transition: all 1s ease;
                    }
                }
            }
            a {
                .active {
                    background-color: lighten($brand-color, 40%);
                }
                color: $brand-color;
                position: relative;
                display: block;
                padding: 1.1em 2.5em;
                letter-spacing: 0.05em;
                &:hover {
                    cursor: pointer;
                }
                &:hover {
                    background-color: lighten($brand-color, 50%);
                    text-decoration: none;
                    color: $brand-color;
                }
                &:not(.nested) {
                    &:after {
                        content: "\f0da";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        color: lighten($grey-color, 30%);
                        font-size: $base-font-size;
                        padding-right: 2em;
                        position: absolute;
                        top: 16px;
                        right: 0;
                        .active {
                            content: "\f0d7";
                        }
                    }
                }
            }
        }
    }
}



/**
 * Preview content styles
 */
.preview-post {
    padding: $spacing-unit 0 $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;
    &:last-of-type {
        border-bottom: none;
    }
    .preview-content {
        padding-top: $spacing-unit;
        p {
            font-size: 1.25em;
            line-height: 1.75em;
            color: $grey-color;
            font-weight: 300;
        }
        a {
            &:hover {
                text-decoration: none;
                color: darken($brand-color, 10%);
            }
        }
    }
}


/**
 * Post page content
 */
.page-wrapper {
    position: relative;
    float: right;
    width: calc(100% - 17em);
    background-color: #f9f9f9;

    .page-heading {
        font-size: 3.815rem;
        color: #f4f4f4;
        padding: $spacing-unit $spacing-unit;
        padding-left: $spacing-unit * 2;
        background: $brand-color;
        font-weight: 200;
    }

    .page-content {
        background-color: #ffffff;
        padding: $spacing-unit * 2;
        overflowY: scroll;
        box-sizing: border-box;
    }
}

/**
 * Confidence star rating
 */

.confidence-rating {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 0;
    li {
        flex: 0 0 16px;
        height: 16px;
        background: url("../assets/website/img/stars.svg");
        background-size: 32px;
        background-position: 0;
    }
    .active {
            background-position: -16px 0;
    }
}

/**
 * Footer content
 */
.site-footer {
    margin-top: $spacing-unit * 2;
    padding: ($spacing-unit * 1) ($spacing-unit * 2);
    background-color: #95a5a6;
    text-align: center;
    color: #ffffff;
    p {
        font-size: 0.84em;
        margin: 0;
        font-decoration: italic;
        padding-top: $spacing-unit / 5;
        color: #ffffff;
    }
    span {
        &:first-of-type {
            &:after {
                content: "\f004";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: #d32F2F;
                font-size: $base-font-size * 1.5;
                padding: 0 0.5em;
                position: relative;
                top: 2px;
            }
        }
    }
}

/**
 * Font glyph styles
 */ 
i {
    padding-right: 10px;
}

.glyph {
    font-size: 1.5em;
    color: #767677;
}

.glyph-name {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5em;
}

.glyph-row {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Notification Styles
 */ 


.inform {
    background-color: rgba($brand-color, 0.1);
    border-top: solid 2px $brand-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        content: "\e90d";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-decoration: inherit;
        color: $brand-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

.warn {
    background-color: rgba($warn-color, 0.1);
    border-top: solid 2px $warn-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e923";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $warn-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}
.admonish {
    background-color: rgba($admonish-color, 0.2);
    border-top: solid 2px $admonish-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e91a";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $admonish-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

/**
 * Resource List styles
 */

.resource-list { 
    li {
        a {
            margin-left: 1em;
            &:before {
                border: 1px solid #c5c5c5;
                background-color: $brand-color;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 6px;
                left: 1px;
                position: absolute;
                top: 7px;
                -webkit-transition: border-color 250ms ease 0s;
                transition: border-color 250ms ease 0s;
                width: 6px;
            }
        }
    }
}

/**
 * Download Resource Style
 */
.dl-resource {
    padding: 1em;
    border-radius: 2px;
    background-color: rgba($brand-color, 0.2);
    border: solid 1px $brand-color;
    i {
        color: $brand-color;
    }
    a {
        &:hover {
            text-decoration: none;
            color: $brand-color;
        }
    }
}


/**
 * Back-to-top Button
 */
.btt-btn {
    position: fixed;
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
    background-color: $brand-color; 
}
