$grey0: #ffffff;
$grey25: #fafafa;
$grey50: #f5f5f5;
$grey100: #eeeeee;
$grey200: #e7e7e7;
$grey300: #e0e0e0;
$grey400: #d8d8d8;
$grey500: #bdbdbd;
$grey600: #9e9e9e;
$grey700: #757575;
$grey800: #616161;
$grey900: #424242;
$grey950: #333333;
$grey975: #212121;
$grey1000: #000000;

$blue:#0d74d1;
$blue100:#bbdefb;
$blue500:#3391ff;
$blue700:#0d74d1;
$blue900:#0d47a1;
$blueAccent:#00bdff;

$cyan:#16b9df;
$cyan100:#e4f9f9;
$cyan500:#16b9d4;
$cyan700:#0e94a6;
$cyan900:#0c7481;
$cyanAccent:#18ffff;

$purple:#3b44a9;
$purple100:#4a5acc;
$purple500:#3b44a9;
$purple700:#2e3187;
$purple900:#232968;
$purpleAccent:#5a74f2;

$magenta:#ec407a;
$magenta100:#f8bbd0;
$magenta500:#ec407a;
$magenta700:#c2185b;
$magenta900:#a5134e;
$magentaAccent:#ff4081;

$orange:#f57c00;
$orange100:#fdd179;
$orange500:#f57c00;
$orange700:#dd6105;
$orange900:#c15206;
$orangeAccent:#ff6d00;

$red:#f44336;
$red100:#ffcdd2;
$red500:#f44336;
$red700:#d32f2f;
$redAccent:#ec515f;

$gold:#ffeb3b;
$gold100:#fff9c4;
$gold500:#ffeb3b;
$gold700:#fbc02d;
$goldAccent:#ffd600;

$green:#4caf51;
$green100:#c8e6c9;
$green500:#4caf51;
$green700:#2e7d32;
$greenAccent:#43b947;

$textcolordark:#333333;
$textcolorlight:#ffffff;


// Base

$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$alt-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5;
$heading-line-height: 1;
$font-size-1:.75em;//12px
$font-size-2:.813em;//13
$font-size-3:.875em;//14
$font-size-4:1.25em;//20
$font-size-5:1.5em;//24
$font-size-6:2em;//32
$font-size-7:3em;//48

// Padding
$paddingXS:4px;
$paddingS:8px;
$paddingM:12px;
$paddingL:20px;
$paddingXL:28px;
$paddingXXL:32px;

// The Grid
$cols4:400px;

// Defaults
// default col total
$total-columns: 12;
// width of each column
$column-width: 75px;
// space between columns
$gutter-width: 0px;
// space on the right and left of the grid
$grid-padding: 20px;
// alternative layout breakpoints

// Adds mixin support for IE8
$legacy-support-for-ie  : false;
$legacy-support-for-ie8 : true;

// Container Type
$container-style: fluid;

// Breakpoints
$small: 767px;
$small-padding: 20px;
$medium: 1030px;
$medium-padding: 30px;
$large: 1600px;
$large-padding: 40px;
$xlarge: 1920px;
$xlarge-padding: 60px;


// Layout

$app-nav-primary-height: 74px;
$app-nav-secondary-height: 35px;
$app-nav-utility-height: 40px;
$app-header-height: $app-nav-primary-height + $app-nav-utility-height;
$app-footer-height: 35px;
$nav-branding-width: 132px;

// Patterns

$nav-primary-link: #888;
$nav-primary-link-hover: $grey600;
$nav-primary-link-active: $red;

// Z-index
$zindexModal: 1230;
$zindexModalOverlay: 1220;
$zindexTooltip: 1210;
$zindexMenu: 1200;
$zindexNavUtility: 1120;
$zindexNavPrimary: 1110;
$zindexNavSecondary: 1100;
$zindexPopovers: 1000;

/**
 * Site header
 */
.site-header {
    display: block;
    background-color: $grey1000;
    padding: 6px 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    a {
        float: left;
        width: 240px;
        img {
            width: 8em;
        }
        div {
            float: left;
        }
    }
}


nav {
    position: fixed;
    top: 40px;
    float: left;
    line-height: 1.5em;
    width: 17em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    moz-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    z-index: 2;
    background-color: $grey975;
    padding-top: 40px;
    .inactive {
        display: none;
    }
    .active {
        display:block;
        li {
        }
    }
    ul {
        list-style-type: none;
        margin: 0 0;

        li {
            a {
                .active {
                    background-color: $grey800;
                }
                color: $grey400 !important;
                position: relative;
                display: block;
                padding: 8px 32px;
                letter-spacing: 0.05em;
                &:hover {
                    cursor: pointer;
                }
                &:hover {
                    background-color: $grey800;
                    text-decoration: none;
                }
                &:after {
                    content: "\e900";
                    font-family: 'DS_icon_font' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-decoration: inherit;
                    color: $grey400;
                    font-size: $base-font-size;
                    padding-right: 2em;
                    position: absolute;
                    top: 33%;
                    right: 0;
                    font-size: 12px;
                    .active {
                        content: "\e903";
                    }
                }
            }
            ul {
                a {
                    .active {
                        transition: all 1s ease;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}



/**
 * Preview content styles
 */
.preview-post {
    padding: $spacing-unit 0 $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;
    &:last-of-type {
        border-bottom: none;
    }
    .preview-content {
        padding-top: $spacing-unit;
        p {
            font-size: 1.25em;
            line-height: 1.75em;
            color: $grey-color;
            font-weight: 300;
        }
        a {
            &:hover {
                text-decoration: none;
                color: darken($brand-color, 10%);
            }
        }
    }
}

body {
    background: #fff !important;
}


/**
 * Post page content
 */
.page-wrapper {
    position: relative;
    float: right;
    width: calc(100% - 17em);
    top: 40px;

    .page-heading {
        font-size: 3em;
        font-weight:100;
        color: #424242;
        padding: 40px 28px;
    }

    .page-content {
        padding: 0 28px 40px 28px;
        overflowY: scroll;
        box-sizing: border-box;
    }
}

/**
 * Confidence star rating
 */

.confidence-rating {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 0;
    li {
        flex: 0 0 16px;
        height: 16px;
        background: url("../assets/website/img/stars.svg");
        background-size: 32px;
        background-position: 0;
    }
    .active {
            background-position: -16px 0;
    }
}

/**
 * Footer content
 */
.site-footer {
    clear: both;
    padding: 8px;
    background-color: $grey1000;
    text-align: center;
    color: #ffffff;
    font-size: .75em;
    line-height: 1;
    p {
        font-size: 10px;
        margin: 0;
        color: #ffffff;
        padding: 4px 0;
    }
    span {
        &:first-of-type {
            &:after {
                content: "\f004";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: #d32F2F;
                font-size: $base-font-size * 1.5;
                padding: 0 0.5em;
                position: relative;
                top: 2px;
            }
        }
    }
}

/**
 * Font glyph styles
 */ 
i {
    padding-right: 10px;
}

.glyph {
    font-size: 1.5em;
    color: #767677;
}

.glyph-name {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5em;
}

.glyph-row {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Notification Styles
 */ 


.inform {
    background-color: rgba($brand-color, 0.1);
    border-top: solid 2px $brand-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        content: "\e90d";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-decoration: inherit;
        color: $brand-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

.warn {
    background-color: rgba($warn-color, 0.1);
    border-top: solid 2px $warn-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e923";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $warn-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}
.admonish {
    background-color: rgba($admonish-color, 0.2);
    border-top: solid 2px $admonish-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e91a";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $admonish-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

/**
 * Resource List styles
 */

.resource-list { 
    li {
        a {
            margin-left: 1em;
            &:before {
                border: 1px solid #c5c5c5;
                background-color: $brand-color;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 6px;
                left: 1px;
                position: absolute;
                top: 7px;
                -webkit-transition: border-color 250ms ease 0s;
                transition: border-color 250ms ease 0s;
                width: 6px;
            }
        }
    }
}

/**
 * Download Resource Style
 */
.dl-resource {
    padding: 1em;
    border-radius: 2px;
    background-color: rgba($brand-color, 0.2);
    border: solid 1px $brand-color;
    i {
        color: $brand-color;
    }
    a {
        &:hover {
            text-decoration: none;
            color: $brand-color;
        }
    }
}


/**
 * Back-to-top Button
 */
.btt-btn {
    position: fixed;
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
    background-color: $brand-color; 
}
