/**
 * Site header
 */
.site-header {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    display: block;
    background-color: $grey1000;
    padding: 4px 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .logo {
        float: left;
        width: 240px;
        img {
            padding:3px 0;
            height: 26px;
            width: auto;
        }
    }
    .nameplate {
            color: #9e9e9e;
            float: left;
            font-size: 16px;
            line-height:32px;
            font-weight:400;
        }
    .nameplate span{
            font-weight:600;
            color: #d8d8d8;
        }
}


nav {
    position: fixed;
    top: 40px;
    float: left;
    line-height: 1.5em;
    width: 17em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    moz-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    z-index: 2;
    background-color: $grey975;
    padding-top: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-weight:600;
    .inactive {
        display: none;
    }
    .active {
        display:block;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            &.parent {
                &:after {
                    content: "\e900";
                    font-family: 'DS_icon_font' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: 500;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-decoration: inherit;
                    color: $grey400;
                    font-size: $base-font-size;
                    padding-right: 2em;
                    position: absolute;
                    top: 12px;
                    right: 0;
                    font-size: 12px;
                }
                &.active {
                    &:after {
                        content: "\e903";
                    }
                }                                                                  
            }
            a {
                color: $grey200;
                position: relative;
                display: block;
                padding: 8px 32px;
                letter-spacing: 0.05em;
                text-decoration: none;
                text-transform: uppercase;
                &.active{
                    background: $grey900;
                    color: $grey200;
                    text-decoration: none;
                }
                &:hover {
                    background: $grey800;
                    color: $grey200;
                    text-decoration: none;
                }
            }
            ul {
                li {
                    a {
                        font-weight: 400;
                        padding-left: 64px;
                        text-transform: none;
                    }
                    a:hover{
                        background-color: $grey800;
                        color: $grey200;                       
                    }
                    a.active {
                        background-color: $grey900;
                        color: $grey200;                       
                    }
                }
            }
        }
    }
}



/**
 * Preview content styles
 */
.preview-post {
    padding: $spacing-unit 0 $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;
    &:last-of-type {
        border-bottom: none;
    }
    .preview-content {
        padding-top: $spacing-unit;
        p {
            font-size: 1.25em;
            line-height: 1.75em;
            color: $grey-color;
            font-weight: 300;
        }
        a {
            &:hover {
                text-decoration: none;
                color: darken($brand-color, 10%);
            }
        }
    }
}

body {
    background: #fff !important;
}


/**
 * Post page content
 */
.page-wrapper {
    position: relative;
    float: right;
    width: calc(100% - 17em);
    top: 40px;

    .page-heading {
        font-size: 3em;
        font-weight:100;
        color: #424242;
        padding: 40px 28px;
    }

    .page-content {
        padding: 0 28px 40px 28px;
        overflowY: scroll;
        box-sizing: border-box;
    }
}

/**
 * Confidence star rating
 */

.confidence-rating {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 0;
    li {
        flex: 0 0 16px;
        height: 16px;
        background: url("../assets/website/img/stars.svg");
        background-size: 32px;
        background-position: 0;
    }
    .active {
            background-position: -16px 0;
    }
}

/**
 * Footer content
 */
.site-footer {
    clear: both;
    padding: 8px;
    background-color: $grey1000;
    text-align: center;
    color: #ffffff;
    font-size: .75em;
    line-height: 1;
    p {
        font-size: 10px;
        margin: 0;
        color: #ffffff;
        padding: 4px 0;
    }
    span {
        &:first-of-type {
            &:after {
                content: "\f004";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: #d32F2F;
                font-size: $base-font-size * 1.5;
                padding: 0 0.5em;
                position: relative;
                top: 2px;
            }
        }
    }
}

/**
 * Font glyph styles
 */ 
i {
    padding-right: 10px;
}

.glyph {
    font-size: 1.5em;
    color: #767677;
}

.glyph-name {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5em;
}

.glyph-row {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Notification Styles
 */ 


.inform {
    background-color: rgba($brand-color, 0.1);
    border-top: solid 2px $brand-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        content: "\e90d";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-decoration: inherit;
        color: $brand-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

.warn {
    background-color: rgba($warn-color, 0.1);
    border-top: solid 2px $warn-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e923";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $warn-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}
.admonish {
    background-color: rgba($admonish-color, 0.2);
    border-top: solid 2px $admonish-color;
    padding: $spacing-unit / 2;
    font-size: .88em;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
    &:before {
        font-size: 16px;
        content: "\e91a";
        font-family: rs-icons;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $admonish-color;
        font-size: $base-font-size;
        position: relative;
        top: 14px;
        right: 0;
    }
}

/**
 * Resource List styles
 */

.resource-list { 
    li {
        a {
            margin-left: 1em;
            &:before {
                border: 1px solid #c5c5c5;
                background-color: $brand-color;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 6px;
                left: 1px;
                position: absolute;
                top: 7px;
                -webkit-transition: border-color 250ms ease 0s;
                transition: border-color 250ms ease 0s;
                width: 6px;
            }
        }
    }
}

/**
 * Download Resource Style
 */
.dl-resource {
    padding: 1em;
    border-radius: 2px;
    background-color: rgba($brand-color, 0.2);
    border: solid 1px $brand-color;
    i {
        color: $brand-color;
    }
    a {
        &:hover {
            text-decoration: none;
            color: $brand-color;
        }
    }
}


/**
 * Back-to-top Button
 */
.btt-btn {
    position: fixed;
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
    background-color: $brand-color; 
}
