/**
 * Site header
 */
.site-header {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    display: block;
    background-color: $grey1000;
    padding: 4px 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .logo {
        float: left;
        width: 240px;
        img {
            padding:4px 0;
            height: 32px;
            width: auto;
        }
    }
    .nameplate {
            color: #9e9e9e;
            float: left;
            font-size: 16px;
            line-height:32px;
            font-weight:400;
        }
    .nameplate span{
            font-weight:600;
            color: #d8d8d8;
        }
}


nav {
    position: fixed;
    top: 40px;
    float: left;
    line-height: 1.5em;
    width: 17em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    moz-box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    box-shadow: 0px 5px 6px 1px rgba(102,102,102,.25);
    z-index: 2;
    background-color: $grey975;
    padding-top: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-weight:600;
    .inactive {
        display: none;
    }
    .active {
        display:block;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            &.parent {
                &:after {
                    content: "\e900";
                    font-family: 'DS_icon_font' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: 500;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-decoration: inherit;
                    color: $grey400;
                    font-size: $base-font-size;
                    padding-right: 2em;
                    position: absolute;
                    top: 12px;
                    right: 0;
                    font-size: 12px;
                }
                &.active {
                    &:after {
                        content: "\e903";
                    }
                }
            }
            a {
                color: $grey200;
                position: relative;
                display: block;
                padding: 8px 32px;
                letter-spacing: 0.05em;
                text-decoration: none;
                text-transform: uppercase;
                &.active{
                    background: $grey900;
                    color: $grey200;
                    text-decoration: none;
                }
                &:hover {
                    background: $grey800;
                    color: $grey200;
                    text-decoration: none;
                }
            }
            ul {
                li {
                    a {
                        font-weight: 400;
                        padding-left: 64px;
                        text-transform: none;
                    }
                    a:hover{
                        background-color: $grey800;
                        color: $grey200;
                    }
                    a.active {
                        background-color: $grey900;
                        color: $grey200;
                    }
                }
            }
        }
    }
}



/**
 * Preview content styles
 */
.preview-post {
    padding: $spacing-unit 0 $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;
    &:last-of-type {
        border-bottom: none;
    }
    .preview-content {
        padding-top: $spacing-unit;
        p {
            font-size: 1.25em;
            line-height: 1.75em;
            color: $grey-color;
            font-weight: 300;
        }
        a {
            &:hover {
                text-decoration: none;
                color: darken($brand-color, 10%);
            }
        }
    }
}

/**
 * Post page content
 */
.page-wrapper {
    position: relative;
    float: right;
    width: calc(100% - 17em);
    top: 40px;

    .page-heading {
        font-size: 3em;
        font-weight:100;
        color: #424242;
        padding: 40px 28px;
    }

    .page-content {
        padding: 0 28px 40px 28px;
        overflowY: scroll;
        box-sizing: border-box;
    }
}
