.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: 500;
  display: none;

  &.visible {
    display: block;
  }
}

.overlay-source {
  // display: inline-block;
}

.overlay-image {
  position: fixed;
  z-index: 550;
  display: none;

  &.visible {
    display: block;
  }
}