.page-navigation {
	width: 100%;
	font-size: 1.25em;
	.next {
		color: #ffffff;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding: 1.25em 3em;
		text-align: right;
		background: $brand-color;
		float: right;
		&:hover {
			text-decoration: none;
			background: darken($brand-color, 10%);
		}
	}
	.prev {
		color: #ffffff;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding: 1.25em 3.5em;
		text-align: left;
		background: $brand-color;
		float: left;
		&:hover {
			text-decoration: none;
			background: darken($brand-color, 10%);
		}
	}
}