html, body {
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
}

html, body, .display-font, h1, h2, h3, h4, h5, h6 {
  color: $grey900;
  font-family: $base-font-family;
}

.display-font, h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
}

.display-font {
  font-size: $font-size-7;
  font-weight: 100;
  margin-bottom: 40px;
}

h1 {
  font-size: $font-size-5;
  font-weight: 400;
  margin-bottom: 24px;
}

h1.header-alt {
  font-weight: 200;
}

h2 {
  font-size: $font-size-4;
  font-weight: 400;
  margin-bottom: $paddingM;
}

h3 {
  font-size: $base-font-size;
  font-weight: 500;
  margin-bottom: $paddingXS;
}

h4 {
	font-weight: 400;
	margin-bottom: 4px;
}

p, .body1 {
  font-size: $base-font-size;
  font-weight: 400;
	margin-bottom: 32px;
}

.body2 {
  font-size: $font-size-3;
  font-weight: 400;
  line-height: $base-line-height;
}

.statusTag {
  font-size: $font-size-1;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.subtext, .form-subtext {
  font-weight: 400;
  font-size: $font-size-2;
  color: $grey700;
}

ul {
	list-style-type: disc;
}

ol li {
	margin-left: 24px;
}
