<div class="component-row">
  <div class="hxRow">
    <div class="hxCol-8 hxCol-xs-12 hxCol-sm-6 hxCol-md-8 hxCol-lg-8 hxCol-xl-8">
      <div class="component-row-title"><a href="{{site.url}}{{page.url}}.html">{{page.title}}</a></div>
      <div class="component-row-blurb">{{page.usage}}</div>
      <div class="component-row-status">Last modified: {{page.last-modified | date:"%d %B %Y"}} | Component status: {{page.status}}</div>
    </div>
    <div class="hxCol-4 hxCol-xs-12 hxCol-sm-6 hxCol-md-4 hxCol-lg-4 hxCol-xl-4">
      <img class="component-row-hero-image" src="{{site.cdn_url}}/img/{{page.preview-image}}"/>
    </div>
  </div>
</div>