<div class="component-row">
  <div class="hxRow">
    <div class="hxCol hxSpan-8 hxSpan-12-xs hxSpan-6-sm hxSpan-8-md hxSpan-8-lg hxSpan-8-xl">
      <h3 class="hxHeading-3"><a href="{{site.url}}{{page.url}}.html" class="component-row-title">{{page.title}}</a></h3>
      <div class="component-row-blurb">{{page.usage}}</div>
      <div class="component-row-status hxSubBody hxSubdued">Last modified: {{page.last-modified | date:"%d %B %Y"}} | Component status: {{page.status}}</div>
    </div>
    <div class="hxCol hxSpan-4 hxSpan-12-xs hxSpan-6-sm hxSpan-4-md hxSpan-4-lg hxSpan-4-xl">
      <a href="{{site.url}}{{page.url}}.html"><img class="component-row-hero-image" src="{{site.url}}/assets/images/{{page.preview-image}}"/></a>
    </div>
  </div>
</div>
