<nav id ="nav" class="hxNav side">
  <div class="logo"><a href="{{site.url}}/"><img src="{{site.cdn_url}}/img/helix_logo_nav.svg" class="logo"></a></div>
  {%- assign currenturl = page.url -%}
  <div id="search-system">{%- include search-box.html -%}</div>
  {%- for item in site.component_design -%}
    {%- if page.title == item.title -%}
      {%- assign itemparent = item.parent -%}
    {%- endif -%}
  {%- endfor -%}
  <a href="{{site.url}}/" {%- if currenturl == "/" -%} class="current" {%- else -%} {%- endif -%}>HOME</a>
  {%- for navItem in site.data.navigation -%}
    {%- assign currentNav = navItem.name | slugify -%}
      <hx-disclosure aria-controls="{{ navItem.name | slugify }}">
        {{navItem.display}}
        <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
      </hx-disclosure>
      <hx-reveal id="{{ navItem.name | slugify }}" {% if page.url contains currentNav %}open{% endif %}>   
      {%- if currentNav == "style" -%}
        {%- for article in site.docs -%}
          {%- if article.category | slugify == currentNav -%}
            {%- if article.category == navItem.name and article.resource == true -%}
            <a href="{{site.url}}{{article.url}}.html" {%- if currenturl contains article.url or page.parent == article.title -%} class="current" {%- endif -%}>{{article.title}}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- elsif currentNav == "components" -%}
        {%- for article in site.component_design -%}
          {%- if article.resource -%}
            <a href="{{site.url}}{{article.url}}.html" {%- if currenturl == article.url -%} class="current" {%- endif -%}>{{article.title}}</a>
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- for collection in site.collections -%}
          {%- assign theLabel = collection.label -%}
          {%- for page in site.[theLabel] -%}
            {%- if page.category == navItem.name and page.resource == true -%}
              <a href="{{site.url}}{{page.url}}.html" {%- if currenturl contains page.url -%} class="current" {%- endif -%}>{{page.title}}</a>
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endif -%}
      </hx-reveal>
  {%- endfor -%}
  <a href="{{site.url}}/resources/index.html" {%- if currenturl contains "/resources" -%} class="current" {%- else -%} {%- endif -%}>RESOURCES</a>
  <a href="{{site.url}}/contact-us/index.html" {%- if currenturl contains "/contact-us" -%} class="current" {%- else -%} {%- endif -%}>CONTACT US</a>
  <a href="{{site.url}}/status.html" {%- if currenturl == "/status" -%} class="current" {%- else -%} {%- endif -%}>STATUS</a>
</nav>
