<div class="col-md-6">
  <div class="type-demo clearfix">
    <div class="example">
      {{include.htmlexample}}
    </div>
    <div class="specs">
      <dl>
        <dt>Name:</dt>
        <dd>{{include.name}}</dd>
        <dt>Typeface:</dt>
        <dd>{{include.typeface}}</dd>
        <dt>Weight:</dt>
        <dd>{{include.weight}}</dd>
        <dt>Size:</dt>
        <dd>{{include.size}}</dd>
        <dt>Color:</dt>
        <dd>{{include.csscode}}, {{include.hex}}</dd>
        <dt>Line Spacing:</dt>
        <dd>{{include.linespace}}</dd>
        <dt>Bottom Spacing:</dt>
        <dd>{{include.bottomspace}}</dd>
      </dl>
    </div>
  </div>
</div>
