
  <div class="type-demo clearfix">
    <div class="example">
      {{include.htmlexample}}
    </div>
    <div class="specs">
      <dl>
        <dt class="hxSubdued">Typeface:</dt>
        <dd>{{include.typeface}}</dd>
        <dt class="hxSubdued">Weight:</dt>
        <dd>{{include.weight}}</dd>
        <dt class="hxSubdued">Size:</dt>
        <dd>{{include.size}}</dd>
        <dt class="hxSubdued">Color:</dt>
        <dd>{{include.csscode}}, {{include.hex}}</dd>
        <dt class="hxSubdued">Line Spacing:</dt>
        <dd>{{include.linespace}}</dd>
        <dt class="hxSubdued">Bottom Spacing:</dt>
        <dd>{{include.bottomspace}}</dd>
      </dl>
    </div>
  </div>
