---
layout: website/default
---
    {% assign iconCount = 1 %}
	{% for component in site.pages %}
        {% if component.category == page.title %}
    	   {% if iconCount == 1 %}
                <div class="rs-row ws-overview-pg-row">
            {% endif %}
                    <div class="span-4">
                        <a class="ws-no-underline"href="{{site.baseurl}}{{component.url}}.html">
                            <div class="ws-sum-con">
                                <h1 class="ws-h1-component-page">{{component.title}}</h1>
                            	<img class="ws-preview-image" {% if component.preview-image %} src='{{site.baseurl}}{{site.websiteAssets}}/img/{{component.preview-image}}' {% else %} src='{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg' {% endif %}>
                                
                                <p class="temp-remove-padding">{{component.usage}}</p>
                            </div>
                        </a>
                    </div>
            {% assign iconCount = iconCount | plus: 1%}
            {% if iconCount == 4 %}
                </div>
                {% assign iconCount = 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}

<style type = "text/css" scoped>

    .ws-overview-pg-row{
        padding-bottom: 60px;
    }

    .ws-overview-pg-row:last-of-type{
        padding-bottom: 60px;
    }

    .ws-sum-con{
        border: 1px solid #d8d8d8;
        padding: 20px;
    }

    .ws-sum-con:hover{
        background-color: #E4F9F9;
    }

    .ws-preview-image{
        display: inline-block;
        text-align: center;
        margin: 20px 0;
    }

    .ws-h1-component-page{
        font-weight: 400;
        text-decoration: none;
    }

    .temp-remove-padding{
        padding: 0;
    }

    .ws-no-underline, .ws-no-underline:hover, .ws-no-underline:active{
        text-decoration: none;
    }
</style>

</a>