---
layout: website/default
---
<article class="categories">
    <table>
        {% assign iconCount = 1 %}
    	{% for component in site.pages %}
            {% if component.category == page.title %}
        	   {% if iconCount == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            <a href="{{site.baseurl}}{{component.url}}.html">
                                <div class="ws-sum-con">
                                  <h1>{{component.title}}</h1>
                                	<img class="ws-preview-image" {% if component.preview-image %} src='{{site.baseurl}}/assets/img/{{component.preview-image}}' {% else %} src='{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg' {% endif %}>

                                    <p>{{component.usage}}</p>
                                </div>
                            </a>
                        </td>
                {% assign iconCount = iconCount | plus: 1%}
                {% if iconCount == 4 %}
                    </tr>
                    {% assign iconCount = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</article>
