---
layout: website/default
---
<div class="temp-table-con">
    <table class="temp-overview-table" >
        {% assign iconCount = 1 %}
    	{% for component in site.pages %}
            {% if component.category == page.title %}
        	   {% if iconCount == 1 %}
                    <tr class="temp-overview-tr">
                {% endif %}
                        <td class="temp-overview-td">
                            <a class="ws-no-underline"href="{{site.baseurl}}{{component.url}}.html">
                                <div class="ws-sum-con">
                                    <h1 class="ws-h1-component-page">{{component.title}}</h1>
                                	<img class="ws-preview-image" {% if component.preview-image %} src='{{site.baseurl}}/assets/img/{{component.preview-image}}' {% else %} src='{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg' {% endif %}>

                                    <p>{{component.usage}}</p>
                                </div>
                            </a>
                        </td>
                {% assign iconCount = iconCount | plus: 1%}
                {% if iconCount == 4 %}
                    </tr>
                    {% assign iconCount = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</div>
