<!DOCTYPE html>
<html>
  {% include website/head.html %}
  <body>
    {% include website/header.html %}

    <div class="page-wrapper">
      <div class="page-content">
        <div class="header-wrapper" {% if page.url contains 'style' %} style="background-color: #CF3628" 
                                    {% elsif page.url contains 'layout' %} style="background-color: #3B44A9"
                                    {% elsif page.url contains 'overview' %} style="background-color: #0E94A6" 
                                    {% elsif page.url contains 'components' %} style="background-color: #C2185B"
                                    {% elsif page.url contains 'contribute' %} style="background-color: #2E7D32" 
                                    {% elsif page.url contains 'resources' %} style="background-color: #0E6AAF"
                                    {% else %} style="background-color: #0D94A6"
                                    {% endif %} 
                                    >
          <div class="container-fluid">
            <article class="page-header">
              <div class="display-font">{{page.title}}</div>
            </article>
          </div>
        </div>
        <div class="container-fluid">
          {{content}}
        </div>
      </div>
    </div>

  {% include website/footer.html %}
  </body>
</html>
