<!DOCTYPE html>
<html>

  {% include website/head.html %}

  <body>

    {% include website/header.html %}
    <div class="page-wrapper">
      <div class="page-heading">
        <span>{{page.title | upcase}}</span>
        {% if page.author%}
        <p class="author">Prepared by: {{page.author}}</p>
        <p class="modified"> Last Modified: <span>{{ page.date | date: '%B %d, %Y' }}</span></p>
        {% endif %}
      </div>
      <div class="page-content">
        {{content}}
      </div>
      {% include website/page-navigation.html %}
      {% include website/footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{{ '/assets/website/js/icheck.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/website/js/tooltip.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/website/js/elements.js' | prepend: site.baseurl }}"></script>
  </body>

</html>
