.sass-cache
_site
.DS_Store
.bundle
Gemfile.lock
downloads

# node modules
node_modules/
# match loader, polyfills, and polyfill source maps
!node_modules/@webcomponents/webcomponentsjs/webcomponents-*
# match es5 adapter for modern browsers
!node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js
!node_modules/helix-ui/dist/**

vendor

# discards
old/

.remarkrc

tar_staging.sh
package.tgz

design-system

# rbenv
.ruby-version
