.sass-cache
_site
.DS_Store
.bundle
Gemfile.lock
downloads

# node modules
node_modules/
!node_modules/@webcomponents/*.js
!node_modules/helix-ui/dist/**

vendor

# discards
old/

.remarkrc

tar_staging.sh
package.tgz

design-system

# rbenv
.ruby-version
