---
layout: default
title: Rackspace Design System
---


  <div class="rs-row">
    <div class="span-4">
      <img src="{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius tincidunt neque vitae posuere.</p>
      <button>Get Files</button>
    </div >
    <div class="span-4">
      <img src="{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg">
      <p>Vestibulum posuere est massa, ut maximus libero mollis vel. Curabitur luctus convallis elit a consectetur.</p>
      <button>Get Files</button>
    </div>
    <div class="span-4">
      <img src="{{site.baseurl}}{{site.websiteAssets}}/img/place-holder.svg">
      <p>Pellentesque vitae pulvinar leo. Nam et elit arcu. Phasellus quis laoreet dolor, mollis vestibulum lorem.</p>
      <button>Get Files</button>
    </div>
  </div>




<!--
  <ul class="post-list">
    {% for post in site.components %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}.mdown">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->
