---
title: Component Status
layout: docs
---

<article>
  <p>Listing of components in the language and their current status. Lorem Ipsum.</p>
<!--
  <h2>Option 1</h2>
    <table class="striped">
    <thead>
      <tr>
        <th style="width: 33%">Component</th>
        <th style="width: 33%">Version Added</th>
        <th style="width: 33%">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for page in site.pages %}
          {% if page.category %}
              <tr>
                <td><a href="{{site.baseurl}}{{page.url}}.html">{{page.title}}</a></td>
                <td>1.0</td>
                <td>
                {% if page.status %}
                  {% if page.status == "pending" %}
                    <span class="component prototype">In Progress</span>
                  {% elsif page.status == "complete" %}
                    <span class="component dev-ready">Complete</span>
                  {% elsif page.status == "deprecated" %}
                    <span class="component deprecated">Deprectated</span>
                  {% endif %}
                {% else %}
                  <span class="component prototype">In Progress</span>
                {% endif %}
                </td>
              </tr>
          {% endif %}
      {% endfor %}
    </tbody>
    </table>
<br>
<br>

    <h2>Option 2</h2>

    <div class="row" style="max-width: 40em;">
    <div class="col-md-3"><i class="icon-disabled"></i><p>Unavailable</p></div>
    <div class="col-md-3"><i class="icon-warning"></i><p>In-Progress</p></div>
    <div class="col-md-3"><i class="icon-check-mark"></i><p>Complete</p></div>
    <div class="col-md-3"><i class="icon-error"></i><p>Deprecated</p></div>
  </div>-->
  <h2>Component Status</h2>
  <table class="striped component-table">
    <thead>
      <tr class="compressed">
        <th class="th-1-2">Component</th>
        <!-- Removing this line until we have a strategy around versioning as this is a future item<th class="th-1-3">Version Added</th> -->
        <th class="th-1-4">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for page in site.pages %}
          {% if page.category %}
              <tr class="compressed">
                <td class="compressed"><a href="{{site.baseurl}}{{page.url}}.html">{{page.title}}</a></td>
                <!-- Removing this line until we have a strategy around versioning as this is a future item
                <td class="compressed">1.0</td> -->
                <td class="compressed">
                {% if page.status %}
                  {% if page.status == "pending" %}
                    <i class="icon-warning"></i>
                  {% elsif page.status == "complete" %}
                    <i class="icon-check-mark"></i>
                  {% elsif page.status == "deprecated" %}
                    <i class="icon-error"></i>
                  {% endif %}
                {% else %}
                  <i class="icon-disabled"></i>
                {% endif %}
                </td>
              </tr>
          {% endif %}
      {% endfor %}
    </tbody>
    </table>

</article>

<article>
  <h2>Icon Descriptions</h2>
  <table class="striped component-table">
    <thead>
      <tr class="compressed">
        <th class="th-1-4">Status</th>
        <th class="th-1-2">Explanation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="large">
        <td class="compressed"><i class="icon-disabled"></i></td>
        <td class="compressed"><p>Unavailable</p></td>
        <td class="compressed"><p>Currently no finalized interaction definitions and design specifications exist for this component. Designs should be treated with low confidence.</p></td>
      </tr>
      <tr class="large">
        <td class="compressed"><i class="icon-warning"></i></td>
        <td class="compressed"><p>In-Progress</p></td>
        <td class="compressed"><p>Specifications are solid for a given component but slight adjustments are expected in the future. Designs should be treated with medium confidence.</p></td>
      </tr>
      <tr class="large">
        <td class="compressed"><i class="icon-check-mark"></i></td>
        <td class="compressed"><p>Complete</p></td>
        <td class="compressed"><p>Current interaction definitions and design specfication on the site are finalized and signed off by design. Designs should be treated with high confidence.</p></td>
      </tr>
      <tr class="large">
        <td class="compressed"><i class="icon-error"></i></td>
        <td class="compressed"><p>Deprecated</p></td>
        <td class="compressed"><p>Specifications listed on the site are accurate, but apply to a deprecated version of this component. Designs should no longer be implemented.</p></td>
      </tr>
    </tbody>
    </table>

</article>
