---
title: Color Palette
layout: website/default
category: Style
usage: The Helix color palette consists of deep modern hues juxtaposed with simple monocromatic environments.
preview-image: style/preview-color.svg
---
<article id="primary-colors">
  <p class="update-mh">MH: Updating documentation</p>
  <h1>Primary Colors <span class="status prototype">In Progress</span></h1>
  <p>Primary colors should be used sparingly for primary and secondary actions, alerts or data visualizations. Avoid adding color to "spice things up" as this will distract the user from his or her workflow.</p>
  <div class="row">
    {%for color_hash in site.data.colors%}
      {%assign color=color_hash[1]%}
      <div class="col-xs-12 col-sm-4 col-md-2">
        {%for value_hash in color.colors%}
        {%assign value=value_hash[1]%}
        <div class="ws-{{value.class}}-swatch" style="background-color:{{value.value}}">
          {%if forloop.first == true%}
          <div class="ws-color-name">{{color.name}}</div>
          {%endif%}
          <div class="ws-{{value.type}}-type">
            {{value.number}}<br>
            <span class="ws-smaller-color-type">{{value.value}}</span>
          </div>
        </div>
        {%endfor%}
      </div>
    {%endfor%}
  </div>
</article>

<article id="alert-colors">
  <h1>Alert Colors <span class="status dev-ready">Complete</span></h1>
  <p>Secondary colors are used for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.</p>
  <div class="row">
    {%for color_hash in site.data.colors-alert%}
      {%assign color2=color_hash[1]%}
      <div class="col-xs-12 col-sm-4 col-md-2">
        {%for value_hash in color2.colors%}
        {%assign value2=value_hash[1]%}
        <div class="ws-{{value2.class}}-swatch" style="background-color:{{value2.value}}">
          {%if forloop.first == true%}
          <div class="ws-color-name">{{color2.name}}</div>
          {%endif%}
          <div class="ws-{{value2.type}}-type">
            {{value2.number}}<br>
            <span class="ws-smaller-color-type">{{value2.value}}</span>
          </div>
        </div>
        {%endfor%}
      </div>
    {%endfor%}
  </div>
</article>

<article>
  <h1>Greyscale <span class="status dev-ready">Complete</span></h1>
  <p class="update">Needs update/documentation. Tommy is revisiting colors.</p>
  <p>These colors are used largely for background blocks and large content areas. Be sure to use enough contrast between adjacent colors.</p>

  <div class="row">
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #FFFFFF; color: #757575;">
      <span>Grey 700 on Grey 0</span>
      <span>4.6 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #FAFAFA; color:#616161;">
      <span>Grey 800 on Grey 25</span>
      <span>5.9 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #f5f5f5;color:#616161;">
      <span>Grey 800 on Grey 50</span>
      <span>5.7 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #EEEEEE; color:#616161;">
      <span>Grey 800 on Grey 100</span>
      <span>5.3 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #e7e7e7; color:#616161;">
      <span>Grey 800 on Grey 200</span>
      <span>5.0 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #e0e0e0; color:#616161;">
      <span>Grey 800 on Grey 300</span>
      <span>4.7 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #d8d8d8; color:#424242;">
      <span>Grey 900 on Grey 400</span>
      <span>7.1 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #BDBDBD; color:#424242;">
      <span>Grey 900 on Grey 500</span>
      <span>5.4 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #9E9E9E; color:#333333;">
      <span>Grey 950 on Grey 600</span>
      <span>4.7 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #757575; color: #000000;">
      <span>Grey 1000 on Grey 700</span>
      <span>4.6 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #616161; color: #e0e0e0;">
      <span>Grey 300 on Grey 800</span>
      <span>4.7 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #424242; color: #bdbdbd;">
      <span>Grey 500 on Grey 900</span>
      <span>5.4 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #333333; color: #9e9e9e;">
      <span>Grey 600 on Grey 950</span>
      <span>4.7 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #212121; color: #9e9e9e;">
      <span>Grey 600 on Grey 975</span>
      <span>6.0 : 1</span>
    </div>
    <div class="col-xs-12 col-md-4 color-chip" style="background-color: #000000; color: #757575;">
      <span>Grey 700 on Grey 1000</span>
      <span>4.6 : 1</span>
    </div>
  </div>
</article>
