---
title: Iconography
layout: website/default
category: Visuals
---


<h1 class="ws-section-head">Icon Font</h1>
<p>Icons should be used sparingly and with purpose. Icons can draw attention, help with way-finding or overcome space constraints. Universally understood icons work well. If you think your icon needs a text label to be identifiable, then a text label is probably all you need. Icons can be difficult to get right and need a lot of testing to verify understandability and discoverability.</p>

<p class="ws-first-p">If you think there is need for an addition icon to be added to the list please submit your request to the Helix Team.</p>
	{% assign iconCount = 1 %}
	{%for icon_hash in site.data.icons%}
		{%assign icon=icon_hash[1]%}
		{% if iconCount == 1 %}
			<div class="rs-row ws-icon-row">		
		{% endif %}
				<div class="span-1"></div>
				<div class="ws-icon-chip span-2">
				  	<span class="ws-icon-chip-icon"><i class="{{icon.class}}"></i></span>
				  	<span class="ws-icon-chip-text">{{icon.name}}</span>
				  	<span class="ws-icon-chip-text">{{icon.id}}</span>
				</div>
				<div class="span-1"></div>
		{% assign iconCount = iconCount | plus: 1%}
		{% if iconCount == 4 %}
			</div>
			{% assign iconCount = 1 %}
		{% endif %}
	{%endfor%}



<style type="text/css">
	.ws-icon-row{
		padding-bottom: 40px;
	}

	.ws-icon-row:last-child{
		padding-bottom: 0px;
		background-color: red;
	}

	.ws-icon-chip{
	}

	.ws-icon-chip-icon{
		color:#757575;
		font-size: 32px;
		text-align: center;
	}

	.ws-icon-chip-icon, .ws-icon-chip-text{
		display: block;
	}

  .ws-icon-chip-text {
    border-top: 1px solid #e0e0e0;
    padding:8px 0 0 0;
  }

  .ws-icon-chip-text:last-of-type {
  	padding: 0 0 8px 0;
  	border-top: 0;
    border-bottom: 1px solid #e0e0e0;
  }

</style>