---
title: Iconography
layout: website/default
category: Visuals
---


<h1 class="ws-section-head">Icon Font</h1>
	{% assign iconCount = 1 %}
	{%for icon_hash in site.data.icons%}
		{%assign icon=icon_hash[1]%}
		{% if iconCount == 1 %}
			<div class="rs-row ws-icon-row">		
		{% endif %}
				<div class="span-1"></div>
				<div class="ws-icon-chip span-2">
				  	<span class="ws-icon-chip-icon"><i class="{{icon.class}}"></i></span>
				  	<span class="ws-icon-chip-text">{{icon.name}}</span>
				  	<span class="ws-icon-chip-text">{{icon.id}}</span>
				</div>
				<div class="span-1"></div>
		{% iconCount = iconCount | plus: 1%}
		{% if iconCount == 3 %}
			</div>
			{% assign iconCount = 1 %}
		{% endif %}
	{%endfor%}



<style type="text/css">
	.ws-icon-chip{
		padding-bottom: 32px;
	}

	.ws-icon-chip-icon{
		color:#757575;
		font-size: 32px;
		text-align: center;
	}

	.ws-icon-chip-icon, .ws-icon-chip-text{
		display: block;
	}

  .ws-icon-chip-text {
    border-top: 1px solid #e0e0e0;
    padding:8px 0 0 0;
  }

  .ws-icon-chip-text:last-of-type {
  	padding: 0 0 8px 0;
  	border-top: 0;
    border-bottom: 1px solid #e0e0e0;
  }

</style>