/*******************************
            Dropdown
*******************************/

.ui.dropdown {
  background: #fff;
  border: 1px solid $grey500;
  color: $grey800;
}

/*--------------
      Menu
---------------*/

.ui.dropdown .menu {
  background: $grey25;
  box-shadow: none;
  border: 1px solid $grey500;
  border-radius: 2px;
}

/*--------------
 Dropdown Icon
---------------*/

.ui.dropdown > .dropdown.icon {
  position: relative;
  width: auto;
  font-size: 10px;
  margin: 0em 0em 0em 1em;
}
.ui.dropdown > .dropdown.icon {
  font-family: 'DS_icon_font';
  height: 1em;
  width: 1.23em;
}
.ui.dropdown > .dropdown.icon:before {
  content: '\e900';
}
.ui.dropdown .menu > .item .dropdown.icon {
  margin: 0em 0em 0em 1em;
}
.ui.dropdown .menu > .item .dropdown.icon + .text {
  margin-right: 1em;
}

/*--------------
    Menu Item
---------------*/

.ui.dropdown .menu > .item {
  border-top: none;
  line-height: 1em;
  color: $grey600;
  padding: 8px 1em !important;
  font-size: 1em;
}

/*--------------
    Selection
---------------*/

/* Displays like a select box */
.ui.selection.dropdown {
  min-width: 14em;
  min-height: 32px;
  padding: 0.5em 1em 0.25em 1em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid $grey500;
  color: $grey800;
}
select.ui.dropdown {
  height: 38px;
  padding: 0.5em;
  border: 1px solid $grey500;
}
.ui.selection.dropdown > .search.icon,
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon {
  line-height: 1.2142em;
  top: 0.78571429em;
  right: 1em;
  margin: -0.78571429em;
  padding: 0.78571429em;
  opacity: 1;
}

/*  Selection Menu */
.ui.selection.dropdown .menu {
  margin: 1px -1px;
  min-width: calc(100% +  2px );
  width: calc(100% +  2px );
  border-radius: 0 0 2px 2px;
  box-shadow: none;
}

/*--------------
    Message
---------------*/

.ui.selection.dropdown .menu > .message {
  padding: 0.78571429rem 1.14285714rem;
}

/* Menu Item */
.ui.selection.dropdown .menu > .item {
  border-top: none;
  padding: 8px 1em !important;
}

/* Hover */
.ui.selection.dropdown:hover {
  border: 1px solid $action500;
}

/* Active */
.ui.selection.active.dropdown {
  border: 1px solid $action700;
  border-bottom: 1px solid $grey600 !important;
  box-shadow: none;
}
.ui.selection.active.dropdown .menu {
  border-color: $action700;
  box-shadow: none;
}

/* Focus */
.ui.selection.dropdown:focus {
  border: 1px solid $action500;
  border-bottom: 1px solid $grey600;
  box-shadow: none;
}
.ui.selection.dropdown:focus .menu {
  border-color: $action500;
  box-shadow: none;
}

/* Visible */
.ui.selection.visible.dropdown > .text:not(.default) {
  font-weight: normal;
  color: $grey800;
}

/* Visible Hover */
.ui.selection.active.dropdown:hover {
  border-color: $action500;
  border-bottom: 1px solid $grey600;
  box-shadow: none;
}
.ui.selection.active.dropdown:hover .menu {
  border-color: $action500;
  box-shadow: none;
}

/* Connecting Border */
.ui.active.selection.dropdown {
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
}

/* Empty Connecting Border */
.ui.active.empty.selection.dropdown {
  border-radius: 2px !important;
  box-shadow: none !important;
}
.ui.active.empty.selection.dropdown .menu {
  border: none !important;
  box-shadow: none !important;
}

/*--------------
   Searchable
---------------*/

/* Search Dropdown */
.ui.search.dropdown > input.search {
}

.ui.search.dropdown>.text {
  color: $grey800;
}

/* Search Selection */
.ui.search.selection.dropdown > input.search {
  line-height: 1em;
  padding: .5em 1em;
}

/* Used to size multi select input to character width */
.ui.search.selection.dropdown > span.sizer {
  line-height: 1.2142em;
  padding: 0.67861429em 2.1em 0.67861429em 1em;
}

/* Filtered Text */
.ui.active.search.dropdown input.search:focus + .text .icon,
.ui.active.search.dropdown input.search:focus + .text .flag {
  opacity: 1;
}
.ui.active.search.dropdown input.search:focus + .text {
  color: $grey800 !important;
}

/*--------------
    Multiple
---------------*/

/* Multiple Selection */
.ui.multiple.dropdown {
  padding: inherit;
}

/* Selection Label */
.ui.multiple.dropdown > .label {
  font-weight: normal;
  box-shadow: none;
  text-decoration: none;
}

/* Text */
.ui.multiple.dropdown > .text {
  margin: 0;
  line-height: 1em;
  padding: .5em 1em;
  color: $grey800;
}
.ui.multiple.dropdown > .label ~ input.search {
  margin-left: 0.14285714em !important;
}

/*-----------------
  Multiple Search
-----------------*/

/* Prompt Text */
.ui.multiple.search.dropdown > .text {
  margin: 0;
  line-height: 1em;
  padding: .5em 1em;
  color: $grey800;
}

/* Search */
.ui.multiple.search.dropdown > input.search {
  padding: 0;
  margin: 0.45240952em 0em 0.45240952em 0.64285714em;
  width: 2.2em;
  line-height: 1.21428571em;
}

/*******************************
            States
*******************************/

/*--------------------
        Active
----------------------*/

/* Menu Item Active */
.ui.dropdown .menu .active.item {
  background: transparent;
  font-weight: inherit;
  color: $grey800;
}

/*--------------------
        Hover
----------------------*/

/* Menu Item Hover */
.ui.dropdown .menu > .item {
  text-indent: 10px;
  &:before {
    content:"";
    font-family: DS_icon_font;
    font-size: 10px;
    margin-right: 10px;
    width: 10px;
  }
  &:hover {
    background: $grey600;
    color: #fff;
    text-indent: 0;
    &:before {
      content: "\e921";
    }
  }
}

/*--------------------
     Default Text
----------------------*/

.ui.dropdown:not(.button) > .default.text,
.ui.default.dropdown:not(.button) > .text {
  color: $grey800;
}
.ui.dropdown:not(.button) > input:focus + .default.text,
.ui.default.dropdown:not(.button) > input:focus + .text {
  color: $grey800;
}

/*--------------------
    Keyboard Select
----------------------*/

/* Selected Item */
.ui.dropdown.selected,
.ui.dropdown .menu .selected.item {
  background-color: $grey600;
  color: #FFF;
  text-indent: 0;
  &:before {
    content: "\e921";
  }
}

/*--------------------
        Error
----------------------*/

.ui.dropdown.error,
.ui.dropdown.error > .text,
.ui.dropdown.error > .default.text {
  color: $grey800;
}
.ui.selection.dropdown.error {
  background: #FFF;
  border: 2px solid $red900;
}
.ui.selection.dropdown.error:hover {
  border-color: #E0B4B4;
}
.ui.dropdown.error > .menu,
.ui.dropdown.error > .menu .menu {
  border-color: $red900;
}
.ui.dropdown.error > .menu > .item {
  color: $grey800;
}
.ui.multiple.selection.error.dropdown > .label {
  border-color: $red900;
}

/* Item Hover */
.ui.dropdown.error > .menu > .item:hover {
  background: $grey600;
  color: #fff;
}

/* Item Active */
.ui.dropdown.error > .menu .active.item {
  background-color: transparent;
}

/*--------------------
        Disabled
----------------------*/

/* Disabled */
.ui.disabled.dropdown,
.ui.dropdown .menu > .disabled.item {
  opacity: 1;
  cursor:not-allowed;
  background-color: $grey50;
  border: 1px solid $grey300;
}

.ui.disabled.dropdown:not(.button) > .default.text,
.ui.disabled.default.dropdown:not(.button) > .text {
  color: $grey600;
}
