/*******************************
           Text Inputs
*******************************/

.ui.input {
  color: inherit;
}
.ui.input input {
  line-height: 22px;
  padding: $paddingXS $paddingS;
  border: 1px solid $grey500;
  color: inherit;
  border-radius: 2px;
  box-shadow: none;
  max-width: 432px;
  width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
}

.ui.form .field {
  .ui.left.icon.input,
  .ui.right.labeled.input {
    max-width: 432px;
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    width: calc(100% - 24px);
  }
}

/*--------------------
      Placeholder
---------------------*/

.ui.input input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $grey600;
  font-style: italic;
}
.ui.input input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $grey600;
  opacity:  1;
  font-style:italic;
}
.ui.input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey600;
  font-style:italic;
  letter-spacing:.05em;
}

/*--------------------
        Disabled
---------------------*/

.ui.disabled.input,
.ui.input input[disabled] {
  opacity: 1;
  cursor: not-allowed;
  color: $grey800 !important;
  background-color: $grey50 !important;
  border: 1px solid $grey300 !important;
}
.ui.disabled.input input,
.ui.input input[disabled] {

}

/*--------------------
        Active
---------------------*/

.ui.input input:active,
.ui.input.down input {
  border: 1px solid $action700;
  color: inherit;
  box-shadow: none;
}

/*--------------------
        Focus
---------------------*/

.ui.input.focus input,
.ui.input input:focus {
  border: 1px solid $action500;
  color: inherit;
  box-shadow: none;
}
.ui.input.focus input::-webkit-input-placeholder,
.ui.input input:focus::-webkit-input-placeholder {
  color: inherit;
}
.ui.input.focus input::-moz-placeholder,
.ui.input input:focus::-moz-placeholder {
  color: inherit;
}
.ui.input.focus input:-ms-input-placeholder,
.ui.input input:focus:-ms-input-placeholder {
  color: inherit;
}

/*--------------------
        Error
---------------------*/

.ui.input.error input {
  background-color: inherit;
  border: 2px solid $red900;
  color: inherit;
}

/* Error Placeholder */
.ui.input.error input::-webkit-input-placeholder {
  color: inherit;
}
.ui.input.error input::-moz-placeholder {
  color: inherit;
}
.ui.input.error input:-ms-input-placeholder {
  color: inherit !important;
}

/* Focused Error Placeholder */
.ui.input.error input:focus::-webkit-input-placeholder {
  color: inherit;
}
.ui.input.error input:focus::-moz-placeholder {
  color: inherit;
}
.ui.input.error input:focus:-ms-input-placeholder {
  color: inherit !important;
}

/*--------------------
         Icon
---------------------*/

.ui.icon.input > i.icon {
  width: 1em;
  opacity: 1;
  color: $grey600;
  border-radius: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.ui.icon.input input {
  padding-right: $paddingS;
}
.ui.icon.input > i.icon:before,
.ui.icon.input > i.icon:after {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}
.ui.icon.input > i.circular.icon {
  top: 0.35em;
  right: 0.5em;
}

/* Left Icon Input */
.ui[class*="left icon"].input > i.icon {
  right: auto;
  left: 8px;
  border-radius: 0;
}
.ui[class*="left icon"].input > i.circular.icon {
  right: auto;
  left: 0.5em;
}
.ui[class*="left icon"].input > input {
  padding-left: 32px !important;
  padding-right: $paddingS !important;
}

/* Focus */
.ui.icon.input > input:focus ~ i.icon {
  opacity: 1;
}

/*--------------------
        Labeled
---------------------*/

.ui.label {
  background-color: transparent;
}

/* Adjacent Label */
.ui.labeled.input > .label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
  font-size: 1em;
}
.ui.labeled.input > .label:not(.corner) {
  padding-top: 0.78571429em;
  padding-bottom: 0.78571429em;
}

/* Regular Label on Left */
.ui.labeled.input:not([class*="corner labeled"]) .label {
  background-color: transparent;
  border: none;
  color: $grey900;
  padding: $paddingS $paddingS $paddingS 0;
  font-weight: inherit;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:last-child {
  padding: $paddingS 0 $paddingS $paddingS;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input {
  background-color: #fff;
  border: 1px solid $grey500 !important;
  border-radius: 2px;
  color: $grey900;
  line-height: inherit;
  padding: $paddingXS $paddingS;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input:focus {
  border: 1px solid $action500 !important;
}

/* Probably won't need the rest of the overrides in this file */

/* Regular Label on Right */
.ui[class*="right labeled"].input input {
  //border-top-right-radius: 2px !important;
  //border-bottom-right-radius: 2px !important;
  //border-right-color: transparent !important;
}
.ui[class*="right labeled"].input input + .label {
  //border-top-left-radius: 2px;
  //border-bottom-left-radius: 2px;
}
.ui[class*="right labeled"].input input:focus {
  //border: 1px solid $action500;
}

/* Corner Label */
.ui.labeled.input .corner.label {
  top: 1px;
  right: 1px;
  font-size: 0.64285714em;
  border-radius: 0em 0.28571429rem 0em 0em;
  border: none;
  background-color: transparent;
}

/* Spacing with corner label */
.ui[class*="corner labeled"]:not([class*="left corner labeled"]).labeled.input input {
  padding-right: 2.5em !important;
}
.ui[class*="corner labeled"].icon.input:not([class*="left corner labeled"]) > input {
  padding-right: 3.25em !important;
}
.ui[class*="corner labeled"].icon.input:not([class*="left corner labeled"]) > .icon {
  margin-right: 1.25em;
}

/* Left Labeled */
.ui[class*="left corner labeled"].labeled.input input {
  padding-left: 8px !important;
}
.ui[class*="left corner labeled"].icon.input > input {
  padding-left: 8px !important;
}
.ui[class*="left corner labeled"].icon.input > .icon {
  margin-left: 1.25em;
}

/* Corner Label Position  */
.ui.input > .ui.corner.label {
  top: 1px;
  right: 1px;
}
.ui.input > .ui.left.corner.label {
  right: auto;
  left: 1px;
}
