<nav>
  <header class="site-header">

    <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/carinaui-logo-blue.svg" class="logo"></a>

  </header>
  <ul>
    <li><a a href="{{site.baseurl}}/Overview">Overview</a>
      <ul {% if page.url contains '/overview/' %} class="active" {% else %} class="inactive"  {% endif %} class>
        {% for post in site.categories.Overview %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/communication">Communication</a>
      <ul {% if page.url contains '/communication/' %} class="active" {% else %} class="inactive" {% endif %} class>
        {% for post in site.categories.Communication %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/data">Content & Data</a>
      <ul {% if page.url contains '/data/' %} class="active" {% else %} class="inactive" {% endif %} class>
        {% for post in site.categories.Data %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/forms-controls">Forms & Controls</a>
      <ul {% if page.url contains '/forms-controls/' %} class="active" {% else %} class="inactive" {% endif %}>
        {% for post in site.categories.Forms-Controls %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/navigation">Navigation</a>
      <ul {% if page.url contains '/navigation/' %} class="active" {% else %} class="inactive"  {% endif %} >
        {% for post in site.categories.Navigation %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/visuals">Visuals</a>
      <ul {% if page.url contains 'visuals' %} class="active" {% else %} class="inactive"  {% endif %} >
        {% for post in site.categories.Visuals %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li ><a a href="{{site.baseurl}}/Resources">Resources</a>
      <ul {% if page.url contains 'resources' %} class="active" {% else %} class="inactive" {% endif %} >
        {% for post in site.categories.Resources %}
          <li><a class="nested" href="{{post.url}}" {% if page.url contains {{post.title | downcase}} %} class="active"{% endif %}>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <!-- <p class="copyright">© Rackspace 2016 | <a href="#">Terms of use</a></p> -->
</nav>


<!--       {% for c in site.collections %}{% if c.type == 'main' %}
        <li ng-click="active = !active"><a ng-class="active ? 'active' : ''" class><a>{{c.label}}</a>
          <ul>
            {% for doc in c %}
              <li><a class="nested" href="{{ doc.url | prepend: site.baseurl }}" {% if page.url contains {{doc.title | downcase}} %} class="active"{% endif %}">{{doc.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}{% endfor %} -->
