<nav>
  <header class="site-header">
    <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/carinaui-logo-blue.svg" class="logo"></a>
  </header>
  <ul>
    {% for navItem in site.navigation %}
      <li><a a href="{{site.baseurl}}/{{navItem | downcase}}">{{navItem}}</a>
        {% assign foldername = navItem | downcase%}
        <ul {% if page.url contains foldername %} class="active" {% else %} class="inactive"  {% endif %} class>
          {% for page in site.pages %}
            {% if page.category == navItem | downcase %}
            <li><a class="nested" href="{{page.url}}" {% if page.url contains {{page.title | downcase}} %} class="active"{% endif %}>{{page.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
