<header class="site-header">
    <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}{{site.websiteAssets}}/img/rs-logo.svg" class="logo"></a>
    <div class="nameplate">Helix</div>
</header>
<nav>  
  <ul>
    {% assign currentpage = page.url %}
    {% for navItem in site.navigation %}
      {% assign foldername = navItem | downcase%}
      <li><a href="{{site.baseurl}}/{{navItem | downcase}}" {% if page.url contains foldername %} class="active parent" {% else %} class="parent" {% endif %}>{{navItem}}</a>
        
        <ul {% if page.url contains foldername %} class="active" {% else %} class="inactive"  {% endif %}>
          {% for page in site.pages %}
            {% if page.category == navItem | downcase %}
            {% assign slugname = page.title | downcase | join %}
            <li><a href="{{site.baseurl}}{{page.url}}.html" {% if currentpage contains page.url %} class="active" {% else %} {% endif %}>{{page.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}

  </ul>
</nav>
