---
title: Global Layer
layout: website/default
category: Layout
usage: Teaser Text
preview-image:
resource: true
---

<article>

  <h1>Global Layer</h1>
  <p>The global layer refers to overarching application level patterns that will be found on any Helix-UI design. These include three core components - Eyebrow (aka Utility Nav), the Global dashboard, and Off canvas panels. In order to better understand the global layer we suggest trying the following <a href="http://design.rax.io/mockups/designs/Helix/global-layer/prototypes/v-0.5/">demo prototype.</a></p>

  <h2>When to Use</h2>
  <p>The Global layer should be included on all applications using the Helix-UI language. This global layer provides the base configuration of a Helix application and allows for the use of platform services that extend across multiple product lines such as Ticketing or Notifications.</p>
</article>


<article>

  <h2>Eyebrow (aka Utility Nav)</h2>
  <p>The eyebrow is more commonly referred to as the utility navigation within the application frame because it provides for easy switching between product lines and platform level services. Platform level services are any services that exist across multiple product lines. Ex: Account Settings, Notifications, Ticketing, etc. </p>

  <div class="row">
  	 <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>ALorem ipsum</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/eyebrow-1.svg">
        </div>
        <figcaption>Eyebrow construction specs</figcaption>
      </figure>
    </div>
  </div>

  <h3>Eyebrow (right side)</h3>
  <p>The right side of the eyebrow menu is comprised of the user name section and platform level services button groups</p>
  <div class="row">
  	 <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
        <ul>
          <li>A platform service is any service that extends across multiple product lines, Examples:</li>
          	<ul>
          		<li>Billing</li>
          		<li>Notifications</li>
          		<li>Ticketing</li>
          		<li>User Settings</li>
          	</ul>
          <li>When selected a platform service triggers an offcanvas right panel.</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/eyebrow-right.svg">
        </div>
        <figcaption>Eyebrow (rightside) construction specs</figcaption>
      </figure>
    </div>
  </div>

  <h3>Eyebrow (left side)</h3>
  <p>The left side of the eyebrow is comprised of the platform dashboard button and product switcher dropdowns. The item currently displayed in the content area + navigation section is reflected via the selected state beneath it.</p>
  <div class="row">
  	 <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>ALorem ipsum</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/eyebrow-left.svg">
        </div>
        <figcaption>Eyebrow (leftside) construction specs</figcaption>
      </figure>
    </div>
  </div>
</article>

<article>
 <h2>Off Canvas</h2>
  <p>Offcanvas panels are panels that serve from the global layer. Panels can either be offcanvas left or right dependent upon the type of content being displayed and are triggered via interacting with the global eyebrow. Each panel has three states: Hidden, Toggled, Extended</p>
  <div class="row">
    <div class="col-md-4">
    <h3>Offcanvas (left)</h3>
  	<p>The offcanvas left panel in the global layer is used to hide and show the <a href="#global">global dashboard.</a></p>
    	<ul>
          <li>Slide out animation, <code>0.5s ease-in-out</code></li>
          <li>When selected a platform service triggers an offcanvas right panel.</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-left-toggled.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Offcanvas panel left - toggled</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-left-extended.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Offcanvas panel left - extended</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-left-example.svg" style="width:472px; height:auto;">
        </div>
        <figcaption><a href="#global">Global Dashboard</a> left panel example</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <h3>Offcanvas (right)</h3>
  	<p>The offcanvas right panel of global layer is used to hide and show the platform service panels</p>
    	<ul>
          <li>Slide out animation, <code>0.5s ease-in-out</code></li>
          <li>When selected a platform service triggers an offcanvas right panel.</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-right-toggled.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Offcanvas panel right - toggled</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-right-extended.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Offcanvas panel right - extended</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/offcanvas-right-example.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Ticketing right panel example</figcaption>
      </figure>
    </div>
  </div>
 </article>

 <article>
  <div class="row">
    <div class="col-md-4" id="global">
  		<h3>Global Dashboard</h3>
  		<p>The Global Dashboard is an special offcanvas element that is toggled via the Global DB button (Rackspace logo), the left most element on the Global eyebrow. When toggled the dashboard will extend over the product and workflow layers.</p>
  	</div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/globaldash-base.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Global Dashboard - Hidden</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/globaldash-extended-half.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Global Dashboard - Toggled</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/global-layer/globaldash-extended-full.svg" style="width:472px; height:auto;">
        </div>
        <figcaption>Global Dashboard - Toggled & Extended</figcaption>
      </figure>
    </div>
  </div>
 </article>