---
title: Navigation
layout: website/default
category: Layout
usage: Teaser Text
preview-image:
---

<article>
  <p>Navigation establishes where the user is in an application and provides a path to complete tasks. Consistent navigation patterns allow the user to complete tasks more efficiently and confidently. Rackspace applications may utilize a combination of eyebrow navigation, either a top or side navigation, and breadcrumbs.</p>

  <a class="anchor" name="top-navigation"></a>
  <h1>Top Navigation <span class="status dev-ready">Complete</span></h1>
  <p>Text goes here.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Hover</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top-hover.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Active</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top-active.svg">
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="side-navigation"></a>
  <h1>Side Navigation <span class="status dev-ready">Complete</span></h1>
  <p>Text goes here.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Roomy</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left-roomy.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Compact</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left-compact.svg">
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="eyebrow"></a>
  <h1>Eyebrow <span class="status dev-ready">Complete</span></h1>
  <p>Text goes here.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Helix</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-eyebrow.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Encore</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-eyebrow-encore.svg">
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="breadcrumbs"></a>
  <h1>Breadcrumbs <span class="status dev-ready">Complete</span></h1>
  <p>Text goes here.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-breadcrumbs.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Hover</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-breadcrumbs-hover.svg">
    </div>
  </div>
</article>
