---
title: Navigation
layout: website/default
category: Layout
usage: Teaser Text
preview-image:
resource: true
---

<article>

  <p>Navigation establishes where the user is in an application and provides a path to complete tasks. Consistent navigation patterns allow the user to complete tasks more efficiently and confidently. Rackspace applications may utilize a combination of eyebrow navigation, either a top or side navigation, and breadcrumbs.</p>

</article>

<article>

  <h1>Primary Navigation<span class="status dev-ready">Complete</span></h1>
  <p>The primary navigation is used for the main sections of the application or for dropdown categories that organize sections into higher level groups.</p>

  <div class="row">
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <h2>Top Navigation</h2>
      <p>The primary navigation is used for the main sections of the application or for dropdown categories that organize sections into higher level groups.</p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <h2>Top Navigation Color and Typeface</h2>
      <p>Roboto Bold 16px
      <br>Gray 200 #e7e7e7
      <br>Letter-spacing: 0.05em
      <br>All Caps</p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top-color-type.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Top Nav Spacing</h2>
      <p>Horizontal spacing includes 20px left margin
      <br>Each menu item button has 20px left and right padding
      <br>Each menu item button has 20px padding in between</p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top-spacing-vertical.svg">
        </div>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-top-spacing-horizontal.svg">
        </div>
        <figcaption>Note: There is 1.25em padding between each menu item.</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <h2>Top Navigation Drop Down Menu Color and Typeface</h2>
      <p>Drop down menus should be at least the same width as the parent menu item.  Even if that leaves extra space to the right. However, drop down menus can be wider than the parent menu item.</p>
      <p>Roboto Bold 16px
      <br>Gray 200 #e7e7e7
      <br>Title Case</p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-dropdown-color-type.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Top Navigation Drop Down Spacing</h2>
      <p>Drop down menus should be at least the same width as the parent menu item.  Even if that leaves extra space to the right. However, drop down menus can be wider than the parent menu item.</p>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-dropdown-spacing-vertical.svg">
        </div>
      </figure>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-dropdown-spacing-horizontal.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <h2>Left Navigation</h2>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Left Navigation Color and Typeface</h2>
      <p>Roboto Regular 16px
      <br>Gray 400 #D8D8D8
      <br>Title Case</p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left-color-type.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Left Navigation Spacing</h2>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left-spacing-vertical.svg">
        </div>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-left-spacing-horizontal.svg">
        </div>
      </figure>
    </div>
  </div>

</article>

<article>

  <a class="anchor" name="eyebrow"></a>
  <h1>Eyebrow <span class="status prototype">In Progress</span></h1>

  <h2>Helix</h2>
  <figure>
    <div class="image bg-light border">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-eyebrow.svg">
    </div>
  </figure>

  <h2>Encore</h2>
  <figure>
    <div class="image bg-light border">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-eyebrow-encore.svg">
    </div>
  </figure>

</article>

<article>

  <a class="anchor" name="breadcrumbs"></a>
  <h1>Breadcrumbs <span class="status dev-ready">Complete</span></h1>

  <div class="row">
    <div class="col-md-4">
      <h2>Default</h2>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-breadcrumbs.svg">
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Hover</h2>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/navigation-breadcrumbs-hover.svg">
        </div>
      </figure>
    </div>
  </div>

</article>
