---
title: Page Layouts
layout: website/default
category: Layout
usage: Teaser Text
preview-image:
---

<article id="dashboard">
  <h1>Top Nav Framework</h1>

  <div class="row">
    <div class="col-md-6">
      <p>The utility navigation consists of links and tools that help the user, such as account details, log out, or help information, but are not the core sections of the application.</p>
      <p>The primary navigation is used for the main sections of the application or for dropdown categories that organize sections into higher level groups.</p>
      <p>The content area is used for your application's main data and interactions.</p>
      <p>The footer is used for legal information, application news, and feedback links.</p>
    </div>
    <div class="col-md-6">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/templates-top-nav-framework.svg">
    </div>
  </div>

</article>

<article id="list">
  <h1>Left Nav Framework</h1>
  <div class="row">
    <div class="col-md-6">
      <p>The utility navigation consists of links and tools that help the user, such as account details, log out, or help information, but are not the core sections of the application.</p>
      <p>The primary navigation is used for the main sections of the application or for dropdown categories that organize sections into higher level groups.</p>
      <p>The content area is used for your application's main data and interactions.</p>
      <p>The footer is used for legal information, application news, and feedback links.</p>
    </div>
    <div class="col-md-6">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/templates-left-nav-framework.svg">
    </div>
  </div>
</article>

<article id="detail">
  <h1>Detail</h1>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/detail.svg">
    </div>
  </div>
</article>

<article id="login">
  <h1>Login</h1>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/login.svg">
    </div>
  </div>
</article>

<article id="encore-panels">
  <h1>Encore Panels</h1>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-base-structure.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame-2.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame-3.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-metrics.svg">
    </div>
  </div>
</article>
