---
title: Page Layouts
layout: website/default
//category: Layout
usage: Teaser Text
preview-image:
---

<article id="dashboard">
  <h1>Dashboard</h1>

  <div class="ui horizontal segments">
    <div class="ui segment">
      <p>Text</p>
    </div>
    <div class="ui segment">
      <p>Labels</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/dashboard.svg">
    </div>
  </div>

</article>

<article id="list">
  <h1>List</h1>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/list.svg">
    </div>
  </div>
</article>

<article id="detail">
  <h1>Detail</h1>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/detail.svg">
    </div>
  </div>
</article>

<article id="login">
  <h1>Login</h1>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/login.svg">
    </div>
  </div>
</article>

<article id="encore-panels">
  <h1>Encore Panels</h1>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-base-structure.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame-2.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-frame-3.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/page-templates/panel-metrics.svg">
    </div>
  </div>
</article>
