---
title: Page Layouts
layout: website/default
category: Layout
usage: Teaser Text
preview-image: layout/preview-images/page-layout.svg
resource: true
---

<article>

  <p>The layout for all Rackspace control panels consists of 4 parts: the Account Navigation Bar, the Main Navigation, the content area, and the footer.</p>

</article>

<article>

<h1>Base Layouts</h1>

  <div class="row">
    <div class="col-md-4">

      <ul>
        <li>The Account Navigation Bar is used to navigate between applications and to manage roles and preferences on both the user and the account level</li>
        <li>The Main Navigation used to navigate between the main sections of the application the user is currently in. Make sure your application consistently uses either a Top Navigation or a Side Navigation, but never both. You may use dropdown for subcategories, but be sure to only use one sub-level.</li>
        <li>The Content Area is used for your application's main data and interactions. Make sure you always use Breadcrumbs to help users orient themselves and navigate within your application.</li>
        <li>The footer is used for legal information, application news, and feedback links.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-navigation-top.svg">
        </div>
        <figcaption>Choosing Top Navigation provides more horizontal real estate for your content area, but can limit the number of navigation items.</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-navigation-side.svg">
        </div>
        <figcaption>Choosing Left Navigation offers more flexibility for larger and more expansive menus, but constricts the horizontal real estate for your content area.</figcaption>
      </figure>
    </div>
  </div>

</article>

<article>

  <h1>Content Areas</h1>
  <p>Regardless of whether you use a top or side navigation, the content area should be built using a 12 Column Grid. See <a href="/layout/grid.html">GRID</a> for more details.</p>

  <div class="row">
    <div class="col-md-4">
      <h2>Full Width Content Area</h2>
      <ul>
        <li>Navigation is not a part of the 12 Column Grid.</li>
        <li>Content Area background color: Gray 25, #FAFAFA</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-content-full-top-nav.svg">
        </div>
        <figcaption>Full Width with Top Navigation.</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-content-full-side-nav.svg">
        </div>
        <figcaption>Full Width with Side Navigation.</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Content Area with Right Side Rail</h2>
      <h3>Main Content Area</h3>
      <ul>
        <li>9 columns
        <li>Background color: Gray 25, #FAFAFA</li>
      </ul>
      <h3>Right Side Rail</h3>
      <ul>
        <li>3 columns</li>
        <li>Background color: Gray 100, #EEEEEE</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-right-side-rail-top-nav.svg">
        </div>
        <figcaption>Right Side Rail with Top Navigation.</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-right-side-rail-side-nav.svg">
        </div>
        <figcaption>Right Side Rail with Side Navigation.</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Content Area with Left Side Rail</h2>
      <h3>Main Content Area</h3>
      <ul>
        <li>9 columns</li>
        <li>Background color: Gray 25, #FAFAFA</li>
      </ul>
      <h3>Left Side Rail</h3>
      <ul>
        <li>3 columns</li>
        <li>Background color: Gray 100, #EEEEEE</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-left-side-rail-top-nav.svg">
        </div>
        <figcaption>Left Side Rail with Top Navigation.</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-left-side-rail-side-nav.svg">
        </div>
        <figcaption>Left Side Rail with Side Navigation.</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Dashboard Content Area</h2>
      <h3>Module Content Area</h3>
      <ul>
        <li>4 columns each
        <li>Canvas Height: variable</li>
        <li>Background color: Gray 25, #FAFAFA <li>Canvas color: Gray 300, #E0E0E0</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-dashboard-top-nav.svg">
        </div>
        <figcaption>Dashboard Layout with Top Navigation.</figcaption>
      </figure>
      <!--
      <figure>
        <div class="image">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/layout/layout-dashboard-side.svg">
        </div>
        <figcaption>Dashboard layout with Side Navigation.</figcaption>
      </figure>
    -->
    </div>
  </div>

</article>
