---
title: Buttons
layout: website/default
author: Elizabeth Grothues
category: Components
---

<!-- DEFAULT BUTTONS -->
<!-- Button Tag -->
<h1 >Primary Buttons</h1>
<div class="ds-btn-group">
  <button class="ds-btn">Default Large</button>
  <button class="ds-btn active">Active Large</button>
  <button class="ds-btn disabled">Disabled Large</button>
  <button class="ds-btn hover">Hover Large</button>
</div>
<div class="ds-btn-group">
  <button class="ds-btn-med">Default Medium</button>
  <button class="ds-btn-med active">Active Medium</button>
  <button class="ds-btn-med disabled">Disabled Medium</button>
  <button class="ds-btn-med hover">Hover Medium</button>
</div>
<div class="ds-btn-group">
  <button class="ds-btn-sm">Default Small</button>
  <button class="ds-btn-sm active">Active Small</button>
  <button class="ds-btn-sm disabled">Disabled Small</button>
  <button class="ds-btn-sm hover">Hover Small</button>
</div>
<h1 style="padding-top:40px">Secondary Buttons</h1>
<div class="ds-btn-group">
  <button class="ds-btn-sec">Default Large</button>
  <button class="ds-btn active">Active Large</button>
  <button class="ds-btn disabled">Disabled Large</button>
  <button class="ds-btn hover">Hover Large</button>
</div>
<div class="ds-btn-group">
  <button class="ds-btn-med-sec">Default Medium</button>
  <button class="ds-btn-med active">Active Medium</button>
  <button class="ds-btn-med disabled">Disabled Medium</button>
  <button class="ds-btn-med hover">Hover Medium</button>
</div>
<div class="ds-btn-group">
  <button class="ds-btn-sm-sec">Default Small</button>
  <button class="ds-btn-sm active">Active Small</button>
  <button class="ds-btn-sm disabled">Disabled Small</button>
  <button class="ds-btn-sm hover">Hover Small</button>
</div>
<!-- Anchor Tag -->
<h1 style="padding-top:40px">Links</h1>
<div class="ds-btn-group">
  <a >Default</a>
  <a class="visited">Visited</a>
  <a class="disabled">Disabled</a>
  <a class="hover">Hover</a>
</div>
