---
title: Buttons
layout: website/default
category: Components
usage: Use primary, secondary and tertiary button types to signal important actions.
preview-image: components/preview-selectors.svg
status: pending
resource: true
---


<article>
  <h1>Buttons<span class="status prototype">In Progress</span></h1>
  <p>Buttons provide the mechanism for users to perform actions within a Helix themed UI. Each button has a wieght - (Primary, Secondary, and Teritiary), a size - (Regular, Large, Compact), as well as a type - (Simple, Dropdown)</p>
  <div class="row">
    <div class="col-md-12">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-types.svg">
        </div>
        <figcaption>The three types of buttons defined in the Helix design language</figcaption>
      </figure>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <h2>Primary Buttons</h2>
      <ul>
        <li>Use the primary action button to prompt the user to take action.</li>
        <li>In most instances, use the standard size button. Use the compact buttons with space constraints such as within a table.</li>
        <li>Large buttons should be used in mobile designs to accommodate the ideal touch target size</li>
        <li>Use one primary button per page.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-primary-sizes.svg">
        </div>
        <figcaption>Primary button sizes</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-primary-actions.svg">
        </div>
        <figcaption>Primary button states</figcaption>
      </figure>
  </div>
</article>
<article>
  <div class="row">
    <h2>Secondary Buttons</h2>
    <div class="col-md-4">
      <ul>
        <li>The secondary button can be used in conjuction with the primary button or when there are multiple buttons on the same screen.</li>
        <li>The same sizing rules apply to both secondary and primary buttons.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-secondary-sizes.svg">
        </div>
        <figcaption>Secondary button sizes</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-secondary-actions.svg">
        </div>
        <figcaption>Secondary button states</figcaption>
      </figure>
  </div>
</article>
<article>
  <div class="row">
  <h2>Tertiary Buttons</h2>
    <div class="col-md-4">
      <ul>
        <li>Tertiary buttons can be used in conjuction with the primary button or with a primary and secondary button.</li>
        <li>Tertiary buttons should be used to deemphasize the action in comparison with the actions of primary or secondary buttons.</li>
        <li>or example, use a tertiary button for "cancel" and a primary button to emphasize "submit"</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-tertiary-sizes.svg">
        </div>
        <figcaption>Tertiary button sizes</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-tertiary-actions.svg">
        </div>
        <figcaption>Tertiary button states</figcaption>
      </figure>
  </div>
</article>

<article>
  <div class="row">
  <h2>Dropdowns</h2>
  <p>Dropdowns inject additional actions into a primary, secondary, or tertiary button.</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>Inherits and extends any of the three button weights</li>
        <li>Follows the same styles and states as the button weight which it extends</li>
        <li>Attempt to limit to a maximium of 8 items. If more than 8 items are needed, consider splitting a subset of actions into another location on the page.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-dropdowns-actions.svg">
        </div>
        <figcaption>Dropdown buttons</figcaption>
      </figure>
  </div>
</article>

<article>
  <div class="row">
  <h2>Processing state (Loading)</h2>
  <p>When any button that submits an asynchronus api call is pressed the “processing” class/state is applied to the button. This state triggers the loading animation to be applied to the button.</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>Details on loading animation spectifics can be found on the <a href="{{site.baseurl}}/components/loading.html">loading page</a></li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-loading.svg">
        </div>
        <figcaption>Processing state across button weights</figcaption>
      </figure>
  </div>
</article>
<article>
<article>
  <div class="row">
  <h2>Button Specs</h2>
  <p>List of associated css values used across the three button sizes.</p>
    <div class="col-md-4">
      <h3>Standard Button Specs</h3>
      <ul>
        <li><code>font-family:roboto-medium</code></li>
        <li><code>font-size:14px</code></li>
        <li><code>text-transform:uppercase</code></li>
        <li><code>border-radius:2px</code></li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-specs-regular.svg">
        </div>
        <figcaption>Regular button redlines</figcaption>
      </figure>
    </div>
        <div class="col-md-4">
      <h3>Large Button Specs</h3>
      <ul>
        <li><code>font-family:roboto-medium</code></li>
        <li><code>font-size:16px</code></li>
        <li><code>text-transform:uppercase</code></li>
        <li><code>border-radius:2px</code></li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-specs-large.svg">
        </div>
        <figcaption>Large button redlines</figcaption>
      </figure>
    </div>
        <div class="col-md-4">
      <h3>Compact Button Specs</h3>
      <ul>
        <li><code>font-family:roboto-medium</code></li>
        <li><code>font-size:10px</code></li>
        <li><code>text-transform:uppercase</code></li>
        <li><code>border-radius:2px</code></li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Buttons/buttons-specs-compact.svg">
        </div>
        <figcaption>Compact button redlines</figcaption>
      </figure>
    </div>
  </div>
</article>
<article>
  <div class="row">
  <h2>Guidance</h2>
    <div class="col-md-8">
      <a class="anchor"></a>
      <ul>
        <li>Generally, use primary buttons for actions that go to the next step and use secondary buttons for actions that happen on the current page.</li>
        <li>Style the button most users should click in a way that distinguishes from other buttons on the page. Try using the “large button” or the most visually distinct fill color.</li>
        <li>Make sure buttons should look clickable—use color variations to distinguish static, hover and active states.
Avoid using too many buttons on a page.</li>
        <li>Avoid using too many buttons on a page.</li>
        <li>Use sentence case for button labels.</li>
        <li>Button labels should be as short as possible with “trigger words” that your users will recognize to clearly explain what will happen when the button is clicked (for example, “download,” “view” or “sign up”).</li>
        <li>Make the first word of the button’s label a verb. For example, instead of “Complaint Filing” label the button “File a complaint.”</li>
        <li>Only use icons inside buttons when absolutely necessary.  If your icon requires a text description then it may not be a good icon.</li>
      </ul>
    </div>
</article>
