---
title: Buttons
layout: website/default
category: Components
usage: Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
preview-image: components-buttons.svg
---

<!-- DEFAULT BUTTONS -->
<!-- Button Tag -->
<h1 class="ws-section-head">Primary Buttons<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Use the primary action button to prompt the user to take action. In most instances, use the standard size button. Use the compact buttons with space constraints such as within a table. Large buttons should be used in mobile designs to accommodate the ideal touch target size. Use one primary button per page.</p>
<div class="ws-btn-group-size">
  <div class="ws-btn-group">
    <button class="ds-btn">Button Text</button>
    <span class="subtext">Large</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med">Button Text</button>
    <span class="subtext">Standard</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-sm">Button Text</button>
    <span class="subtext">Compact</span>
  </div>
</div>
<h3 class="ws-btn-h3">Actions</h3>
<div class="ws-btn-group-actions">
  <div class="ws-btn-group">
    <button class="ds-btn-med default">Button Text</button>
    <span class="subtext">Default (700)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med hover">Button Text</button>
    <span class="subtext">Hover (500)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med active">Button Text</button>
    <span class="subtext">Pressed (900)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med disabled">Button Text</button>
    <span class="subtext">Disabled (300)</span>
  </div>  
</div>
<h3 class="ws-btn-h3">Dropdown Button</h3>

<h1 class="ws-section-head">Secondary Buttons<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">The secondary button can be used in conjuction with the primary button or when there are multiple buttons on the same screen. The same sizing rules apply to both secondary and primary buttons.</p>
<div class="ws-btn-group-size">
  <div class="ws-btn-group">
    <button class="ds-btn-sec">Button Text</button>
    <span class="subtext">Large</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med-sec">Button Text</button>
    <span class="subtext">Standard</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-sm-sec">Button Text</button>
    <span class="subtext">Compact</span>
  </div>
</div>
<h3 class="ws-btn-h3">Actions</h3>
<div class="ws-btn-group-actions">
  <div class="ws-btn-group">
    <button class="ds-btn-med-sec default">Button Text</button>
    <span class="subtext">Default (700)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med hover">Button Text</button>
    <span class="subtext">Hover (500)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med active">Button Text</button>
    <span class="subtext">Pressed (900)</span>
  </div>
  <div class="ws-btn-group">
    <button class="ds-btn-med disabled">Button Text</button>
    <span class="subtext">Disabled (300)</span>
  </div>
</div>
<h3 class="ws-btn-h3">Dropdown Button</h3>

<!-- Anchor Tag -->
<h1 class="ws-section-head">Links and Tertiary Buttons<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
<div class="ws-btn-group">
  <a >Default</a>
  <a class="hover">Hover</a>
  <a class="active">Pressed</a>
  <a class="disabled">Disabled</a>
</div>

<style type = "text/css" scoped>
  .ws-btn-group-size{
  }

  .ws-btn-group{
    display: inline-block;
    vertical-align: bottom;
  }

  .ws-btn-group .subtext{
    display: block;
    text-align: center;
    padding-top: 8px;
  }

  .ws-btn-group-size .ws-btn-group, .ws-btn-group a{
    padding-right: 40px;
  }

  .ws-btn-group-actions .ws-btn-group{
    padding-right: 24px;
  }

  .ws-btn-group button{
    margin: 0;
  }

  .ws-btn-h3{
    padding: 32px 0 24px 0; 
  }
</style>
