---
title: Cards
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="cards"></a>
  <h1>Cards <span class="status prototype">In Progress</span></h1>
  <p class="update">We have full page mockups with various card types. How do we want to separate those out?</p>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="dashboard"></a>
  <h1>Dashboard Panels<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>
