---
title: Data Visualization
layout: website/default
category: Components
usage: The Helix 12-column grid provides structure for website content.
preview-image: components-grid.svg
---
<h1 class="ws-section-head">Statistic<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p"><b>Before considering any data visualization</b>, consider just showing a simple statistic. If you can tell the user what they want to know without interpret a chart, that is preferred.</p>

<h1 class="ws-section-head">Bar Chart<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<canvas id="demoBarChart" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>
<h3 class="ws-charts-h3">Blah Blah</h3>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<canvas id="demoBarChartb" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>





<h1 class="ws-section-head">Line Chart<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<canvas id="demoLineChart" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>
<h3 class="ws-charts-h3">Blah Blah</h3>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<canvas id="demoLineChartb" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>



<h1 class="ws-section-head">Pie and Doughnut Charts<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-4">
		<canvas id="demoPieChart" width="400" height="400"></canvas>
	</div>
	<div class="span-2"></div>
	<div class="span-4">
		<canvas id="demoDoughnutChart" width="400" height="400"></canvas>
	</div>
	<div class="span-1"></div>
</div>


<h1 class="ws-section-head">Polar Area Chart<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-2"></div>
	<div class="span-6">
		<canvas id="demoPolarAreaChart" width="1" height="1"></canvas>
	</div>
	<div class="span-2"></div>
</div>

<h1 class="ws-section-head">Radar Chart<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Utility icons can be used in place of text to perform an action. They are based on commonly used, established metaphors. If it takes the text to explain what an icon does, leave out the icon and only use the text. Utility icons should be colored like links or match the color of body text dependent on the background color. </p>
<div class="rs-row-collapse">
	<div class="span-2"></div>
	<div class="span-6">
		<canvas id="demoRadarChart" width="1" height="1"></canvas>
	</div>
	<div class="span-2"></div>
</div>


<style type="text/css">
    .ws-charts-h3{
    padding: 32px 0 24px 0; 
  }
</style>

<script src="/assets/js/demo-charts.js"></script>