---
title: Data Visualization
layout: website/default
category: Components
usage: The Helix 12-column grid provides structure for website content.
preview-image: components-grid.svg
---
<h1 class="ws-section-head">Chart Basics<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">When considering using a data visualization in your project, always value <b>substance over flash</b>. The most important thing is making sure it is easy to interpret the data and glean insights. Charts can also present accessiblity chanlenges designers must address. Remember to keep in mind color blind users, keyboard accessibility, and users with screen readers.</p>
<p>Best practices include:</p>
<ul>
	<li><b>Labeling</b> the chart and axises. Don't make the user guess what data points mean. The only case an axis label isn't needed is when the x-axis shows time.</li>
	<li>Using a <b>legand</b> when differences in color and pattern convey information in charts.</li>
	<li>Verifying chart <b>colors can be differentiated</b> by colorblind users. When possible, <b>use patterns</b> in addition to color to differentiate data.</li>
	<li>Displaying a <b>threshold or average line</b> with the information is available. This give the user quick context as to whether they are doing better or worse than expected.</li>
	<li>Verifying the information in the charts is also available to someone using a <b>screen reader</b>.</li>
	<li>Never fully relying on hover tooltips to convey information.</li>
</ul>

<h1 class="ws-section-head">Statistic<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p"><b>Before considering any data visualization</b>, consider showing a simple statistic. If you can tell the user what they want to know without interpret a chart, that is preferred.</p>



<h1 class="ws-section-head">Bar Chart<span class="status prototype">In Progress</span></h1>
<p>Use: <b>comparison between items</b> or <b>comparison thoughout time</b> and <b>identify outliers</b></p>
<p >Bar charts can help the user quickly identify high and low values in data sets. You can compare items against each other, such as in the first example. In the second example, the same item is compared overtime. A line chart could also be used in this scenario and works better if you are showing more than 12 data points. Bar charts work best if large differences between bars are expected. Subtle fluctuations will be harder to identify in a bar chart than in a line chart.</p>

<p class="ws-first-p">Bar in charts with a single data set should be the same color, and there is no need to show a legend.</p>

<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">Length of World's Largest Rivers Defined by Discharge</h2>
		<canvas id="demoBarChart" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>

<h3>Multiple Data Sets</h3>
<p>Up to four data sets can be compared overtime using a bar chart. Each data set should be a unique color, and a legand must be displayed. Clicking on a data set label in the legend toggles between showing and hiding that information in the chart.</p>
<p class="ws-first-p">In order to show multiple data sets on the same bar chart, the same y-axis must be represent the same variable. If the y-axis variables are different, show the information in separate charts.Creating multiple y-axises can make charts misleading and cause confusion.</p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">Monthly Rainfall</h2>
		<canvas id="demoBarChartb" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>

<h1 class="ws-section-head">Bubble Chart<span class="status prototype">In Progress</span></h1>
<p class="ws-todo-bar" style="margin-bottom:12px;"><b>TODO:</b> Indicate what bubble radius represents in the legend.</p>
<p class="ws-todo-bar" style="margin-bottom:12px;"><b>TODO:</b> Change the display of the data in the tooltip.</p>
<p class="ws-todo-bar" style="margin-bottom:24px;"><b>TODO:</b> Show continent groups in legend instead of individual rivers..</p>


<p>Use: <b>show relationship</b> or <b>show three variables</b></p>
<p>A bubble chart displays three variables of data at a time. It can show the correlation between the x- and y-axis variables. A third variable determines the size of the bubble. Be conscientious of the number of bubbles and the size of the chart. Too many bubbles on too small of a chart can create a useless visualization.</p>
<p class="ws-first-p">A legend doesn't necessarily need to be shown with this chart. However, it can be used to filter what bubbles are displayed and therefore helpful in some circumstances. Make sure to include a custom scale indicating what bubble diameter indicates.</p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">The World's Largest Rivers</h2>
		<canvas id="demoBubbleChart" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>



<h1 class="ws-section-head">Line Chart<span class="status prototype">In Progress</span></h1>
<p>Use: <b>trends over time</b></p>

<p class="ws-first-p">Much of the guidence around bar charts also applies to line charts. Line charts with a single line do not need a legend. Up to six lines can be displayed on a single chart with a legend. Lines must be throroughly differentiated with color or pattern. The same y-axis variable must apply to all lines on the chart.</p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">Average Monthy Rainfall</h2>
		<canvas id="demoLineChartb" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">Nile River Yearly Discharge</h2>
		<canvas id="demoLineChartd" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>
<h3 class="ws-charts-h3">Variations</h3>
<p class="ws-first-p">Chart.js allows for customization. The tension on the lines can be changed to make the lines more rounded. The area beneath the line can also be filled; however, this affect should only be used if there is one line on the chart.</p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-10">
		<h2 class="ds-chart-header">Nile River Yearly Discharge</h2>
		<canvas id="demoLineChartC" width="12" height="5"></canvas>
	</div>
	<div class="span-1"></div>
</div>



<h1 class="ws-section-head">Pie and Doughnut Charts<span class="status prototype">In Progress</span></h1>
<p class="ws-todo-bar" style="margin-bottom:24px;"><b>TODO:</b> Move the legend to the left.</p>
<p>Pie and doughnut charts show composition and are the only Helix charts that show an item's share of the total. Limit the number of slices to seven or less. If there are more categories than that, group all but the largest six into an other category. Always show legends with a pie chart.</p>
<p  class="ws-first-p">An additional feature of a doughnut charts is that it can be combined with a statistic shown in the center whitesapece.</p>
<div class="rs-row-collapse">
	<div class="span-1"></div>
	<div class="span-4">
		<h2 class="ds-chart-header">Large* Rivers per Continent</h2>
		<canvas id="demoPieChart" width="400" height="400"></canvas>
		<p class="subtext">*In this context, large rivers discharge more than 2,000 cubic meters of water per second.</p>
	</div>
	<div class="span-2"></div>
	<div class="span-4">
		<h2 class="ds-chart-header">Large* Rivers per Continent</h2>
		<canvas id="demoDoughnutChart" width="400" height="400"></canvas>
		<p class="subtext">*In this context, large rivers discharge more than 2,000 cubic meters of water per second.</p>
	</div>
	<div class="span-1"></div>
</div>


<h1 class="ws-section-head">Polar Area Chart<span class="status prototype">In Progress</span></h1>
<p>Use: <b>identify outliers</b> and <b>display cyclical data</b></p>
<p>Polar area charts have similarities to both bar and pie charts. Unlike pie charts, they do not show an item's share of the total. Instead each wedge has an equal angle. Instead, the wedges extend from the center to show deviations in the data the way bars extend from the x-axis in the above bar chart examples. Polar area charts are best at showing cyclical data.</p>
<p class="ws-first-p">Since polar area charts are less common compared to bar and pie charts, gleaning insights from them can increase <a href="https://www.nngroup.com/articles/minimize-cognitive-load/">cognitive load</a>. Depending on your data, consider showing a bar chart or pie chart instead.</p>
	
<div class="rs-row-collapse">
	<div class="span-2"></div>
	<div class="span-6">
		<h2 class="ds-chart-header">San Antonio's Rainfall</h2>
		<canvas id="demoPolarAreaChart" width="1" height="1"></canvas>
	</div>
	<div class="span-2"></div>
</div>

<h1 class="ws-section-head">Radar Chart<span class="status prototype">In Progress</span></h1>
<p>Use: <b>identify outliers</b> and <b>layer two data sets</b></p>
<p class="ws-first-p">Before using a radar chart, consider using a Radar charts are a way of comparing multiple quantitative variables. This makes them useful for seeing which variables have similar values or if there are any outliers amongst each variable. Radar Charts are also useful for seeing which variables are scoring high or low within a dataset, making them ideal for displaying performance.

Do not overlay more than three d

<p class="ws-first-p">A radar chart can have no more than 12 axises. The same scale must apply to all axises. Only two data set can be shown at a time.</p>
<div class="rs-row-collapse">
	<div class="span-2"></div>
	<div class="span-6">
		<h2 class="ds-chart-header">Monthly Average Rainfall</h2>
		<canvas id="demoRadarChart" width="1" height="1"></canvas>
	</div>
	<div class="span-2"></div>
</div>


<style type="text/css">
    .ws-charts-h3{
    padding: 32px 0 24px 0; 
  }
</style>

<script src="/assets/js/demo-charts.js"></script>