---
title: Data Visualization
layout: website/default
category: Components
usage: The Helix 12-column grid provides structure for website content.
preview-image: components-grid.svg
---
<h1 class="ws-section-head">Statistic<span class="status prototype">In Progress</span></h1>

<h1 class="ws-section-head">Bar Chart<span class="status prototype">In Progress</span></h1>
<canvas id="demoBarChart" width="400" height="400"></canvas>

<h1 class="ws-section-head">Bubble Chart<span class="status prototype">In Progress</span></h1>
<canvas id="demoBubbleChart" width="400" height="400"></canvas>

<h1 class="ws-section-head">Line Chart<span class="status prototype">In Progress</span></h1>
<canvas id="demoLineChart" width="400" height="400"></canvas>

<h1 class="ws-section-head">Pie and Doughnut Charts<span class="status prototype">In Progress</span></h1>
<canvas id="demoPieChart" width="400" height="400"></canvas>
<canvas id="demoDoughnutChart" width="400" height="400"></canvas>

<h1 class="ws-section-head">Polar Area Chart<span class="status prototype">In Progress</span></h1>
<canvas id="demoPolarAreaChart" width="400" height="400"></canvas>

<h1 class="ws-section-head">Radar Chart<span class="status prototype">In Progress</span></h1>
<canvas id="demoRadarChart" width="400" height="400"></canvas>



<style type="text/css">
  
</style>

<script src="/assets/js/demo-charts.js"></script>