---
title: Date & Time Pickers
layout: website/default
category: Components
usage: Teaser Text
preview-image:
resource: true
status: pending
---

<article>
  <h1>Date Picker <span class="status prototype">In Progress</span></h1>
  <p>The Date Picker allows the user to make a date or date range using a calendar view.</p>
  <!--The currently selected date is given a blue background.
When present, Special Dates are indicated in orange. On hover, a Tooltip appears, containing a concise label for the corresponding Special Date. (Please note that the described hover functionality is not implemented in the example below.)
Blackout Dates are dates that cannot be selected. They have priority treatment over Special Dates. For example, if a date is both a Special Date and a Blackout Date, it will receive the Blackout Date treatment. Like Special Dates, Blackout Dates may also reveal a Tooltip on hover.-->

  <div class="row">
    <div class="col-md-3">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/date-picker.svg">
        </div>
        <figcaption>Default</figcaption>
      </figure>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/date-picker-hover.svg">
        </div>
        <figcaption>Hover</figcaption>
      </figure>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/date-picker-select-range-2.svg">
        </div>
        <figcaption>Selecting a Range</figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/date-picker.svg">
        </div>
        <figcaption>Select Month</figcaption>
      </figure>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/date-picker-month.svg">
        </div>
        <figcaption>Month Hover</figcaption>
      </figure>
    </div>
</article>

<article>
  <a class="anchor" name="time-picker"></a>
  <h1>Time Picker <span class="status prototype">In Progress</span></h1>

    <div class="ui segments">
      <div class="ui segment">
        <h3>Default</h3>
        <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/time-picker.svg">
      </div>
    </div>
    <div class="ui segments">
      <div class="ui segment">
        <h3>Selected</h3>
        <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/time-picker-selected.svg">
      </div>
    </div>

</article>
