---
title: Date and Time
layout: website/default
category: Components
usage:
preview-image:
---

<h1 class="ws-section-head">Time<span class="status prototype">In Progress</span></h1>
<p class="ws-todo-bar" style="margin-bottom:12px;"><b>TODO:</b> Add html5 fallback.</p>
<p class="ws-todo-bar" style="margin-bottom:12px;"><b>TODO:</b> Correct Semantic UI style inheritance (font, font-size).</p>
<div class="ws-section-con">
  <div class="ui form">
    <div class="fields">
  		<div class="field">
        <input type="time">
      </div>
    </div>
  </div>
</div>
