---
title: Editing
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="modal-whiteout"></a>
  <h1>Forced Action Modal<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Whiteout</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-whiteout.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Blackout</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-blackout.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="popover"></a>
  <h1>Popover<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Quick Hover</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-hover.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Triggered</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-triggered.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Close</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-close.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>With Header</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/popover-header.svg">
    </div>
  </div>

</article>

<!--<article>
  <a class="anchor" name="edit-page"></a>
  <h1>Edit Page<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>-->
