---
title: Text Inputs
layout: website/default
category: Components
usage: Helix provides a variety of text inputs to allow users to enter information into a page.
preview-image: components-fields.svg
---

<article>
  <h1>Text Field<span class="status prototype">In Progress</span></h1>
  <p>Text fields are generally found in forms. The type of text field determines which characters are allowed within it. For example, a user shouldn't be able to enter a letter into a phone number field. When the user is entering a name or proper noun, the first letter should automatically be capitalized when typed.</p>
  <p>If the content is longer than the width of the text field, automatically scroll the content left as the user continues to type. Consider using a text area if this is expected to happen frequently in a specific text field.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="field required">
          <label>Required field</label>
          <input type="text" placeholder="This is placeholder text">
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>Field with subtext</label>
          <input type="text" placeholder="This is placeholder text">
        </div>
        <div class="ui message subtext">
          <p>This is some subtext.</p>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>Prefix or suffix</label>
          <div class="ui right labeled input">
            <div class="ui label">$</div>
            <input type="text" placeholder="Amount">
            <div class="ui basic label">.00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>With icon left</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Search">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui form">
        <div class="field required">
          <label>Password</label>
          <input type="password" value="password">
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Type Ahead</h3>
      <div class="formGroup">
        <div class="formLabel">Contact</div>
        <div class="formComponant">
          <div class="ui-widget">
            <input id="tags" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Type Ahead Multiple Values</h3>
      <div class="formGroup">
        <div class="formLabel">Contact</div>
        <div class="formComponant">
          <div class="ui-widget">
            <input id="tags-multi" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="disabled field">
          <label>Disabled with value</label>
          <input type="text" value="Value text" disabled>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="disabled field">
          <label>Disabled with placeholder text</label>
          <input type="text" placeholder="Placeholder text" disabled="disabled">
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Completed</h3>
      <div class="ui form">
        <div class="field">
          <label>Complete form field</label>
          <input type="text" value="Value text">
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="field error">
          <label>Error with value</label>
          <input type="text" value="Value text">
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form error">
        <div class="field required error">
          <label>Error with placeholder text</label>
          <input type="text" placeholder="Required">
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form error">
        <div class="field error">
          <label>Error with icon</label>
          <input type="text" value="Value text">
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<article>
  <h1>Textarea<span class="status prototype">In Progress</span></h1>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="field">
          <label>Textarea with placeholder text</label>
          <textarea placeholder="This is placeholder text"></textarea>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>The final countdown</label>
          <textarea maxlength="50" id="textarea"></textarea>
          <p class="form-subtext countdown" id="textarea_feedback">This is some subtext.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="disabled field">
          <label>Textarea with placeholder text</label>
          <textarea placeholder="This is placeholder text">When I see birches bend to left and right across the lines of straighter darker trees, I like to think some boy's been swinging them. But swinging doesn't bend them down to stay as ice-storms do.</textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="field error">
          <label>Textarea with placeholder text</label>
          <textarea placeholder="This is placeholder text">Often you must have seen them loaded with ice a sunny winter morning after a rain. They click upon themselves as the breeze rises, and turn many-colored as the stir cracks and crazes their enamel.</textarea>
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<article>
  <h1>Fieldset<span class="status prototype">In Progress</span></h1>
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>Field One</label>
          <input type="text">
        </div>
        <div class="field">
          <label>Field Two</label>
          <input type="text">
        </div>
        <div class="field">
          <label>Field Three</label>
          <input type="text">
        </div>
      </div>
    </div>
  </div>
</article>
