---
title: Form Selectors
layout: website/default
category: Components
usage: Helix controls allow users to select options in a variety of ways including radio buttons, checkboxes, switches and more.
preview-image: components-selectors.svg
---

<article>
  <p class="ws-todo-bar"><b>TODO:</b> Update focus states, expand on inline validation, and improve keyboard accesibility</p>
</article>

<article>
  <a class="anchor" name="radio"></a>
  <h1>Radio Buttons<span class="status prototype">In Progress</span></h1>
  <p>Use when selecting a <b>single item</b> from a set it&#8217;s important for the user to see all options at once. If viewing items side-by-side isn&#8217;t important, consider a selector, which uses less space.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="grouped fields">
          <label>Select an option</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="radio1" checked="checked">
              <label>Option 1</label>
              <div class="ui message subtext">
                <p>This is some subtext.</p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="radio1">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="radio1">
              <label>Option 3</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="grouped fields">
          <label>Select an option</label>
          <div class="field disabled">
            <div class="ui radio checkbox">
              <input type="radio" name="radio2" checked="checked" disabled="disabled">
              <label>Option 1</label>
            </div>
          </div>
          <div class="field disabled">
            <div class="ui radio checkbox">
              <input type="radio" name="radio2" disabled="disabled">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field disabled">
            <div class="ui radio checkbox">
              <input type="radio" name="radio2" disabled="disabled">
              <label>Option 3</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="grouped fields required">
          <label>Select an option</label>
          <div class="field error checked">
            <div class="ui radio checkbox">
              <input type="radio" name="radio3" check="checked">
              <label>Option 1</label>
            </div>
          </div>
          <div class="field error">
            <div class="ui radio checkbox">
              <input type="radio" name="radio3">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field error">
            <div class="ui radio checkbox">
              <input type="radio" name="radio3">
              <label>Option 3</label>
            </div>
          </div>
        </div>
        <div class="ui error message">
          <p>There is an error with the response to this question.</p>
        </div>
      </div>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="radio-button-group"></a>
  <h1>Radio Button Group<span class="status prototype">In Progress</span></h1>
  <p>Use when selecting a <b>single item</b> from a set if it&#8217;s important for the user to see all options at once. This alternate can be used instead of regular radio buttons if the options are <b>simple</b>, limited in number and individual length.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
        <div class="ui form">
          <div class="field">
            <label>Select potential maintenance days</label>
            <div class="ui buttons single">
              <button class="ui button ds-btn-med-sec active">Mon</button>
              <button class="ui button ds-btn-med-sec">Tues</button>
              <button class="ui button ds-btn-med-sec">Wed</button>
              <button class="ui button ds-btn-med-sec">Thurs</button>
              <button class="ui button ds-btn-med-sec">Fri</button>
              <button class="ui button ds-btn-med-sec">Sat</button>
              <button class="ui button ds-btn-med-sec">Sun</button>
            </div>
            <div class="ui message subtext">
              <p>Here is some additional help text to explain these choices.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="field">
          <label>Select payment type</label>
          <div class="ui buttons single">
            <button class="ui button ds-btn-med-sec disabled active">Credit / Debit</button>
            <button class="ui button ds-btn-med-sec disabled">Cash</button>
            <button class="ui button ds-btn-med-sec disabled">Check</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="field error">
          <label class="required">Select potential maintenance windows</label>
          <div class="ui buttons single">
            <button class="ui button ds-btn-med-sec">12<span class="smCaps"> AM</span> &ndash; 4<span class="smCaps"> AM</button>
            <button class="ui button ds-btn-med-sec error active">4<span class="smCaps"> AM</span> &ndash; 8<span class="smCaps"> AM</button>
            <button class="ui button ds-btn-med-sec">8<span class="smCaps"> AM</span> &ndash; 12<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">12<span class="smCaps"> PM</span> &ndash; 4<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">4<span class="smCaps"> PM</span> &ndash; 8<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">8<span class="smCaps"> PM</span> &ndash; 12<span class="smCaps"> AM</button>
          </div>
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="checkbox"></a>
  <h1>Checkboxes<span class="status prototype">In Progress</span></h1>
  <p>Use when selecting <b>multiple items</b> from a set if it&#8217;s important for the user to see all options at once. If viewing items side-by-side isn&#8217;t important, consider a selector, which uses less space.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="grouped fields">
          <label>Select an option</label>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox3" checked="checked">
              <label>Option 1</label>
              <div class="ui message subtext">
                <p>This is some subtext.</p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox3">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox3">
              <label>Option 3</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="grouped fields">
          <label>Select an option</label>
          <div class="field disabled">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox2" checked="checked" disabled="disabled">
              <label>Option 1</label>
            </div>
          </div>
          <div class="field disabled">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox2" disabled="disabled">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field disabled">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox2" disabled="disabled">
              <label>Option 3</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="grouped fields required">
          <label>Select an option</label>
          <div class="field error">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox1" checked="checked">
              <label>Option 1</label>
            </div>
          </div>
          <div class="field error">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox1">
              <label>Option 2</label>
            </div>
          </div>
          <div class="field error">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox1" checked="checked">
              <label>Option 3</label>
            </div>
          </div>
        </div>
        <div class="ui error message">
          <p>There is an error with the response to this question.</p>
        </div>
      </div>
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="checkbox-button-group"></a>
  <h1>Checkbox Button Group<span class="status prototype">In Progress</span></h1>
  <p>Use when selecting <b>multiple items</b> from a set if it&#8217;s important for the user to see all options at once. This alternate can be used instead of regular check boxes if the options are <b>simple</b>, limited in number and individual length.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="field">
          <label>Select potential maintenance days</label>
          <div class="ui buttons multi">
            <button class="ui button multi ds-btn-med-sec active">Mon</button>
            <button class="ui button multi ds-btn-med-sec active">Tues</button>
            <button class="ui button multi ds-btn-med-sec">Wed</button>
            <button class="ui button multi ds-btn-med-sec">Thurs</button>
            <button class="ui button multi ds-btn-med-sec">Fri</button>
            <button class="ui button multi ds-btn-med-sec">Sat</button>
            <button class="ui button multi ds-btn-med-sec">Sun</button>
          </div>
          <div class="ui message subtext">
            <p>Here is some additional help text to explain these choices.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="ui field">
          <div class="field">
            <label>Select payment type</label>
            <div class="ui buttons multi">
              <button class="ui button ds-btn-med-sec active disabled">Credit / Debit</button>
              <button class="ui button ds-btn-med-sec active disabled">Cash</button>
              <button class="ui button ds-btn-med-sec disabled">Check</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="field error">
          <label class="required">Select potential maintenance windows</label>
          <div class="ui buttons multi">
            <button class="ui button ds-btn-med-sec active error">12<span class="smCaps"> AM</span> &ndash; 4<span class="smCaps"> AM</button>
            <button class="ui button ds-btn-med-sec active">4<span class="smCaps"> AM</span> &ndash; 8<span class="smCaps"> AM</button>
            <button class="ui button ds-btn-med-sec">8<span class="smCaps"> AM</span> &ndash; 12<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">12<span class="smCaps"> PM</span> &ndash; 4<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">4<span class="smCaps"> PM</span> &ndash; 8<span class="smCaps"> PM</button>
            <button class="ui button ds-btn-med-sec">8<span class="smCaps"> PM</span> &ndash; 12<span class="smCaps"> AM</button>
          </div>
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="simple-selector"></a>
  <h1>Simple Selector<span class="status prototype">In Progress</span></h1>
  <p class="ws-todo-bar" style="margin-bottom:24px"><b>TODO:</b> Update style and add additional examples</p>
  <p>Use the simple selector when choosing from a limited number options. If more than 10-12 options need to displayed, use the complex selector, which contains a search. Always use the complex selector for devices. Be mindful of the length of each option. Addional context can't be given on an option-by-option basis. If this is needed, consider radio buttons or checkboxes with subtext. Alphabetize options unless there is a strong use case for an alternative organization.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="field">
          <label>Contact</label>
          <select class="ui dropdown">
            <option value="">Make a selection</option>
            <option value="Bart">Bart Renner</option>
            <option value="Carmen">Carmen Broomes</option>
            <option value="Elizabeth">Elizabeth Grotheus</option>
            <option value="Eric">Eric Weidner</option>
            <option value="Lane">Lane Fielder</option>
            <option value="Mikey">Mikey Hougland</option>
            <option value="Tommy">Tommy Shook</option>
            <option value="Ty">Ty Taylor</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui disabled form">
        <div class="field">
          <label>Contact</label>
          <select class="ui dropdown">
            <option value="">Make a selection</option>
            <option value="Bart">Bart Renner</option>
            <option value="Carmen">Carmen Broomes</option>
            <option value="Elizabeth">Elizabeth Grotheus</option>
            <option value="Eric">Eric Weidner</option>
            <option value="Lane">Lane Fielder</option>
            <option value="Mikey">Mikey Hougland</option>
            <option value="Tommy">Tommy Shook</option>
            <option value="Ty">Ty Taylor</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form">
        <div class="field">
          <label>Contact</label>
          <select class="ui dropdown error">
            <option value="">Make a selection</option>
            <option value="Bart">Bart Renner</option>
            <option value="Carmen">Carmen Broomes</option>
            <option value="Elizabeth">Elizabeth Grotheus</option>
            <option value="Eric">Eric Weidner</option>
            <option value="Lane">Lane Fielder</option>
            <option value="Mikey">Mikey Hougland</option>
            <option value="Tommy">Tommy Shook</option>
            <option value="Ty">Ty Taylor</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Single Select</h3>
      <div class="ui form">
        <div class="field">
          <label>Contact</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="contact">
            <i class="dropdown icon"></i>
            <div class="default text">Make a selection</div>
            <div class="menu">
              <div class="item" data-value="Bart">Bart Renner</div>
              <div class="item" data-value="Carmen">Carmen Broomes</div>
              <div class="item" data-value="Elizabeth">Elizabeth Grotheus</div>
              <div class="item" data-value="Eric">Eric Weidner</div>
              <div class="item" data-value="Lane">Lane Fielder</div>
              <div class="item" data-value="Mikey">Mikey Hougland</div>
              <div class="item" data-value="Tommy">Tommy Shook</div>
              <div class="item" data-value="Ty">Ty Taylor</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Multiple Select</h3>
      <div class="ui form">
        <div class="field">
          <label>Contact</label>
          <select multiple="" class="ui dropdown">
            <option value="">Make a selection</option>
            <option value="Bart">Bart Renner</option>
            <option value="Carmen">Carmen Broomes</option>
            <option value="Elizabeth">Elizabeth Grotheus</option>
            <option value="Eric">Eric Weidner</option>
            <option value="Lane">Lane Fielder</option>
            <option value="Mikey">Mikey Hougland</option>
            <option value="Tommy">Tommy Shook</option>
            <option value="Ty">Ty Taylor</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Type Ahead Select</h3>
      <div class="ui fluid search selection dropdown">
        <input type="hidden" name="state">
        <i class="dropdown icon"></i>
        <div class="default text">Select State</div>
        <div class="menu">
          <div class="item" data-value="">State</div>
          <div class="item" data-value="AL">Alabama</div>
          <div class="item" data-value="AK">Alaska</div>
          <div class="item" data-value="AZ">Arizona</div>
          <div class="item" data-value="AR">Arkansas</div>
          <div class="item" data-value="CA">California</div>
          <!-- Saving your scroll sanity !-->
          <div class="item" data-value="OH">Ohio</div>
          <div class="item" data-value="OK">Oklahoma</div>
          <div class="item" data-value="OR">Oregon</div>
          <div class="item" data-value="PA">Pennsylvania</div>
          <div class="item" data-value="RI">Rhode Island</div>
          <div class="item" data-value="SC">South Carolina</div>
          <div class="item" data-value="SD">South Dakota</div>
          <div class="item" data-value="TN">Tennessee</div>
          <div class="item" data-value="TX">Texas</div>
          <div class="item" data-value="UT">Utah</div>
          <div class="item" data-value="VT">Vermont</div>
          <div class="item" data-value="VA">Virginia</div>
          <div class="item" data-value="WA">Washington</div>
          <div class="item" data-value="WV">West Virginia</div>
          <div class="item" data-value="WI">Wisconsin</div>
          <div class="item" data-value="WY">Wyoming</div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Type Ahead Multiple Select</h3>
      <select class="ui fluid search dropdown" multiple="">
        <option value="">Select States</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <!-- Saving your scroll sanity !-->
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
  </div>
</article>

<article>
  <a name="toggle"></a>
  <h1>Toggle<span class="status prototype">In Progress</span></h1>
  <p>Toggles should be used instead of switches for desktop design. If you need to toggle between more than two options, see the <b>radio button button-group alternate</b> design. Toggles should also be used on mobile devices instead of a switch if specific labels are needed on the selector.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Enabled</h3>
      <div class="ui form">
        <div class="field">
          <div class="ui buttons single">
            <button class="ui button ds-btn-med-sec">Cloud</button>
            <button class="ui button ds-btn-med-sec active">Dedicated</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Disabled</h3>
      <div class="ui form">
        <div class="field">
          <div class="ui buttons single">
            <button class="ui button ds-btn-med-sec active disabled">Cloud</button>
            <button class="ui button ds-btn-med-sec disabled">Dedicated</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h3>Error</h3>
      <div class="ui form error">
        <div class="field error">
          <div class="ui buttons single">
            <button class="ui button ds-btn-med-sec">Cloud</button>
            <button class="ui button ds-btn-med-sec error active">Dedicated</button>
          </div>
          <div class="ui error message">
            <p>There is an error with the response to this question.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<!--<article>
  <a class="anchor" name="switch"></a>
  <h1>Switch<span class="status prototype">In Progress</span></h1>
  <p>The switch should only be used in <b>mobile</b> designs. Enabling preferences or settings is a prime use case for this component. The switch can be used with or without text, depending on the context provided in the switch label. If more complex text is needed in the switch than yes/no or on/off, use a <b>toggle</b>.</p>

    <div class="ui segments">
      <div class="ui segment">
        <div class="ui form">
          <h3>Enabled</h3>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>Without text</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>With text (on/off)</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>With text (yes/no)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h3>Disabled</h3>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="public" disabled="disabled">
            <label>With text (on/off)</label>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h3>Error</h3>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="public" disabled="disabled">
            <label>With text (on/off)</label>
          </div>
        </div>
      </div>
    </div>

</article>-->
