---
title: Grid
layout: website/default
category: Components
usage: The Helix 12-column grid provides structure for website content.
preview-image: components-grid.svg
---


<h1 class="ws-section-head">Responsive 12 Column Grid<span class="status prototype">In Progress</span></h1>
<p class="ws-first-p">Implementation of the responsive fluid grid system is flexible and makes it simple to adjust the grid to custom needs. By default, the grid consists of 12 columns which will stack responsively for tablet and mobile screens.</p>

<h3 class="ws-grid-h3">Options</h3>

<div class="row">
  <div class="col-md-6">
    <img src="../assets/img/side-nav.svg"  class="ws-grid-img">
    <span class="subtext">Left Navigation</span>
  </div>
  <div class="col-md-6">
    <img src="../assets/img/top-nav.svg"  class="ws-grid-img">
    <span class="subtext">Top Navigation</span>
  </div>
</div>

<h3 class="ws-grid-h3">In Practice</h3>

<div id="device">

  <h4>Single Column</h4>
  <div class="row">
    <div class="col-xs-12 col-xs-12 col-md-12">
      <div class="grid-bg">1/1</div>
    </div>
  </div>

  <h4>Two Columns</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="grid-bg">1/2</div>
    </div>
    <div class="col-md-6">
      <div class="grid-bg">1/2</div>
    </div>
  </div>

  <h4>Three Columns</h4>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="grid-bg">1/3</div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="grid-bg">1/3</div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="grid-bg">1/3</div>
    </div>
  </div>

  <h4>Four Columns</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="grid-bg">1/4</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="grid-bg">1/4</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="grid-bg">1/4</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="grid-bg">1/4</div>
    </div>
  </div>

  <h4>Mixed Columns</h4>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="grid-bg">2/3</div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="grid-bg">1/3</div>
    </div>
  </div>
</div>
