---
title: Key Value Pairs
layout: website/default
category: Components
usage: Teaser Text
preview-image:
resource: true
---

<article>
  <div class="row">
    <div class="col-md-4">    
      <h2>Key Value Pairs</h2>
      <p>Key value pairs are used to display data with their corresponding label. Color and alignment are used to enhance readibility allowing users to quickly scan for the page for relevant data.</p>
      <h3>Best Practices:</h3>
        <ul>
          <li>Labels should correspond with the labels used for data creation and/or editing.</li>
          <li>Labels appear to the left and are right aligned.</li>
          <li>Data values are displayed to the right and left aligned.</li>
          <li>Icons should be used sparingly.</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/key-value-pairs.svg">
        </div>
        <figcaption>Example of key values pattern displaying server details.</figcaption>
      </figure>
    </div>
  </div>
</article>
