---
title: Key Value Pairs
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="cards"></a>
  <h1>Key Value Pairs (Need subtitle)<span class="status prototype">In Progress</span></h1>
  <p class="update">I only found the screenshot below for this page.</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/key-value-pairs.png">
    </div>
  </div>

</article>
