---
title: Loading
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <p class="update"><a href="https://jira.rax.io/browse/RED-506" target="_blank">JIRA</a><br>Finding different resources. What should be used and how should we organize this info?</p>
  <p><a href="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Loading_Patterns.pdf" target="_blank">Loading Patterns</a></p>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-1.svg">
    </div>
  </div>
  <a class="anchor" name="loading-circle"></a>
  <h1>Loading Circle<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <div class="ui active inline loader"></div>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="skeleton-screen"></a>
  <h1>Skeleton Screen<span class="status prototype">In Progress</span></h1>


</article>

<article>
  <a class="anchor" name="progress-bars"></a>
  <h1>Progress Bars<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Roomy</h3>
      <p data-height="265" data-theme-id="0" data-slug-hash="ZpqxoP" data-default-tab="result" data-user="grothues" data-embed-version="2" data-pen-title="Loading Glisten" class="codepen">See the Pen <a href="https://codepen.io/grothues/pen/ZpqxoP/">Loading Glisten</a> by Elizabeth Grothues (<a href="http://codepen.io/grothues">@grothues</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
  </div>

</article>
