---
title: Loading
layout: website/default
category: Components
usage: Teaser Text
preview-image:
resource: true
status: pending
---

<article>
  <p>Loading patterns should be used to set user expectations.</p>
  <h3>PROBLEMS BEING ADDRESSED</h3>
  <ul>
    <li>Customers need more details about an item, but not necessarily need them every time they view a list.</li>
    <li>Additional information may aid a customer in choosing between items in a list.</li>
    <li>Additional information set is relatively small, more than would fit in a single row, but not enough to use a whole page.</li>
  </ul>
  <h3>HOW THE PATTERN SOLVES THESE PROBLEMS</h3>
  <ul>
    <li>Allows user to scan a list of options and dig into items of interest</li>
  </ul>
  <h3>KNOWN SHORTCOMINGS</h3>
  <ul>
    <li>While this design has been tested, a risk of using the expandable row is that users may now realize the functionality exists and may miss valuable information.</li>
  </ul>
  <h3>LOAD SEARCH RESULTS</h3>
  <ul>
    <li>Upon submit, any previous search results should be removed from the screen and replaced with a loading spinner</li>
  </ul>
  <h3>SECTION LOADING</h3>
  <ul>
    <li>Any section that has more advanced interactions than just textual (includes drop-downs, etc.).</li>
  </ul>

</article>

<article>
  <a class="anchor" name="loading-circle"></a>
  <h1>Loading Circle <span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Indeterminate</h3>
      <p>Request that the user wait while something finishes when it’s not necessary to indicate how long it will take</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-circle-indeterminate.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Determinate</h3>
      <p>Indicate how long an operation will take when the percentage complete is detectable</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-circle-determinate.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="skeleton-screen"></a>
  <h1>Skeleton Screen <span class="status prototype">In Progress</span></h1>
  <ul>
    <li>Use skeleton screens for initial page load.</li>
    <li>Pages should load linearly to present the most immediate information first.</li>
    <li>Progressive loading to increase performance.</li>
    <li>When loading repeating item types, only show skeletons for the first three.</li>
  </ul>

  <div class="ui segments">
    <div class="ui segment">
      <p data-height="265" data-theme-id="0" data-slug-hash="ZpqxoP" data-default-tab="result" data-user="grothues" data-embed-version="2" data-pen-title="Loading Glisten" class="codepen">See the Pen <a href="https://codepen.io/grothues/pen/ZpqxoP/">Loading Glisten</a> by Elizabeth Grothues (<a href="http://codepen.io/grothues">@grothues</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="progress-bars"></a>
  <h1>Progress Bars <span class="status prototype">In Progress</span></h1>
  <div class="ui segments">
    <div class="ui segment">
      <p>Linear indicators can be as minimal as [e.1] to simply show loading progress or they can contain specific context relevant to the relative region or placed in proximity of a targeted item to give the user feedback on progress of the loading state (percentage value [e.2], continuous status messages [e.3], or items of a query[e.4]).</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Indeterminate</h3>
      <ul>
        <li>Indeterminate indicators should be using the primary color (@blue-500) of the system palette to style the actual indicator. </li>
        <li>The background bar should always be using @grey-200 value.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear-indeterminate.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Determinate</h3>
      <ul>
        <li>Default determinate indicators should be using the primary color (@blue-500) in combination with the next darkest value (@blue-700) of the system palette to style the actual indicator.</li>
        <li>The background bar should always be using @grey-200 value.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear-determinate.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Query-based</h3>
      <ul>
        <li>Query based determinate indicators should be using the primary color (@blue-500) in combination with the next darkest value (@blue-700) of the system palette to style the piece which is currently processing.</li>
        <li>Completed parts should become solid and only use the primary color.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear-determinate.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <p>Default determinate indicators should be replaced by the error message entirely. The error message should always provide the user with adequate context as to why the error occured.</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear-error.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Error Query</h3>
      <p>Errors in query-based determinate indicators should indicate which part of the query failed with @red-700 along with the error message replacing the text below.</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/loading-linear-error-query.svg">
    </div>
  </div>

</article>
