---
title: Notifications
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="notification-bar"></a>
  <h1>Notification Bar<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Confirmation</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar-confirmation.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar-error.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="growl"></a>
  <h1>Growl<span class="status prototype">In Progress</span></h1>
  <p>Growls should be used to communicate a completed action to a user.</p>
  <h2>Design Considerations</h2>
  <h3>Problems Being Addressed</h3>
  <ol>
    <li>The user needs to be notified about the results of a certain task she explicitly asked the system to perform</li>
    <li>The user needs to be notified about an unprovoked event that is important enough to steal the user’s attention</li>
  </ol>
  <h3>How the Pattern Solves these Problems</h3>
  <ol>
    <li>Growls catch the user’s attention through vibrant color and animation</li>
  </ol>
  <h3>Known Shortcomings</h3>
  <ul>
    <li>Growls are ephemeral and may be missed by the user entirely</li>
  </ul>
  <h2>Design Specifications</h2>
  <h3>General Layout</h3>
  <ul>
    <li>Growls should always appear in the bottom right corner</li>
    <li>Growl animation ease-in .5s</li>
    <li>Growls should not contain links, as they are ephemeral and the user may miss the link</li>
    <li>A close icon should be included in the top right corner. While the growl should disappear on it’s own, the user should also have the ability to close it.</li>
  </ul>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/growl-specs.svg">
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/growl-placement.svg">
    </div>
  </div>
  <h2>Base Interactions</h2>
  <h3>Hover</h3>
  <p>Growls do not have a hover state, as you can not take action on it.</p>
  <h3>Active</h3>
  <p>Growls do not have a hover state, as you can not take action on it.</p>
  <h3>Disabled</h3>
  <p>A growl should never be disabled. If it can’t be read it shouldn’t be displayed.</p>
  <h3>Selected</h3>
  <p>The growl does not have a selected state, as you can not take action on it.</p>
  <h2>Default State / First Time Experience</h2>
  <p>This is essentially the only state of a growl. There isn’t a FTX for a growl.</p>
  <h2>One Item</h2>
  <p>One item is a perfect use case for a growl.</p>
  <h2>Some Items</h2>
  <p>If multiple growls are being used at one time they should be stacked on top of each other.</p>
  <h2>States that don’t apply to this pattern</h2>
  <ul>
    <li>Loading / Processing:  Growls don’t have a loading pattern. If it’s still loading it should not exist on the page.</li>
    <li>No Items:  Growls should not be used without content.</li>
    <li>Tons of Items:  Notifications should not be used with tons of items. They should be brief and
limited to one item per page.</li>
    <li>Error State:  In case of an error, the Growl should be hidden.</li>
    <li>Corrected State:  Growls should not be used for user input.</li>
    <li>Completed State:  Growls should not be used for user input.</li>
  </ul>
  <h2>Implementation</h2>
  <h3>Guidelines for Use</h3>
  <p>Use for:</p>
  <ul>
    <li>Feedback messages</li>
    <li>Unprovoked events</li>
    <li>Changes in system status</li>
  </ul>
  <p>Do not use for:</p>
  <ul>
    <li>Product or feature announcements (consider the Beacon pattern)</li>
    <li>Alerts that may need to be read more than once</li>
  </ul>


</article>

<article>
  <a class="anchor" name="toast"></a>
  <h1>Toast<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Alert</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Action</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert-action.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Action Buttons</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert-action-buttons.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-error.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="alert-bar"></a>
  <h1>Alert Bar<span class="status prototype">In Progress</span></h1>
  <h2>Usage</h2>
  <p>Provides info for action in context to the PAGE/REGION. Is communicated in proximity to the page, panel, or other main containing element of information. User understands this is in relation to the context they’re currently working on holistically.</p>
  <p>Ideally alert bars are used to communicate things like “unread messages” “page errors” or confirmations for an action that happened off canvas or in a previous screen like a modal or form.</p>
  <p>Alert bars can also provide some basic quick instruction for a page to better assist the user with understanding the task or feature they can/need to perform.</p>

  <div class="ui segments horizontal">
    <div class="ui segment">
      <h3>Alert bar at a page level</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-page.svg">
    </div>
    <div class="ui segment">
      <h3>Alert bar at a region level</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-region.svg">
    </div>
  </div>

  <h2>Anatomy</h2>
  <p>The alert bar consists of 3 major parts ALWAYS:</p>
  <ul>
    <li>Bar: enclosing shape to frame and present the alert</li>
    <li>Icon: which provides context to the classification of the alert type</li>
    <li>Message: provides details and/or instructions to give the user context</li>
  </ul>
  <p>The alert bar has other parts which are OPTIONAL based on the intended use-case, these consist of:</p>
  <ul>
    <li>Emphasized Text: calls out the specific object/person/thing that relates to the alert. This is the same size/color as the message but is bold.</li>
    <li>Manual Dismiss: allows user to manually dismiss/close the alert.</li>
    <li>Relational Action: provides user with a tailored action they can take in response to the alert.</li>
  </ul>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-anatomy.svg">
    </div>
  </div>

  <h2>Implementation Levels</h2>
  <h3>Inline</h3>
  <p>Provides info for action in context to the OBJECT they are ACTIVELY doing. User understands this is in relation to the context they're actively doing and provides the most specificity.</p>

  <h3>Alert Bar</h3>
  <p>Provides info for action in context to the PAGE/REGION. User understands this is in relation to the context they're currently working on holistically.</p>

  <h3>Toast</h3>
  <p>Provides info for action outside of the users current context. User understands this will take them out of current context. </p>

</article>

<article>
  <a class="anchor" name="banner-message"></a>
  <h1>Banner Message<span class="status prototype">In Progress</span></h1>

</article>
