---
title: Notifications
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="notification-bar"></a>
  <h1>Notification Bar <span class="status prototype">In Progress</span></h1>
  <p class="update">
    Additional docs:<br>
    <a href="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Notification_Alert_Bars.pdf" target="_blank">Alert Bars</a><br>
    <a href="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Notification_Banner_Messages.pdf" target="_blank">Banner Messages</a>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Confirmation</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar-confirmation.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/notification-bar-error.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="growl"></a>
  <h1>Growl<span class="status prototype">In Progress</span></h1>
  <p class="update-mh">Updating from Alaina's docs.</p>


</article>

<article>
  <a class="anchor" name="toast"></a>
  <h1>Toast<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Alert</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Action</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert-action.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Action Buttons</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-alert-action-buttons.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Error</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/toast-error.svg">
    </div>
  </div>

</article>
