---
title: Search
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="search"></a>
  <h1>Search<span class="status prototype">In Progress</span></h1>


</article>

<article>
  <a class="anchor" name="guided"></a>
  <h1>Guided Filter Search<span class="status prototype">In Progress</span></h1>
  <p class="update-mh">
    MH: Working on breaking up Alaina's Sketch file.
  </p>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="facets"></a>
  <h1>Facets<span class="status prototype">In Progress</span></h1>

</article>
