---
title: Search
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="search"></a>
  <h1>Search<span class="status prototype">In Progress</span></h1>
  <p class="update">
    <a href="https://jira.rax.io/browse/RED-648" target="_blank">JIRA</a><br>
    Assigned to EW. Not finding any files/info.
  </p>

  <div class="ui segments">
    <div class="ui segment">

    </div>
  </div>

</article>

<article>
  <a class="anchor" name="guided"></a>
  <h1>Guided Filter Search<span class="status prototype">In Progress</span></h1>
  <p class="update-mh">
    MH: Working on breaking up Alaina's Sketch file.
  </p>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="facets"></a>
  <h1>Facets<span class="status prototype">In Progress</span></h1>
  <p class="update"><a href="https://jira.rax.io/browse/RED-775" target="_blank">JIRA</a><br>
    Preset filters.
these should be in a row above a table.
refer to the preset filters in jira as an example.</p>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>
