---
title: Searches and Filters
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
---
<article>
  <p>When an app supports large amounts of information, users should be able to quickly locate content by searching for it.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Basic search involves:</h3>
      <ul>
        <li>Opening a search text field</li>
        <li>Entering and submitting a query</li>
        <li>Displaying a set of search results</li>
      </ul>
    </div>
    <div class="ui segment">
      <p>However, the search experience can be enhanced by providing:</p>
      <ul>
        <li>An <b>Assisted Search</b>: suggestions of search modifiers to help a user narrow the results. Assisted search may act as a replacement for an additional static set if facets.</li>
        <li><b>Auto-completed search suggestions (Auto-completion)</b> matching actual results in your application data</li>
      </ul>
        OR
      <ul>
        <li>An additional set of <b>static facets</b></li>
      </ul>
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>When to Use<span class="status prototype">In Progress</span></h1>
  <p>Search should be supported for apps that supports large amounts of information and users need be able to quickly locate content.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Data tables may include:</h3>
      <ul>
        <li>Basic Search may be sufficient if you have a small number of criteria to search on and/or if your users don’t need to perform complex searches.</li>
      </ul>
    </div>
    <div class="ui segment">
      <h3>Search Options</h3>
      <p>An Assisted Search may be useful if:</p>
      <ul>
        <li>Searching and filtering is a top task for the page and warrants a robust capability</li>
        <li>Filtering is needed but space is limited</li>
        <li>Some types of filtering, like device filtering, normally would require using excessive screen real estate if always displayed on the screen</li>
        <li>Combining multiple content types into one search would normally be technically prohibitive – due to performance or other limitations. The addition of a search modifier helps limit the query to a more targeted dataset.
        </li>
      </ul>
      <p>Auto-completion may be useful if your results set may be hard to recall from memory.</p>
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>Best Practices<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <ul>
        <li>Auto-completion may be used as an option on it’s own.</li>
        <li>However, assisted search is best used in conjunction with auto-completion</li>
      </ul>
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>Basic Search<span class="status prototype">In Progress</span></h1>
  <p>Searches provide an input field for searching through content, allowing users to locate specific items within the website or app.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Visual Example</h3>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Basic%20Search.png"/>
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>Assisted Search/Auto-completion<span class="status prototype">In Progress</span></h1>
  <h2>States</h2>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default State</h3>
      <ul>
        <li>Upon clicking the search box the user should be presented with a list of keyword that they can use to filter their search.</li>
        <li>The user can click or type out a keyword to use it as a filter to narrow down their search.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Default%20State.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Loading/Processing</h3>
      <ul>
        <li>If autocomplete is taking time to load, a loading spinner should be used in place of results.</li>
        <li>There is no error state for autocomplete</li>
        <li>User should still have instructions for how to search without auto-completed results (Enter)</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Loading-Processing.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Results</h3>
      <ul>
        <li>Search completion results should be divided up by categories if possible</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Results.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Hover</h3>
      <ul>
        <li>The user may click or use their arrow keys to select one of the items in the dropdown list</li>
        <li><b>Visual:</b> Hover color should be <b>Cyan 50</b></li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Hover.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Active</h3>
      <ul>
        <li><b>Visual:</b> When a keyword is actively being used but has not yet been completed with search criteria it should have a background color of <b>Cyan 100</b></li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Active.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Selected</h3>
      <ul>
        <li><b>Visual:</b> When a filter+search completion item have been selected, it should have a background color of <b>Greyscale 400</b></li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Selected.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Date Selector</h3>
      <ul>
        <li>Date filters (“after”, “before” or “on”) should trigger a date picker</li>
        <li>The datepicker should appear after typing one of the above keywords + a colon</li>
        <li>The datepicker should also appear if one of the above items is clicked from the menu</li>
        <li>Refer to the datepicker pattern for more information on how to use and implement a datepicker.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Date%20Selector.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Query Strings</h3>
      <ul>
        <li>Multiple queries may be stringed together</li>
        <li>If the number of queries extends beyond the length of the search box, it should function like a normal text box and the overflow should be hidden</li>
        <li>The user can move through the queries with their arrow keys or click into a query to edit it</li>
        <li>Backspace should delete a single character not the entire query</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Query%20Strings.png">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Clear</h3>
      <ul>
        <li>User make click the X to clear all of the search queries</li>
        <li>The page should be refreshed to it’s default state</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c0b435f85bc2f8ff6681-10d0a423b0fd98dd420fdf95a2736a0c.r28.cf2.rackcdn.com/Clear.png">
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>Text Guidelines<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <ul>
        <li>Limit filter tags to one word (e.g. Device, On, Before, Type)</li>
      </ul>
    </div>
  </div>
</article>
<article>
  <a class="anchor" name="structure"></a>
  <h1>Research<span class="status prototype">In Progress</span></h1>
  <p>Effective testing of Guided Search was challenging. Invision isn’t robust enough to make it very believable. Axure would have required a really complex prototype (possibly not worth the time). In the future, we will either test with our production or staging sites or an HTML prototype.</p>

  <div class="ui segments">
    <div class="ui segment">
      <p>For now though, we have a few research studies:</p>
      <ul>
        <li><a href="http://design.rax.io/?customer-research=customer-research-days-notification-center">Customer Research Days: Notification Center</a></li>
        <li><a href="http://design.rax.io/?customer-research=how-do-customers-and-rackers-choose-devices">How Do Customers AND Rackers Choose Devices?</a></li>
      </ul>
    </div>
  </div>
</article>

<hr/>

<article>
  <a class="anchor" name="search"></a>
  <h1>Search<span class="status prototype">In Progress</span></h1>
  <p class="update">
    <a href="https://jira.rax.io/browse/RED-648" target="_blank">JIRA</a><br>
    Assigned to EW. Not finding any files/info.
  </p>

  <div class="ui segments">
    <div class="ui segment">

    </div>
  </div>

</article>

<article>
  <a class="anchor" name="guided"></a>
  <h1>Searches and Filtering<span class="status prototype">In Progress</span></h1>
  <p class="update-mh">
    MH: Working on breaking up Alaina's Sketch file.
  </p>

  <div class="ui segments">
    <div class="ui segment">

    </div>
  </div>

</article>

<article>
  <a class="anchor" name="facets"></a>
  <h1>Facets<span class="status prototype">In Progress</span></h1>
  <p class="update"><a href="https://jira.rax.io/browse/RED-775" target="_blank">JIRA</a><br>
    Preset filters.
these should be in a row above a table.
refer to the preset filters in jira as an example.</p>

  <div class="ui segments">
    <div class="ui segment">
    </div>
  </div>

</article>
