---
title: Status Indicators
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
resource: true
---

<article>
  <a class="anchor" name="structure"></a>
  <h1>Structure<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-structure.svg">
    </div>
  </div>

  <h2>[S1] Status Indicator Circle</h2>
  <p>The status indicator circle is to provide additional visual aid in interpreting the status at a glance, and for visual scan of long results lists. It only uses the following colors:</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-circle.svg">
    </div>
  </div>

  <p>Any other status by default uses the empty circle. Examples include: “Closed, Terminated,
Approval Denied, Transferred, In Process, Pending”.</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-circle-null.svg">
    </div>
  </div>

  <h2>[S2] Status Text:</h2>
  <p>Status text is to provide additional context around the status, in a brief, usually one-word message. Character length is between 3 - 8 characters (including spaces), anything longer must be truncated with ellipses. The Status Pill should never stretch or shrink.</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-text.svg">
    </div>
  </div>

  <h2>[S3] Status Container:</h2>
  <p>The status container, the pill shape itself - should always be used to contain the status indicator and text. It uses a border-radius of 6px, only uses a background fill on a panel/container content view, results will never have a background fill.  As stated in [S2], the container should never be stretched or shrunk from its given size.</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-container.svg">
    </div>
  </div>


</article>

<article>
  <a class="anchor" name="results-list"></a>
  <h1>Results List<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-results-list.svg">
    </div>
  </div>
</article>

<article>
  <a class="anchor" name="usage"></a>
  <h1>Content Headers<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/status-indicators-content-headers.svg">
    </div>
  </div>
</article>
