---
title: Stepper
layout: website/default
//category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="cards"></a>
  <h1>Vertical Stepper <span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Step 1</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/stepper-1.svg">
    </div>
    <div class="ui segment">
      <h3>Step 2</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/stepper-1.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="cards"></a>
  <h1>Horizontal Stepper <span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Step 1</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/stepper-1.svg">
    </div>
    <div class="ui segment">
      <h3>Step 2</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/stepper-1.svg">
    </div>
  </div>

</article>
