---
title: Tables
layout: website/default
category: Components
usage: Teaser Text
preview-image: components/preview-images/tables.svg
resource: true
---

<article>
  <p>At Rackspace, we present data in a table on nearly every page in our control panels. Tables are highly valuable, but always run the risk of putting too high a cognitive load on users. Our goal with tables should always be to decrease cognitive load so users can get the data they need quickly and easily. With such pervasive use, it’s important that we make sure our tables are efficient, powerful, and user-friendly.</p>
</article>

<article>
  <a class="anchor" name="structure"></a>
  <h1>Structure<span class="status prototype">In Progress</span></h1>
  <p>A data table contains a header row at the top that lists column names, followed by rows for data.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Data tables may include:</h3>
      <ul>
        <li>Three or more columns of data</li>
        <li>A corresponding visualization</li>
        <li>The ability for users to query and manipulate data</li>
      </ul>
    </div>
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>Keep column count to under 7 columns if possible</li>
        <li>Try to keep the visual clutter to a minimum so users can focus on the data</li>
        <li>When organizing content in a table, focus on a user’s task</li>
        <li>Try to preserve hierarchies left to right when possible</li>
        <li>Make it easy to scan and dig so users can quickly decide where to drill for more information</li>
        <li>All tables should be sortable and, if possible, filterable so users can find the exact record they are looking for with minimal scrolling or navigating through pagination</li>
      </ul>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="header-row"></a>
  <h1>Header Row<span class="status prototype">In Progress</span></h1>
  <p>Every table must have a header row, and every column must have a header row label.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>Use Roboto 14px Med All Caps to differentiate the header row from the body row</li>
        <li>Always include units in a column label if applicable (unless units differ row by row). Units appear after text label in parentheses. Eg. “SIZE (GB)”</li>
        <li>If bulk selection is possible be sure to include the bulk select check box in the header row. See the selectors section below for implementation details and best practices.</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-header.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Structured Table</h2>
      <p>Use a structured table header when multiple columns fit under a single category. The columns affected should always be placed as far to the right side of the table as possible.</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-header-structured.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="sorting"></a>
  <h1>Sorting<span class="status prototype">In Progress</span></h1>
  <p>The ability to reorder table rows makes it easier for users to find the data they are want.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>Auto sort according to primary user goals/tasks. (If you’re not sure what the key goals/tasks are, reach out to your PM or the RED team who’ll be able to help you identify task flows through research, analytics, or SME interviews)</li>
        <li>Make sure that any row that is sortable has the sort hover states</li>
        <li>It’s helpful to include an information icon with a tooltip that explains the sorting function on sortable rows</li>
      </ul>
      <ul>
        <li><b>Ascending:</b> 
          <ul>
            <li>A to Z</li>
            <li>0 to 9</li>
            <li>January to December</li>
            <li>12:00AM to 11:59PM</li>
          </ul>
        </li>
        <li><b>Descending:</b> 
          <ul>
            <li>Z to A</li>
            <li>9 to 0</li>
            <li>December to January</li>
            <li>11:59PM to 12:00AM</li>
        </li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-sort.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="body-row"></a>
  <h1>Body Row<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>Roboto 16px Reg for reading clarity</li>
        <li>Always offer checkbox if user needs to select or manipulate data</li>
        <li>Include an action cog if user can trigger 2 or more actions on the record from the row</li>
        <li>Justification within each cell is content specific</li>
        <li>Text should be left justified</li>
        <li>Icons, “--” (null/undefined), and “n/a” (not applicable) should be center justified</li>
        <li>Numbers should be right justified</li>
        <li>Only use units in row if they differ row by row and cannot be standardized. Units in body rows appear without parentheses</li>
        <li>Truncated text should appear in a tooltip available on hover (in full if possible)</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-row.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="row-hover-state"></a>
  <h1>Row Hover State<span class="status prototype">In Progress</span></h1>
  <p>Hover on row only if row is expandable</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-row-hover.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="expandable-row"></a>
  <h1>Expandable Row<span class="status prototype">In Progress</span></h1>
  <p>Expandable rows are great for giving users the ability to dig for more data without having to navigate to a different page. When a row expands, the parent row becomes a header for the expanded content area.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>All rows should be closed by default</li>
        <li>The expanded area inherits the styling of the parent row (i.e. bound/unbound, and zebra stripe color)</li>
        <li>There can only be one expandable content area per row</li>
        <li>Expand can be triggered in three ways:
          <ul>
            <li>Clicking anywhere in the row that is not a link</li>
            <li>Clicking the down pointing carat icon</li>
            <li>Clicking an badge count icon (e.g. open alert count in the MyCloud Server List table)</li>
          </ul>
        </li>
        <li>Collapse can be triggered in 2 ways:
          <ul>
            <li>Clicking anywhere in the parent row</li>
            <li>Clicking directly on the collapse icon (either in parent row or at bottom of the expanded area if there is one)</li>
          </ul>
        </li>
        <li>Rows remain expanded until collapsed by user</li>
        <li>Be sure you include a collapse icon in the bottom right corner of the expanded area in addition to the collapse icon in the parent row</li>
        <li>Viewport remains unchanged with expansion and collapse</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-row-expand.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="filtering"></a>
  <h1>Filtering<span class="status prototype">In Progress</span></h1>
  <p>Filtering is critical for users to quickly find exactly the data they need.
  Search vs preset</p>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-filter.svg">
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-filter-select.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Search</h2>
      <p>Search bar should always be floated left above the top controls.</p>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Facets</h2>
      <p>Coming Soon</p>
    </div>
  </div>

  <!--<div class="ui segments">
    <div class="ui segment">
      <h2>Alternate Preset Filters</h2>
    </div>
  </div>-->

</article>

<article>
  <a class="anchor" name="download"></a>
  <h1>Download<span class="status prototype">In Progress</span></h1>
  <p>Download is a critical function for users of data tables.</p>
  <p>Download icon is right justified, above the header row
  If your table has action buttons, the download icon should be vertically aligned with them and placed as far to the right as possible
  If your table has a search bar, the download icon should be vertically aligned with and placed just to the left of it
  If you have multiple file types available, only display one download icon. When clicked, trigger a dropdown list that users can select their preferred file type</p>
  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-download.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="action-buttons"></a>
  <h1>Action Buttons<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Top placement</h2>
      <h3>Best practices</h3>
      <ul>
        <li>If you must present more than three bulk action options, use a primary or secondary dropdown button. Make sure you group like actions in the dropdown and avoid grouping unlike options.</li>
        <li>Do not only have action buttons below the table</li>
        <li>If you have action buttons below the table, make sure they are the same options as what’s presented above the table header</li>
        <li>If you use action buttons below the table, make sure you include selector text feedback and links (see selectors section below for specific layout rules)</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-controls-top.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Bottom placement</h2>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-controls-bottom.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="selectors"></a>
  <h1>Bulk Selectors<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h2>In Header</h2>
    </div>
    <div class="ui segment">
      <video controls>
        <source src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-selectors-prototype.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h3>None Selected</h3>
      <ul>
        <li>Empty checkbox</li>
        <li>Clicking the empty-state bulk-select check box selects all records.</li>
      </ul>

      <h3>Indeterminate (1 or more but not all records are selected)</h3>
      <ul>
        <li>Dash in check box; text feedback “[#] selected.”. Link text “Select all [#].”</li>
        <li>Clicking the indeterminate-state bulk-select checkbox deselects all records.</li>
        <li>Clicking “Select all [#].” Text link selects all records</li>
      </ul>

      <h3>All Selected</h3>
      <ul>
        <li>Check in check box; text feedback beside action “All [#] selected.”.</li>
        <li>Clicking the checked-state bulk-select checkbox deselects all records.</li>
      </ul>
    </div>

  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>In Row</h2>
      <h3>Unselected</h3>

      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-controls-top.svg">
    </div>
    <div class="ui segment">
      <h3>Indeterminate (1 or more but not all records are selected)</h3>

      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-controls-selected.svg">
    </div>
    <div class="ui segment">
      <h3>All Selected</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-controls-selected-all.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="cog"></a>
  <h1>Cog<span class="status prototype">In Progress</span></h1>
  <p>The Row Cog is a useful, if problematic component. One the one hand it allows power users to quickly initiate a number of create/edit workflows on an item in a list without drilling into that item’s detail page. On the other, it hides available actions behind an icon, forcing users to explore the cog just to find out what actions are available.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Best practices</h3>
      <ul>
        <li>Avoid using a cog if possible</li>
        <li>Only use a cog if you have 3 or more actions that can be performed on that record</li>
        <li>Keep the actions list to 7 or fewer actions</li>
        <li>Make sure you group like actions in the dropdown and avoid grouping unlike options.</li>
      </ul>
    </div>
    <div class="row" style="margin-bottom:2em;">
      <div class="col-md-6">
        <h3>Cog</h3>
        <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-cog.svg">
      </div>
      <div class="col-md-6">
        <h3>Cog with selector</h3>
        <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-cog-selector.svg">
      </div>
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="pagination"></a>
  <h1>Pagination/Lazy Loading/Load More Button<span class="status prototype">In Progress</span></h1>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>
          Always list the scope of records visible. e.g.:
          <ul>
            <li>A date range “September 25, 2016- September 26, 2016”</li>
            <li>A record count range “1-25 of 800”</li>
          </ul>
        </li>
        <li>If you have a definite page count, make sure you display the total page count, what page user is currently on, and allow the ability to move by single page or jump multiple pages to the last/first page</li>
        <li>Give users a way to change the page size (number of records that are displayed) when possible</li>
        <li>In the URL, embed filters applied, page number and page size so results are sharable via URL.</li>
        <li>If you are using a marker based system, include the top result in the viewport’s unique id</li>
        <li>Make sure lazy load works for both scrolling up and down so that if a user navigates via URL to a data set that is in the middle of a lazy loaded data set</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-pagination.svg">
    </div>
  </div>

</article>

<article>
  <a class="anchor" name="table-styles"></a>
  <h1>Table Styles<span class="status prototype">In Progress</span></h1>
  <p>There are three table styles to choose from, Unbound, Bound, and Zebra Striping.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Unbound Rows</h2>
      <p>Use unbound rows when you don’t need to differentiate the table from other content on the page. Unbound rows remove unnecessary visual clutter.</p>

      <h3>Best Practices</h3>
      <ul>
        <li>The unbound table should be the only (or primary) content on the page or page section</li>
        <li>Use unbound styling if the table will appear in a compact content area with strict horizontal constraints. You don’t need the bounding lines for clarity and you can save the pixels (e.g. on a mobile device or in a panel)</li>
      </ul>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-style-unbound.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Bounded Rows</h2>
      <p>Use bounded rows to visually separate your table from the surrounding content. This is particularly helpful if your table is not the primary content on the page. E.g. a data table in an expanded content area, a table paired with a data visualization, or if the table appears as one step in a larger create/edit workflow.</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-style-bounded.svg">
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      <h2>Zebra Striping</h2>
      <p>Zebra stripes help users scan across a row without losing their place. Though best practice for table design is to keep your column count below 7 columns, when you must display 7+ columns, zebra striping will help users maintain row orientation. Notice that the horizontal lines that separate each row are gone if you use zebra striping.</p>
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tables-style-zebra.svg">
    </div>
  </div>

</article>

<!--(h3) Totalling
Documentation for totalling?

Pagination (in tommy’s queue)
Heart beat (in Elizabeth’s queue?)
	Status indicators (ping RED designers to gather reqs)
		R/Y/G/disabled/indeterminate?
	Error states (in Eric’s queue)
		Full table, row, column, cell
	Loading red-504 red-675 (in Eric’s queue)
	Totalling (CBUI) (in Tommy’s queue)
		Expansion (in Tommy’s queue)
		Data table


	Customizing columns
		Talk to Eric
	Multiple rows of text in a single table row
		Talk to Eric
	Actions
		Cog
		Actions not in cog
		Buttons within table row


	Icons
		Icon links (eg. Visualization icon external link)
		Icon expansion


	Margins/padding in expanded area
		E.g. Nested table, details, bar graph, alert feed, etc.


	Responsive Behavior in all its glory-->
