---
title: Tables
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <p class="update-mh">Working on content entry and image pairing from Bart's documentation.</p>
  <p>At Rackspace, we present data in a table on nearly every page in our control panels. Tables are highly valuable, but always run the risk of putting too high a cognitive load on users. Our goal with tables should always be to decrease cognitive load so users can get the data they need quickly and easily. With such pervasive use, it’s important that we make sure our tables are efficient, powerful, and user-friendly.</p>
</article>

<article>
  <a class="structure" name="structure"></a>
  <h1>Structure<span class="status prototype">In Progress</span></h1>
  <p>A data table contains a header row at the top that lists column names, followed by rows for data.</p>

  <div class="ui segments">
    <div class="ui segment">
      <h3>Data tables may include:</h3>
      <ul>
        <li>Three or more columns of data</li>
        <li>A corresponding visualization</li>
        <li>The ability for users to query and manipulate data</li>
      </ul>
    </div>
    <div class="ui segment">
      <h3>Best Practices:</h3>
      <ul>
        <li>Keep column count to under 7 columns if possible</li>
        <li>Try to keep the visual clutter to a minimum so users can focus on the data</li>
        <li>When organizing content in a table, focus on a user’s task</li>
        <li>Try to preserve hierarchies left to right when possible</li>
        <li>Make it easy to scan and dig so users can quickly decide where to drill for more information</li>
        <li>All tables should be sortable and, if possible, filterable so users can find the exact record they are looking for with minimal scrolling or navigating through pagination</li>
      </ul>
    </div>
  </div>

</article>



<!--(h3) Totalling
Documentation for totalling?

Pagination (in tommy’s queue)
Heart beat (in Elizabeth’s queue?)
	Status indicators (ping RED designers to gather reqs)
		R/Y/G/disabled/indeterminate?
	Error states (in Eric’s queue)
		Full table, row, column, cell
	Loading red-504 red-675 (in Eric’s queue)
	Totalling (CBUI) (in Tommy’s queue)
		Expansion (in Tommy’s queue)
		Data table


	Customizing columns
		Talk to Eric
	Multiple rows of text in a single table row
		Talk to Eric
	Actions
		Cog
		Actions not in cog
		Buttons within table row


	Icons
		Icon links (eg. Visualization icon external link)
		Icon expansion


	Margins/padding in expanded area
		E.g. Nested table, details, bar graph, alert feed, etc.


	Responsive Behavior in all its glory-->
