---
title: Tabs
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <a class="anchor" name="tabs"></a>
  <p>Tabs are used to separate content into different views, which can be displayed one at a time without a page refresh. Tabs provide easy access to additional content without requiring the user to either navigate to a new page or scroll too much. The default view should always display the left-most tab.</p>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Default</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tabs.svg">
    </div>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <h3>Hover</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/tabs-hover.svg">
    </div>
  </div>

</article>
