---
title: In-Context Help
layout: website/default
category: Components
usage: These tooltips provide users with additional information while completing tasks and alert them to new features.
preview-image: components-help.svg
---

<article>
  <h1>Tooltip<span class="status prototype">In Progress</span></h1>
  <p>Use the tooltip when you want to convey brief snippets of information, to explain an element a bit more, or to display truncated text.</p>

  <ul>
    <li>Activates when hovered on click.</li>
    <li>The tooltip disappears when mouse hovers away, or when clicked in the icon. Tooltip does not reactivate on click.</li>
    <li>Tooltip should only be used on icon images, text, and table rows; use when see fit.</li>
    <li>Max width for the tooltip is 440px.</li>
  </ul>

  <div style="display:inline-block">Cloud Computing</div><i class="ds-tooltip-source ds-icon-help icon-help" title="The practice of using a network of remote servers hosted on the Internet to store, manage, and process data, rather than a local server or a personal computer."></i>
</article>

<article>
  <h1>Beacon<span class="status prototype">In Progress</span></h1>
  <p>The beacon can be used to identify the location of new functionality or important features for first-time user.</p>
  <ul>
    <li>Place the beacon to the right or left of navigation items, labels or section headers.</li>
    <li>Use one beacon at a time.</li>
    <li>Remove the beacon once it has been viewed.</li>
    <li>Avoid using the beacon for warnings or alerts.</li>
    <li>Don't obsure text with a beacon.</li>
  </ul>
  <div class="ws-beacons">
    <div class="ws-beacon-con">
      <p>Grey:</p>
      <div class="ds-beacon-con"><span class="ds-beacon ds-tooltip-source temp-beacon" title="<h3 class='ds-tooltip-h3'>New Feature Title</h3><p class='ds-tooltip-p'>A very short explanation of the new feature and something about what it does.</p><div class='ds-btn-group-tooltip'><button class='ds-btn-sm ds-tooltip-btn' onclick='removeTooltips()' type='button'>Learn More</button><button class='ds-btn-sm-sec ds-tooltip-btn' onclick='removeTooltips()' type='button'>Cancel</button></div>"></span></div>
    </div>
    <div class="ws-beacon-con">
      <p>Theme match:</p>
      <div class="ds-beacon-con"><span class="ds-beacon-cyan ds-tooltip-source temp-beacon" title="<h3 class='ds-tooltip-h3'>New Feature Title</h3><p class='ds-tooltip-p'>A very short explanation of the new feature and something about what it does.</p><div class='ds-btn-group-tooltip'><button class='ds-btn-sm ds-tooltip-btn' onclick='removeTooltips()' type='button'>Learn More</button><button class='ds-btn-sm-sec ds-tooltip-btn' onclick='removeTooltips()' type='button'>Cancel</button></div>"></div>
    </div>
    <div class="ws-beacon-con">
      <p>Theme complement:</p>
      <div class="ds-beacon-con"><span class="ds-beacon-orange ds-tooltip-source temp-beacon" title="<h3 class='ds-tooltip-h3'>New Feature Title</h3><p class='ds-tooltip-p'>A very short explanation of the new feature and something about what it does.</p><div class='ds-btn-group-tooltip'><button class='ds-btn-sm ds-tooltip-btn' onclick='removeTooltips()' type='button'>Learn More</button><button class='ds-btn-sm-sec ds-tooltip-btn' onclick='removeTooltips()' type='button'>Cancel</button></div>"></div>
    </div>
  </div>
</article>
