---
title: In-Context Help
layout: website/default
category: Components
---

<style type="text/css" scoped>

.ds-tooltip {
  top: auto;
  left: auto;
}

</style>

<h1>Tooltip</h1>
<p>Cloud Computing<i class="icon-help ds-tooltip"></i></p>

<div class="ds-tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

<h1>Beacon</h1>
<p>The beacon can be used to identify the location of new functionality or important features for first-time user.</p>
<h3>Best Practices:</h3>
<ul>
  <li>Place the beacon to the right or left of navigation items, labels or section headers.</li>
  <li>Use one beacon at a time.</li>
  <li>Remove the bacon once it has been viewed.</li>
  <li>Avoid using the beacon for warnings or alerts.</li>
  <li>Don't obsure text with a beacon.</li>
</ul>
<div class="ws-beacons">
  <div class="ws-beacon-con">
    <h3>Grey:</h3>
    <div class="ds-beacon-con"><span class="ds-beacon"></span></div>
  </div>
  <div class="ws-beacon-con">
    <h3>Match Theme Color:</h3>
    <div class="ds-beacon-con"><span class="ds-beacon-cyan"></span></div>
  </div>
  <div class="ws-beacon-con">
    <h3>Complementary:</h3>
    <div class="ds-beacon-con"><span class="ds-beacon-orange"></span></div>
  </div>
</div>