.hxBreadcrumb {
  hx-icon.delimiter {
    color: $textcolorlight;
    font-size: 0.5rem;
    // margin-right: 0.5rem;
    background-color: inherit;
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}
