.comcode-tab {
  display: block;
  max-width: inherit;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.code-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  textarea {
    width: 100%;
    height: 10rem;
  };
}
