.comcode-tab {
  display: block;
  max-width: inherit;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.code-container {
  height: 200vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

iframe.code-set {
  top: 0;
  left: -15rem;
  width: 156%;
  height: 100%;
  position: absolute;
}
