// New design

.base-top-bar {
  background-color: $cyan700;
  color: $textcolorlight !important;
  padding: 24px 24px 20px 24px;
  font-size: $base-font-size;
  a {
    color: $grey25 !important;
    &#link {
      text-align: center;
      font-weight: $regular-weight;
      border: 1px solid $grey25 !important;
    }
  }
}
.content-banner {
  background-color: #e5f4f7;
  min-height: 280px;

  .content-wrapper {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .component-title {
    width: 100%;
    font-size: 28px;
    font-weight: $light-weight;
    color: $grey900;
    margin: 36px 0 24px 0;
    text-align: left !important;
  }
  .component-blurb {
    font-size: $base-font-size;
    font-weight: 300;
    color: $grey900;
    line-height: $base-line-height;
  }
}
.com-code {
  font-size: $font-size-3;
  color: $grey900;
  margin: 24px 0;
  a {
    color: $grey900;
    &:hover {
      color: $cyan700;
      text-decoration: underline;
    }
  }
}
#markdown-toc {
  font-size: $font-size-3;
  color: $grey900;
  margin: 0 0 24px 0;
  padding: 0px;
  line-height: $base-line-height !important;
  li {
    line-height: $base-line-height !important;
    padding: 0px !important;
  }
}
.grid-bg {
  background: #B6E3EB;
  display: block;
  font-size: $font-size-3;
  text-align: center;
  padding: 40px 0;
}
// .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
//   margin-bottom: 20px;
// }
//
// #device {
//   //background: #f5f5f5;
//   //border: 1px solid #616161;
//   padding: 20px 20px 0 20px;
// }
//
// .mobile:before {
//   content: "Mobile Device"
// }
//
// .desktop:before {
//   content: "Desktop"
// }
//
// .hide {
//   width: auto;
// }
//
// .expand {
//   width: 100%;
// }

/* Tooltip */

.ws-beacons{
  height: 100px;
}

.ws-beacon-con{
  /* Firefox */
  width: -moz-calc(33.3333% - 28px);
  /* WebKit */
  width: -webkit-calc(33.3333% - 28px);
  /* Opera */
  width: -o-calc(33.3333% - 28px);
  /* Standard */
  width: calc(33.3333% - 28px);
  display:block;
  float:left;
  border-left: 1px solid #e0e0e0;
  padding-left: 40px;
}

.ws-beacon-con:first-child{
  border-left:none;
  padding-left: 0px;
}

table.ui.table {
  border-collapse: collapse;
  margin: 0;

  thead {
    tr {
      th {
        font-family: $base-font-family;
        font-size: 0.875rem;
        color: $grey950;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 0.875rem;
        padding: 1.5rem 1rem 1rem 1rem;
        text-align: left;
        border-bottom: 1px $grey300 solid;
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: left;
        padding: 1rem;
        border-bottom: 1px $grey300 solid;
        line-height: 1.5rem;
        font-size: 1em;
      }
    }
  }
}
