// New design

.base-top-bar {
  background-color: $cyan700;
  color: $textcolorlight !important;
  padding: 24px 24px 20px 24px;
  font-size: $base-font-size;
  a {
    color: $grey25 !important;
  }
  .btn-primary {
    background-color: inherit;
    border: 1px solid $grey25;
    // text-transform: capitalize;
    .btn-sm {
      padding: 5px 10px;
      font-size: $font-size-1;
      line-height: $base-line-height;
      border-radius: 3px;
    }
    &:hover {
      background-color: $grey25;
      border-color: transparent;
      color: $cyan700;
    }
  }
}
.content-banner {
  background-color: #e5f4f7;
  min-height: 280px;

  .content-wrapper {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .component-title {
    width: 100%;
    font-size: 28px;
    font-weight: $light-weight;
    color: $grey900;
    margin: 36px 0 24px 0;
    text-align: left !important;
  }
  .component-blurb {
    font-size: $base-font-size;
    font-weight: 300;
    color: $grey900;
    line-height: $base-line-height;
  }
}
.com-code {
  font-size: $font-size-3;
  color: $grey900;
  margin: 24px 0;
  a {
    color: $grey900;
    &:hover {
      color: $cyan700;
      text-decoration: underline;
    }
  }
}
#markdown-toc {
  font-size: $font-size-3;
  color: $grey900;
  margin: 0 0 24px 0;
  padding: 0px;
  line-height: $base-line-height !important;
  li {
    line-height: $base-line-height !important;
    padding: 0px !important;
  }
}
.grid-bg {
  background: $cyan100;
  display: block;
  font-size: $font-size-3;
  text-align: center;
  padding: 40px 0;
}

/* Tooltip */

.ws-beacons{
  height: 100px;
}

.ws-beacon-con{
  /* Firefox */
  width: -moz-calc(33.3333% - 28px);
  /* WebKit */
  width: -webkit-calc(33.3333% - 28px);
  /* Opera */
  width: -o-calc(33.3333% - 28px);
  /* Standard */
  width: calc(33.3333% - 28px);
  display:block;
  float:left;
  border-left: 1px solid $grey300;
  padding-left: 40px;
}

.ws-beacon-con:first-child{
  border-left:none;
  padding-left: 0px;
}

/*******************************
        Examples Table
*******************************/


.ui.basic.table, .ui.table {
  background-color: $grey25;
  margin: 1em 0em;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  text-align: left;
  color: $grey800;
  border-collapse: separate;
  border-spacing: 0px;
  line-height: $base-line-height;
  font-size: $font-size-3;
}
.ui.table:first-child {
  margin-top: 0em;
}
.ui.table:last-child {
  margin-bottom: 0em;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
  padding-top: 28px;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
  padding-left: 20px;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
  padding-right: 20px;
}

/* Table Content */
.ui.table th,
.ui.table td {
  @include transition(background 0.1s ease, color 0.1s ease);
}

/* Headers */
.ui.table thead {
  box-shadow: none;
}
.ui.table thead th {
  cursor: auto;
  background: transparent;
  text-align: inherit;
  text-transform: uppercase;
  color: $grey800;
  padding: 28px 20px 12px 20px;
  vertical-align: inherit;
  font-size: $font-size-3;
  font-weight: $medium-weight;
  border-bottom: 1px solid #e1e1e1;
  border-left: none;
  line-height: 1;
}
.ui.table thead tr > th:first-child {
  border-left: none;
}
.ui.table thead tr:first-child > th:first-child {
  border-radius: 0;
}
.ui.table thead tr:first-child > th:last-child {
  border-radius: 0;
}
.ui.table thead tr:first-child > th:only-child {
  border-radius: 0;
}

/* Table Row */
.ui.table tr td {
  border-top: 1px solid #e1e1e1;
}
.ui.table tr:first-child td {
  border-top: none;
}
.ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n) {
  background-color: #eee;
}
.ui.striped.table td {
  border-top: none;
}
.ui.striped.table tbody {
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

/* Table Cells */
.ui.table td {
  padding: 20px;
  text-align: inherit;
  line-height: $base-line-height;
}
