// New design

.base-top-bar {
  background-color: $cyan700;
  color: $textcolorlight !important;
  padding: 24px 24px 20px 24px;
  font-size: $base-font-size;
  a {
    color: $grey25 !important;
  }
}
.content-banner {
  background-color: #e5f4f7;
  min-height: 280px;

  a {
      text-align: center;
      font-weight: $regular-weight;
  }

  .content-wrapper {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .component-title {
    width: 100%;
    font-size: 28px;
    font-weight: $light-weight;
    color: $grey900;
    margin: 36px 0 24px 0;
    text-align: left !important;
  }
  .component-blurb {
    font-size: $base-font-size;
    font-weight: 300;
    color: $grey900;
    line-height: $base-line-height;
  }
  .hero-image {
    max-width: 292px;
  }
}
.com-code {
  font-size: $font-size-3;
  color: $grey900;
  margin: 24px 0;
  a {
    color: $grey900;
    &:hover {
      color: $cyan700;
      text-decoration: underline;
    }
  }
}
#markdown-toc {
  font-size: $font-size-3;
  color: $grey900;
  margin: 0 0 24px 0;
  padding: 0px;
  line-height: $base-line-height !important;
  li {
    line-height: $base-line-height !important;
    padding: 0px !important;
  }
}
.grid-bg {
  background: $cyan100;
  display: block;
  font-size: $font-size-3;
  text-align: center;
  padding: 40px 0;
}
