// New design
.new-banner {
  background-color: $cyan700;
  color: $textcolorlight !important;
  min-height: 168px;
  padding: 28px 0;
  .new-display {
    width: 100%;
    font-size: 48px;
    font-weight: 100;
    color: $textcolorlight !important;
    margin: 52px 28px 8px 28px;
    text-align: left !important;
  }
}
.component-element {
  .component-title {
    font-size: 24px;
    color: $grey900;
    margin: 24px 0px 16px 0px;
    text-align: left !important;
  }
  .component-blurb {
    font-size: 16px;
    color: $grey900;
    font-weight: 300;
    margin: 16px 0px;
    text-align: left !important;
  }
  .component-status {
    font-size: 14px;
    color: $grey700;
    margin: 16px 0px;
  }
}
.docs-content {
  h1 {
    font-size: 24px !important;
    color: $grey900;
  }
  h2 {
    font-size: 16px !important;
    color: $grey900;
  }
  h3 {
    font-size: 14px !important;
    color: $grey900;
  }
  p {
    font-size: 14px !important;
    color: $grey900;
  }
  ul li {
    font-size: 14px !important;
    color: $grey900;
  }
  article {
    padding: 0 28px;
    margin: 0;
    ul#markdown-toc {
      font-size: 14px;
      color: $cyan700;
      margin: 24px 0;
      padding: 0px;
      line-height: 1.5em !important;
      a {
        color: $cyan700;
        line-height: 1.5em !important;
        padding: 0px !important;
        &:hover {
          color: $grey900;
          text-decoration: underline;
        }
      }
      li {
        line-height: 1.5em !important;
        padding: 0px !important;
        a {
          color: $cyan700;
          &:hover {
            color: $grey900;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.new-blurb {
  background-color: #e5f4f7;
  min-height: 280px;
  padding: 28px;
  .page-title {
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    color: $grey900;
    margin: 36px auto 24px auto;
    text-align: left !important;
  }
  .page-blurb {
    font-size: 14px;
    color: $grey900;
  }
}
