// New design
.new-banner {
  background-color: $cyan700;
  color: $textcolorlight !important;
  min-height: 168px;
  padding: 28px 0;
  .new-display {
    width: 100%;
    font-size: $font-size-7;
    font-weight: $thin-weight;
    color: $textcolorlight !important;
    margin: 52px 0 8px 0;
    text-align: left !important;
  }
}

// COMPONENT ROW
.component-row {
  margin: 1.5rem 0;
}
.component-row-title {
  font-size: $font-size-5;
  color: $grey900;
  margin: 0 0px 16px 0px;
  text-align: left !important;
}
.component-row-blurb {
  font-size: $base-font-size;
  color: $grey900;
  font-weight: $light-weight;
  margin: 16px 0px;
  text-align: left !important;
}
.component-row-status {
  font-size: $font-size-3;
  color: $grey700;
  margin: 16px 0px;
}
#markdown-toc {
  font-size: $base-font-size !important;
  color: $cyan700;
  margin: 24px 0;
  padding: 0px;
  line-height: $base-line-height;
  li {
    line-height: $base-line-height;
    padding: 0px !important;
  }
}
.new-blurb {
  background-color: #e5f4f7;
  min-height: 280px;
  padding: 28px 0;
  .page-title {
    width: 100%;
    font-size: 1.75em;
    font-weight: $light-weight;
    color: $grey900;
    margin: 36px 0 24px 0;
    text-align: left !important;
  }
  .page-blurb {
    font-size: $font-size-3;
    color: $grey900;
  }
}
