// New design
.fam-banner {
  background-color: $cyan700;
  color: $textcolorlight !important;
  min-height: 10.5rem;
  .fam-display {
    width: 100%;
    font-size: $font-size-7;
    font-weight: $thin-weight;
    color: $textcolorlight !important;
    margin: 52px 0 8px 0;
    text-align: left !important;
  }
}
.component-element {
  .component-title {
    a {
      font-size: $font-size-5;
      color: $grey900;
      &:hover {
        color: $cyan700;
        text-decoration: underline;
      }
    }
    margin: 24px 0px 16px 0px;
    text-align: left !important;
  }
  .component-blurb {
    font-size: $base-font-size;
    color: $grey900;
    font-weight: $light-weight;
    margin: 16px 0px;
    text-align: left !important;
  }
  .hero-image {
    margin: 52px auto;
    // height: 200px;
    width: 100%;
    // img {
    //   height: 100%;
    //   // width: 100%;
    // }
  }
  .component-status {
    font-size: $font-size-3;
    color: $grey700;
    margin: 16px 0px;
  }
}


#markdown-toc {
  font-size: $base-font-size;
  color: $grey900;
  margin: 0 0 24px 0;
  padding: 0px;
  line-height: $base-line-height;
  li {
    line-height: $base-line-height;
    padding: 0px !important;
  }
}

.index-toc {
  ul {
    font-size: $font-size-3;
    color: $grey900;
    margin: 0 0 24px 0;
    // padding: 0px;
    list-style: none;
    line-height: $base-line-height !important;
    li {
      line-height: $base-line-height !important;
      padding: 0px !important;
    }
  }
}
