// New design
.fam-banner {
  background-color: $cyan700;
  color: $textcolorlight !important;
  min-height: 168px;
  padding: 28px 0;
  .fam-display {
    width: 100%;
    font-size: $font-size-7;
    font-weight: $thin-weight;
    color: $textcolorlight !important;
    margin: 52px 28px 8px 28px;
    text-align: left !important;
  }
}
.component-element {
  .component-title {
    a {
      font-size: $font-size-5;
      color: $grey900;
      &:hover {
        color: $cyan700;
        text-decoration: underline;
      }
    }
    margin: 24px 0px 16px 0px;
    text-align: left !important;
  }
  .component-blurb {
    font-size: $base-font-size;
    color: $grey900;
    font-weight: $light-weight;
    margin: 16px 0px;
    text-align: left !important;
  }
  .hero-image {
    margin: 52px 10px;
    img {
      min-width: 100%;
      max-height: 250px;
    }
  }
  .component-status {
    font-size: $font-size-3;
    color: $grey700;
    margin: 16px 0px;
  }
}
h1 {
  font-size: $font-size-5 !important;
  color: $grey900;
}
h2 {
  font-size: $base-font-size !important;
  color: $grey900;
}
p {
  font-size: $font-size-3 !important;
  color: $grey900;
}
ul li {
  font-size: inherit;
  color: $grey900;
}
article {
  // padding: 0px 0px 0px 28px;
  margin: 0;
  ul#markdown-toc {
    font-size: $base-font-size;
    color: $grey900;
    margin: 0 0 24px 0;
    padding: 0px;
    line-height: $base-line-height;
    a {
      color: $grey900;
      line-height: $base-line-height;
      padding: 0px !important;
      &:hover {
        color: $cyan700;
        text-decoration: underline;
      }
    }
    li {
      line-height: $base-line-height;
      padding: 0px !important;
      a {
        color: $grey900;
        &:hover {
          color: $cyan700;
          text-decoration: underline;
        }
      }
    }
  }
}
.index-toc {
  ul {
    font-size: $font-size-3;
    color: $grey900;
    margin: 0 0 24px 0;
    // padding: 0px;
    list-style: none;
    line-height: $base-line-height !important;
    li {
      line-height: $base-line-height !important;
      padding: 0px !important;
      a {
        color: $grey900 !important;
        &:hover {
          color: $cyan700;
          text-decoration: underline;
        }
      }
    }
  }
}
