.overview-footer {
  background-color: $grey900;
  text-align: center;
  padding: 40px;
  h2 {
    font-size: 24px;
    font-weight: 400;
    color: $grey400;
    margin: 40px auto 0px auto;
  };
  p {
    font-size: 14px;
    font-weight: 400;
    color: $grey600;
    margin: 12px auto !important;
  };
  hr {
    display: block;
    margin: 32px auto 0px auto;
    width: 75%;
  };
  .row-icons {
    display: flex;
    flex-direction: row;
    margin: auto 90px;
    img {
      height: 36px;
      width: 36px;
      filter: invert(60%);
      border-radius: 17px;
    };
    .left-3-col {
      flex: 1;
    };
    .mid-3-col {
      flex: 1;
    };
    .right-3-col {
      flex: 1;
    };
  }

}
.overview-wrapper {
  position: relative;
  float: right;
  width: calc(100% - 17em);
  top: 0;
  box-sizing: inherit;
  .overview-content {
      box-sizing: border-box;
      width: calc(100vw - 17em);
      article {
        text-align: center;
        margin: 0px auto;
        padding: 0px 10px;
      };
  };
  display: flex;
  flex-direction: column;
  article {
    margin: 0px 10px;
  };
  background-image: url(../images/Helix_Homepage_Pattern.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  @include background-size(cover);
}
.overview-header {
  margin: 28px auto 12px auto;
  text-align: center;
  &.display-font {
    font-size: 24px;
    font-weight: 300;
    color: $grey900;
    text-align: center;
  }
}
p {
  font-size: 16px;
  font-weight: 300;
  color: $grey900;
  text-align: center;
  line-height: 1.5em !important;
  max-width: none;
}
.main-logo {
  display: block;
  position: relative;
  margin: 80px auto 28px auto;
  img {
    height: 64px;
  };
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 30%;
}
.card {
  display: inline-block;
  position: relative;
  border: 1px solid $grey400;
  margin: 32px auto 40px auto;
  padding: 20px;
  height: 292px;
  width: 228px;
  text-align: center;
  .icon {
    margin: 20px auto;
    img {
      height: 36px;
    }
  }
  .card-heading {
    font-weight: 600;
    font-size: 16px;
    color: $grey900;
    margin: 0px auto;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: $grey900;
    margin: 20px auto;
    line-height: 1.5em;
  }
  a {
    font-weight: 400;
    font-size: 16px;
    color: $cyan700;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      line-height: 1.5em;
      text-align: center;
    };
  }
}
@include phone {
  .overview-content {
    max-width: $tablet-width;
  }
  .overview-footer {
    max-width: $tablet-width;
  }
}
@include tablet {
  .overview-content {
    max-width: $tablet-width;
  }
  .overview-footer {
    max-width: $tablet-width;
  }
}
@include desktop {
  // .overview-content {
  //   padding: 0px 20% 0px 10%;
  // }
  // .overview-footer {
  //   padding: 0px 20% 0px 10%;
  // }
}
