html {
  box-sizing: border-box;
  height: 100%;
  font-size: $base-font-size;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $grey0 !important;
  line-height: $base-line-height;
  overflow-x: hidden;
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

nav.side {
    padding-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 5px;
    a {
      font-weight: 400 !important;
    }
    .logo {
        display: block;
        position: relative;
        a {
          padding: 0 !important;
          &:hover {
            background: $grey975 !important;
            cursor: pointer;
          }
        }
        img {
          height: 26px;
          width: 122px;
          position: relative;
          margin: 16px auto 28px auto;
        }
    }
}

/**
 * Page layout
 */
.page-wrapper {
  display: flex;
  min-height: 100vh;
  .page-content {
    box-sizing: border-box;
    overflowY: scroll;
    flex: 1;
    padding: 0px 0px !important;
    margin-left: 15rem;
  }
};

/**
 * Content styles
 */
.content-wrapper {
  position: relative;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 $paddingXL;
  overflow: hidden;

  &:first-child {
    border-bottom: none;
  }
  /* border-bottom: 1px solid $grey300; this will be uncommented once the rest of the content is edited to use less article tags on a page, the border-bottom segmentation works best when articles have multiple rows and plenty of content */
  ul {
    font-size: $font-size-3;
    -webkit-margin-before: 0;
    margin-before: 0;
    padding-start: 20px;
    -webkit-padding-start: 20px;
    li {
      padding-bottom: 0.6em;
      line-height: $base-line-height;
    }
    ul {
      font-size: $font-size-3;
      li {
        font-size: $font-size-3;
      }
    }
  }
}

.docs-content {
  margin: $paddingXL 0;
}

.static-section {
  margin: 2rem 0;
}

a.anchor {
  position: absolute;
  top: 0;
}

a {
  &.hover,
  &.active {
    color: $blue500;
    cursor: pointer;
    text-decoration: none;
  }
}
video {
  width: 900px;
  height: auto;
  max-width: 100%;
}

figure:not(figcaption) {
  margin: 0 0 8px 0;
}

figcaption {
  color: $grey800;
  font-size: $font-size-1;
  margin: 0;
  line-height: $base-line-height;
  font-weight: $light-weight;
  margin: 0 0 8px 0;
}

p {
  font-size: $font-size-3;
  line-height: $base-line-height;
  margin-top: 0;
}


pre {
  padding: 8px 12px;
  background: $grey100;
  color: $grey950;
  border-radius: 2px;
}

.image {
  text-align: center;
  height: 100%;
  padding: 2rem;
  &.bg-light {
    background-color: $grey25;
  }
  &.bg-dark {
    background-color: $grey950;
  }
  &.border {
    border: 1px solid $grey400;
  }
  img {
    max-width: 100%;
  }
}

*, ::before, ::after {
  box-sizing: inherit;
}

.type-demo {
  background-color: $grey25;
  border: 1px solid $grey300;
  min-height: 190px;
  padding: 20px;
  box-sizing: inherit;
  margin-bottom: 1.25rem;

  .example {
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
  .specs {
    border-left: 1px solid $grey300;
    float: left;
    dl {
      font-size: $font-size-3;
      margin-left: 20px;
      margin-top: 0;
      dt, dd {
        float: left;
      }
      dt {
        clear: both;
        margin-bottom: 4px;
      }
      dd {
        color: $grey900;
        margin-left: 4px;
        margin-bottom: 4px;
      }
    }
  }
}


/**
 * Dynamic Anchor List Styles
 */

#markdown-toc {
  list-style-type: none;
  ul {
    list-style-type: none;
    li {
      font-size: $base-font-size;
      line-height: $base-line-height;
      a {
        font-size: $base-font-size;
      }
    }
  }
}

/**
 * Categories layout
 */

.category-card {
  border-spacing: 20px;
  background: $grey0;
  border: 1px solid $grey300;
  padding: 1em;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid $grey300;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.16);
  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.08), 0 5px 10px rgba(0,0,0,0.16);
  }
  h1 {
    font-weight: $regular-weight;
    margin: 0;
    text-decoration: none;
  }
  img{
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
  a {
    color: $grey950;
    text-decoration: none;
    &:hover {
      &h1 {
        text-decoration: none !important;
      }
      text-decoration: none !important;
    }
  }
}

@media (min-width: 1280px) {
  .container-fluid {
    max-width: 1100px;
  }
}
