form#search {
  display: flex;
  flex-direction: row;
  input#search-box{
    flex-grow: 2;
  }
}
ul#search-results{
  list-style-type: none;
  li {
    padding: 10px 0px;
  }
}

#search-count {
  padding: 5px 0;
}
