// Search page only box
form#search {
  display: flex;
  flex-direction: row;
  input#search-box{
    flex-grow: 2;
  }
}

// Box for other pages
form#search-all {
  display: flex;
  flex-direction: row;
  width: 4.45rem;
  &:focus-within {
    width: 100%;
    background: #ff8;
  }
  input#search-box{
    flex-grow: 2;
    width: 100%;
  }
}
div.search-overview {
  width: 90%;
  margin: 0 auto;
}


ul#search-results{
  list-style-type: none;
  li {
    padding: 10px 0px;
  }
}

#search-count {
  padding: 5px 0;
}
