#design-status-table {

  margin-top: 0;

  thead th {
    padding-top: 0;
  }
}

/*
* This will be removed when we move to version to a new version of the helix-ui code that supports the card component
*/


.resource-card {
  border: 1px solid $grey300;
  padding: 20px 20px;
  background: $grey25;
  min-height: 261px;
  h4 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 16px;
  }
}

// Fixing the spacing issues with headings for now
h2 {
  margin-bottom: 28px !important;
}
h3 {
  margin-bottom: 24px !important;
}


// Paragraphs apparently have a fixed margin-bottom of 0 in the NPM library.
p {
  margin-bottom: 1em !important;
}

// Submit issue button should look like a button (ref: educational modal discussion and slack decision)
.issue {
  color: $cyan900 !important;
  &:hover {
    color: $grey0 !important;
  }
}

// Icons for Do/Don't Use aren't aligned with the test. Will be fixed by v0.7.0 of helixUI
.good-idea {
  vertical-align: text-bottom;
}
.bad-idea {
  vertical-align: text-bottom;
}
