#design-status-table {

  margin-top: 0;

  thead th {
    padding-top: 0;
  }
}

/* 
* This will be removed when we move to version X.X (laura help me here) of the helix-ui code. The version currently used on the site does not have styling for the hxHeading-5 class. 
*/

.hxHeading5 {
	font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}