@-webkit-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.skeleton {
  background-color: $grey300;
  display: block;
  opacity: 0;

  @include animation(FADE-IN 0.25s normal 0.5s forwards);
}

.skeleton-body {
  height: 1em;
  border-radius: 0.5em;
}

.skeleton-image {
  width: 100%;
  border-radius: 0.5em;
}

p .skeleton {
  margin-bottom: 0.5em;
}
