.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Float classes */

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

/* Display classes */

.inline-block {
  display: inline-block;
}

/* Clear classes */

.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}

/* Center image classes */

.center {
  img {
    position: relative;
    top: 25%;
  }
}

/* Text align classes */

.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
