---
title: Forced Action Modal
parent: Editing
layout: website/default
category: Components
usage: Teaser Text
preview-image:
---

<article>
  <div class="row">
  <h2>Forced Action Modal</h2>
  <p>Forced action modals are used when an action could have a potentially harmful result for a customer. They are used to command the users attention by obstructing view of all items not related to the action</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>Centered Vertically & Horizontally</li>
        <li>Should be used very sparingly for non-routine tasks. Ex: Deleting an Account, Changing a Credit Card, or Updating Billing Information.</li>
        <li>Available as a whiteout or blackout pattern.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/editing-forcedaction-white.svg">
        </div>
        <figcaption>Forced Action Modal (whiteout)</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/editing-forcedaction-black.svg">
        </div>
        <figcaption>Forced Action Modal (blackout)</figcaption>
      </figure>
  </div>
</article>