---
title: Pop Over
parent: Editing
layout: website/default
category: Components
usage: Teaser Text
preview-image: components/preview-images/popover.svg
---


<article>
  <div class="row">
    <h2>Popover</h2>
    <p>Popovers are triggered as a result of a user action and provide a user with additional context through language, actions through buttons, or both. Popovers come in a the following types Hover Popover, Triggered Popover, and Closeable Popover</p>
  </<div>
</article>

<article>
  <div class="row">
  <h3>Hover Popover</h3>
  <p>Hover popovers are triggered as a result of a user hovering over linked area in the UI.</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>font-family: Roboto</li>
        <li>font-weight: 400</li>
        <li>font-size: 16px / 1em</li>
        <li>color: Grey800 (#616161)</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-hover-specs.svg">
        </div>
        <figcaption>Hover popover</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-hover-specs2.svg">
        </div>
        <figcaption>Hover popover specs</figcaption>
      </figure>
    </div>
</article>

<article>
  <div class="row">
  <h3>Triggered Popover</h3>
  <p>Overpopovers are triggered as a result of a user hovering over linked area in the UI.</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>font-family: Roboto</li>
        <li>font-weight: 400</li>
        <li>font-size: 16px / 1em</li>
        <li>color: Grey800 (#616161)</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-triggered.svg">
        </div>
        <figcaption>Triggered popover</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-triggered-specs.svg">
        </div>
        <figcaption>Triggered popover specs</figcaption>
      </figure>
    </div>
</article>

<article>
  <div class="row">
  <h3>Closable Popover</h3>
  <p>Closeable popovers are triggered as a result of...</p>
    <div class="col-md-4">
      <a class="anchor" name="top-nav"></a>
      <ul>
        <li>font-family: Roboto</li>
        <li>font-weight: 400</li>
        <li>font-size: 16px / 1em</li>
        <li>color: Grey800 (#616161)</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-closeable.svg">
        </div>
        <figcaption>Closeable popover </figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-closeable-specs.svg">
        </div>
        <figcaption>Closeable popover specs</figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-closeable-header.svg">
        </div>
        <figcaption>Closeable popover w/ header </figcaption>
      </figure>
      <figure>
        <div class="image bg-light border">
          <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/Editing/popover-closeable-header-specs.svg">
        </div>
        <figcaption>Closeable popover w/ header specs</figcaption>
      </figure>
    </div>
</article>
