---

---

$spacing-unit:     30px;

//Colors
$text-color:       #262626;
$background-color: #fcfcfc;
$brand-color:      #3374b9;
$grey-color:       #757575;
$warn-color:       #f89c1c;
$admonish-color:   #c12126;

$light-grey:       #f7f7f7;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

//Font weights
$thin-weight:    100;
$light-weight:   300;
$regular-weight: 400;
$medium-weight:  500;
$bold-weight:    700;

@import
"website/settings",
"website/utilities",
"website/mixins",
"website/layout",
"website/component-page",
"website/charts-page",
"website/lightbox",
"website/alerts",
"website/tabs",
"website/comcode",
"website/home",
"website/breadcrumb-icons",
"website/docs-page",
"website/family-page",
"website/status-label",
"website/shame",
"website/search";
