// Remove inner padding and border in Firefox 3+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ds-btn, .ds-btn-med, .ds-btn-sm, .ds-btn-sec, .ds-btn-med-sec, .ds-btn-sm-sec, .ui-controlgroup-item{
  color: $grey0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  text-decoration: none;
  text-transform:uppercase;
  line-height: 44px;
  padding: 0 14px;
  text-align: center;
  vertical-align: middle;
  background: $action700;
  border: 1px solid $action700;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px;

  &:hover,
  &:focus,
  &.hover {
    background: $action500;
    border: 1px solid $action500;
    outline:none;
  }

  &:active,
  &.active {
    background: $action900;
    border: 1px solid $action900;
    outline:none;
  }

  &[disabled],
  &.disabled {
    color: $grey800;
    background: $grey400;
    border-color: $grey400;
    cursor: default;
    box-shadow: none;
    cursor:not-allowed;
  }

  &.default{
    background: $action700;
    border: 1px solid $action700;
    outline:none;
  }

}

.ds-btn-med, .ds-btn-med-sec{
  padding: 0 10px;
  font-size: $font-size-3;
  line-height: 28px;
}

.ds-btn-sm, .ds-btn-sm-sec{
  padding: 0 8px;
  font-size: $font-size-1;
  line-height: 21px;
}

.ds-btn-sec, .ds-btn-med-sec, .ds-btn-sm-sec{
  background:transparent;
  color:$action700;

  &:hover,
  &:focus,
  &.hover {
    color:$grey0;
    background: $action500;
    border: 1px solid $action500;
    outline:none;
  }

  &:active,
  &.active {
    color:$grey0;
    background: $action900;
    border: 1px solid $action900;
    outline:none;
  }

    &.default{
    background: $grey0;
    border: 1px solid $action700;
    color:$action700;
    outline:none;
  }
}

a {
  color: $action700;
  text-decoration:none;
  cursor:pointer;

  &:hover,
  &.hover {
    color: $action500;
    text-decoration:underline;
    }

  &:active,
  &.active {
    color: $action900;
    text-decoration:underline;
  }

  &.disabled {
    color: $grey700;
    cursor:not-allowed;
    text-decoration:underline;
  }
}

.ws-btn-group {

  .ui-selectmenu-icon.ui-icon {
    font-size: 10px;
    margin-top: 9px;
    width: auto;
    height: auto;
  }

  .ui-controlgroup-item .ui-icon-triangle-1-s:before {
    color: #fff;
    content: "\e919";
  }

}

.ui-menu .ui-menu-item-wrapper {
  padding: 4px 16px;
}

#dropdown-btn-menu .ui-state-active:before, #dropdown-btn-sec-menu .ui-state-active:before {
  display: none;
}

.ws-btn-group-dropdown {

  .ui-controlgroup-item {
      text-transform: uppercase;
      vertical-align: middle;
      background: #0e94a6;
      border: 1px solid #0e94a6;
      padding: 0 12px;
      font-size: 0.875em;
      line-height: 28px;
      outline: none;
      width: auto !important;
    }

    .ui-selectmenu-button.ui-button, .ui-selectmenu-button-closed {
      color: #fff;
    }

    .ui-selectmenu-button:hover {
      background: #fff;
      border: 1px solid #0e94a6;
      color: #0e94a6 !important;
    }

    .ui-selectmenu-button-open {
      background: #fff;
      border: 1px solid #0e94a6;
      color: #0e94a6 !important;
    }

    .ui-selectmenu-button:hover .ui-icon-triangle-1-s:before, .ui-selectmenu-button-open .ui-icon-triangle-1-s:before{
      color: #0e94a6;
    }

  }

  .ws-btn-group-dropdown-sec {
    .ui-controlgroup-item {
      text-transform: uppercase;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #0e94a6;
      padding: 0 12px;
      font-size: 0.875em;
      line-height: 28px;
      outline: none;
      width: auto !important;
    }
    

  }

  #dropdown-btn-sec-button.ui-selectmenu-button.ui-button, #dropdown-btn-sec-button.ui-selectmenu-button-closed {
    color: #0e94a6;
  }

  #dropdown-btn-sec-button.ui-controlgroup-item .ui-icon-triangle-1-s:before {
    color: #0e94a6;
  }

  #dropdown-btn-sec-button.ui-selectmenu-button.ui-button:hover, #dropdown-btn-sec-button.ui-selectmenu-button-open {
    background: #0e94a6;
    color: #fff !important;
  }

  #dropdown-btn-sec-button.ui-selectmenu-button:hover .ui-icon-triangle-1-s:before, #dropdown-btn-sec-button.ui-selectmenu-button-open .ui-icon-triangle-1-s:before{
    color: #fff;
  }
