.ui.statistics, .ui.statistics>.statistic, .ui.statistic{
	margin:0;
	padding:0;
}

.statistic .label, .statistic .value, .ui.statistic>.value, .ui.statistics .statistic>.value, .ui.statistic>.label, .ui.statistics .statistic>.label{
	font-family: $base-font-family;
	font-weight:100;
  	font-size:$font-size-7;
	line-height: $heading-line-height; 
	text-transform: none; 
	letter-spacing: 0;
	color: $grey950;
	margin:0;
	padding:0;
	text-align:center;
}

.statistic .label, .ui.statistic>.label, .ui.statistics .statistic>.label{
	font-size:$base-font-size;
	font-weight:400;
	padding-top:4px;
}

.statistic .label.top, .ui.statistic>.label.top, .ui.statistics .statistic>.label.top{
	padding:0 0 4px 0;
}

.small.statistic .value, .ui.small.horizontal.statistic>.value, .ui.small.horizontal.statistics .statistic>.value, .ui.small.statistic>.value, .ui.small.statistics .statistic>.value, .ui.horizontal.statistics .small.statistic>.value{
	font-weight:300;
  	font-size:$font-size-6;
}

.large.statistic .value, .ui.large.horizontal.statistic>.value, .ui.large.horizontal.statistics .statistic>.value, .ui.large.statistic>.value, .ui.large.statistics .statistic>.value{
  	font-size:$font-size-8;
}






.ds-chart-header{
	padding-bottom: $paddingXL;
	line-height:1.25em;
}

.ds-right-legend ul{
	margin: 0;
  	padding: 0;
}

.ds-right-legend li{
	font-size:14px;
	list-style: none;
	padding-bottom:12px;
}

.ds-right-legend li:last-of-type{
	padding-bottom:0px;
}

.ds-right-legend li span{
	display: inline-block;
	vertical-align:middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.ds-right-legend li span{
	display: inline-block;
	vertical-align:middle;
    width: 44px;
    height: 18px;
    margin-right: 8px;
}
.ds-right-legend.many li{
	padding-bottom:6px;
}

.ds-right-legend.many li:last-of-type{
	padding-bottom:0px;
}

.ds-right-legend.many li span{
	height: 12px;
}

.ds-chart-subtext{
	display: inline-block;
	margin-top: 28px;
}

.ds-custom-chart-con{
	display : flex;
  	align-items : center;
}

.ds-per-doughnut-con{
	position:relative;
}

.ds-per-doughnut-center{
	position:absolute;
	z-index:100;
	width:100%;
	text-align:center;
}

.ds-per-doughnut-head{
	text-align: center;
	font-size:14px;
	padding: 0 0 4px 0;
}

.ds-per-doughnut-per{
	text-align:center;
	padding:0;
	margin:0;
}
