// Section View
.rs-detail-section + .rs-detail-section,
.rs-detail-header + .rs-detail-section {
  border-top: 1px solid #eee;
}

.rs-detail-section-header {
  padding: 30px 30px 20px;
  border-top: 1px solid #fff;
}

.rs-detail-section-title,
.rs-detail-section-subtitle {
  display: inline-block;
}

.rs-detail-section-title {
  margin-right: 10px;
  font-family: $alt-font-family;
  font-size: 22px;
  font-weight: 600;
}

.rs-detail-section-subtitle {
  color: #999;
}

.rs-detail-section-body {
  padding: 0 30px;
  margin: 0 0 30px;
}

// Collapsible Detail Section
.rs-collapsible-section {
  > .rs-detail-section-header {
    > .rs-caret {
      width: 13px;
      height: 13px;
      margin: 3px 0 3px 10px;
      float: right;
    }
  }
}

.rs-collapsible-section.expanded,
.rs-collapsible-section.collapsed, {
  > .rs-detail-section-header {
    cursor: pointer;
  }

  > .rs-detail-section-header.hover,
  > .rs-detail-section-header:hover,
  > .rs-detail-section-header:focus {
    outline: none;
    background-image: linear-gradient(#f7f7f7, #fff);
  }
}

.rs-collapsible-section.loading,
.rs-collapsible-section.collapsed {
  .rs-detail-section-header {
    padding-bottom: 30px;
  }

  .rs-detail-section-body {
    display: none;
  }
}

.rs-collapsible-section.loading,
.rs-collapsible-section.expanded {
  .rs-detail-section-subtitle {
    display: none;
  }
}

.rs-collapsible-section.expanded {
  > .rs-detail-section-header {
    > .rs-caret {
      @include sprite($section-toggle-expanded);
    }
  }

  > .rs-detail-section-header.hover,
  > .rs-detail-section-header:hover,
  > .rs-detail-section-header:focus {
    > .rs-caret {
      @include sprite($section-toggle-expanded-hover);
    }
  }
}

.rs-collapsible-section.collapsed {
  > .rs-detail-section-header {
    > .rs-caret {
      @include sprite($section-toggle-collapsed);
    }
  }

  > .rs-detail-section-header.hover,
  > .rs-detail-section-header:hover,
  > .rs-detail-section-header:focus {
    > .rs-caret {
      @include sprite($section-toggle-collapsed-hover);
    }
  }
}

.rs-collapsible-section.loading {
  > .rs-detail-section-header {
    > .rs-caret {
      width: 16px;
      height: 16px;
      background: image-url('loading-indicator.gif');
    }
  }
}

// Header Section
.rs-detail-header {
  padding: 30px;
}

.rs-detail-header-title,
.rs-detail-header-subtitle {
  font-family: $alt-font-family;
}

.rs-detail-header-title {
  font-size: 32px;
  font-weight: 600;
}

.rs-detail-header-subtitle {
  margin: 0 0 5px;
  color: $grey400;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.rs-detail-header-actions {
  @extend %rs-pull-right;
}

// Create Sections

.rs-create-header {
  padding: 30px 30px 0 30px;

  & + .rs-detail-section {
    border-top: 1px solid #fff;
  }
}

.rs-create-header + .rs-detail-section .rs-detail-section-header {
  padding-top: 0;
}

.rs-create-footer {
  border-top: 1px solid #eee;

  .rs-detail-section-body {
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

// Detail List
.rs-detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rs-detail-item {
  margin: 0 0 10px;

  @include micro-clearfix;
}

.rs-detail-key {
  clear: left;
  float: left;
  color: $grey400;
  text-align: right;
}

@mixin set-detail-key-values($key-width: 120px, $value-margin-left: 20px){
  .rs-detail-key {
    width: $key-width;
  }
  .rs-detail-value {
    margin-left: $key-width + $value-margin-left;
  }
}

@include set-detail-key-values();

.rs-detail-xsmall {
  @include set-detail-key-values(60px);
}

.rs-detail-small {
  @include set-detail-key-values(80px);
}

.rs-detail-medium {
  @include set-detail-key-values(100px);
}

.rs-detail-large {
  @include set-detail-key-values(120px);
}

.rs-detail-xlarge {
  @include set-detail-key-values(150px);
}

.rs-detail-xxlarge {
  @include set-detail-key-values(180px);
}
