

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CHECKBOX AND RADIO BUTTON ALTERNATES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.altSelectorFormComponent{
  height:31px;
}

/*ROMOVING ICONS*/

input.altSelector[type=checkbox] + label:before,  input.altSelector[type=checkbox]:checked + label:before, input.altSelector[type=radio] + label:before, input.altSelector[type=radio]:checked + label:before, input.altSelectorDis[type=checkbox] + label:before,  input.altSelectorDis[type=checkbox]:checked + label:before, input.altSelectorDis[type=radio] + label:before, input.altSelectorDis[type=radio]:checked + label:before, input.altSelectorErr[type=checkbox] + label:before,  input.altSelectorErr[type=checkbox]:checked + label:before, input.altSelectorErr[type=radio] + label:before, input.altSelectorErr[type=radio]:checked + label:before{
  content: "";
}

input.altSelector[type=checkbox], input.altSelector[type=radio], input.altSelectorDis[type=checkbox], input.altSelectorDis[type=radio],input.altSelectorErr[type=checkbox], input.altSelectorErr[type=radio]{
  display:none;
  }

/*DEFAULT STYLES*/

label.altSelector, label.altSelectorDis, label.altSelectorErr{
  display:block;
  cursor:pointer;
  line-height:28px;
  border:1px solid $grey500;
  border-left:0;
  color:$action700;
  margin:0px;
  padding:0 20px;
  text-align:center;
  float:left;
}

label.altSelector:nth-of-type(1), label.altSelectorDis:nth-of-type(1), label.altSelectorErr:nth-of-type(1){
  border:1px solid $grey500;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;
}

label.altSelector:nth-last-of-type(1), label.altSelectorDis:nth-last-of-type(1), label.altSelectorErr:nth-last-of-type(1){
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
}

input.altSelector[type=checkbox]:checked + label,  input.altSelector[type=radio]:checked + label{
  background-color:$action700;
  color:$grey0;
}

input.altSelector[type=checkbox] + label:hover,  input.altSelector[type=radio] + label:hover,  input.altSelector[type=checkbox] + label:focus, input.altSelector[type=radio] + label:focus{
  background-color:$cyan50;
  color:$action900;
}

input.altSelector[type=checkbox]:checked + label:hover, input.altSelector[type=radio]:checked + label:hover,  input.altSelector[type=checkbox]:checked + label:focus, input.altSelector[type=radio]:checked + label:focus{
  background-color:$action500;
  color:$grey0;
}

input.altSelector[type=checkbox] + label:active,  input.altSelector[type=checkbox]:checked + label:active, input.altSelector[type=radio] + label:active, input.altSelector[type=radio]:checked + label:active{
  background-color:$action900;
  color:$grey0;
}


/*DISABLED STYLES*/

label.altSelectorDis{
  cursor:not-allowed;
  color:$grey700;
}

input.altSelectorDis[type=checkbox]:checked + label,  input.altSelectorDis[type=radio]:checked + label{
  background-color:$grey400;
  color:$grey800;
}

input.altSelectorDis[type=checkbox] + label:focus, input.altSelectorDis[type=radio] + label:focus{
  background-color:$grey100;
  color:$grey800;
}

input.altSelectorDis[type=checkbox]:checked + label:focus, input.altSelectorDis[type=checkbox]:checked + label:focus{
  background-color:$grey300;
  color:$grey800;
}

/*ERROR STYLES*/

label.altSelectorErr{
  color:$red900;
}

input.altSelectorErr[type=checkbox]:checked + label,  input.altSelectorErr[type=radio]:checked + label{
  background-color:$red900;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:focus, input.altSelectorErr[type=radio] + label:focus, input.altSelectorErr[type=checkbox] + label:hover, input.altSelectorErr[type=radio] + label:hover{
  background-color:$red100;
  color:$red900;
}

input.altSelectorErr[type=checkbox]:checked + label:focus, input.altSelectorErr[type=checkbox]:checked + label:focus, input.altSelectorErr[type=checkbox]:checked + label:hover, input.altSelectorErr[type=radio]:checked + label:hover{
  background-color:$red700;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:active,  input.altSelectorErr[type=checkbox]:checked + label:active, input.altSelectorErr[type=radio] + label:active, input.altSelectorErr[type=radio]:checked + label:active{
  background-color:$action900;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:active,  input.altSelectorErr[type=checkbox]:checked + label:active, input.altSelectorErr[type=radio] + label:active, input.altSelectorErr[type=radio]:checked + label:active{
  background-color:$redAccent;
  color:$grey0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SWITCH
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.formGroup.switch{
  height:28px;
  width:100%;
  padding-bottom:20px;
}


.formLabel.switch{
  width:120px;
  line-height:28px;
  padding:0;
  margin-right:20px;
  float:left;
}

.formComponant.switch{
  width:65px;
  height:28px;
  line-height:28px;
  float:left;
}

.switchErrorText{
  width:100%;
  display:inline-block;
}

/* The switch - the box around the slider */
label.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 28px;
  cursor: pointer;
}

label.switch.disabled{
  cursor:not-allowed;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* ROUND SLIDER BALL */

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey500;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 0px;
  bottom: 0px;
  background-color: $grey25;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
}

.slider.disabled:before{
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
}

/* BACKGROUND COLORS */

input:checked + .slider {
  background-color: $action700;
}

.slider.disabled, input:checked + .slider.disabled {
  background-color: $grey400;
}

.slider.disabled:before{
  background-color: $grey100;
}

.slider.error {
  background-color: $red100;
}

input:checked + .slider.error{
  background-color: $red;
}

/* SLIDING DISTANCE */

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

/* ROUNDING SLIDER */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SLIDER TEXT STYLES */

.switch[type=checkbox]+.on-off:after, .switch [type=checkbox]~.on-off:after, .switch[type=checkbox]:checked+.on-off:after, .switch [type=checkbox]:checked~.on-off:after, .switch[type=checkbox]+.yes-no:after, .switch [type=checkbox]~.yes-no:after, .switch[type=checkbox]:checked+.yes-no:after, .switch [type=checkbox]:checked~.yes-no:after, .switch.error[type=checkbox]:checked+.on-off:after, .switch.error [type=checkbox]:checked~.on-off:after, .switch.error[type=checkbox]:checked+.yes-no:after, .switch.disabled [type=checkbox]:checked~.yes-no:after{
  position:absolute;
  color:$grey0;
  text-transform:uppercase;
  font-size:$font-size-2;
}

.switch.disabled[type=checkbox]+.on-off:after, .switch.disabled [type=checkbox]~.on-off:after, .switch.disabled[type=checkbox]:checked+.on-off:after, .switch.disabled [type=checkbox]:checked~.on-off:after, .switch.disabled[type=checkbox]+.yes-no:after, .switch.disabled [type=checkbox]~.yes-no:after, .switch.disabled[type=checkbox]:checked+.yes-no:after, .switch.disabled [type=checkbox]:checked~.yes-no:after, .switch.error[type=checkbox]+.on-off:after, .switch.error [type=checkbox]~.on-off:after, .switch.error[type=checkbox]+.yes-no:after, .switch.disabled [type=checkbox]~.yes-no:after{
  color:$grey800
}

.switch[type=checkbox]+.on-off:after, .switch [type=checkbox]~.on-off:after{
  content: attr(data-check-off);
  right:10px;
}

.switch[type=checkbox]:checked+.on-off:after, .switch [type=checkbox]:checked~.on-off:after{
  content: attr(data-check-on);
  left:10px;
}

.switch[type=checkbox]+.yes-no:after, .switch [type=checkbox]~.yes-no:after{
  content: attr(data-check-no);
  right:10px;
}

.switch[type=checkbox]:checked+.yes-no:after, .switch [type=checkbox]:checked~.yes-no:after{
  content: attr(data-check-yes);
  left:10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SELECT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding:0 14px;
  height:40px;
  width: $cols4;
  margin:0;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid $grey500;
  border-radius: 2px;
  line-height:40px;
  vertical-align:middle;
  padding:0 14px;

  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }

  &:focus,
  &.focus {
    outline: none;
    border: 1px solid $action500;
  }

  &:active,
  &.active {
    outline: none;
    border: 1px solid $action500;
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }

  &[readonly],
  &[disabled] {
    cursor:not-allowed;
    color: $grey800;
    background-color: $grey50;
    border: 1px solid $grey300;
  }

  &.textInputError{
    border: 2px solid $red900;
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $grey25;
  border: 1px solid $grey500;
  li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    &:hover {
      color: $grey0;
      background: $action500;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CHECKBOXES AND RADIO BUTTONS
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.subtext.optiongroup{
  display:block;
  margin-left:26px;
  margin-top:1px;
}

label.selector, label.selectorDisabled{
  line-height:16px;
}

.selectorItem{
  margin-bottom:$paddingXS;
}

.selectorItem.last{
  margin-bottom:0;
}


/* iCheck plugin
----------------------------------- */
.icheckbox,
.iradio {
    display: inline-block;
    *display: inline;
    vertical-align: 2px;
    margin: 0;
    margin-top:3px;
    padding: 0;
    border: none;
    cursor: pointer;
    float: left;
    clear: both;
    font-family: 'DS_icon_font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:$grey500;
}

.icheck label {
  float: left;
  margin-left: $paddingS;
}

.icheck label.selector, .icheck label.selectorDisabled {
  line-height: inherit;
}

.icheckbox:before {
    content: "\e906";
}

.icheckbox.checked:before {
    content: "\e905";
}

.icheckbox.disabled:before {
    content: "\e906";
    cursor:not-allowed;
}

.icheckbox.checked.disabled:before {
    content: "\e905";
    cursor:not-allowed;
}

.iradio:before {
    content: "\e913";
}

.iradio.checked:before {
    content: "\e912";
}

.iradio.disabled:before {
    content: "\e913";
    cursor:not-allowed;
}

.iradio.checked.disabled:before {
    content: "\e912";
    cursor:not-allowed;
}

.checked:before {
  color: $action700;
}

.disabled{
  color:$grey700;
}

.disabled:before, .checked.disabled, .checked.disabled:before {
  color:$grey500;
  cursor:not-allowed;
}

.error .iradio:before, .error .icheckbox:before, .error .checked:before {
  color: $red900;
}

.icheckbox.focus:after, .iradio.focus:after {
  content: "\e913";
  font-size: 18px;
  color: $action500;
  position: absolute;
  left: -1px;
  top: -1px;
}

.icheckbox.focus:after {
  content: "\e906";
}



.ui-menu {
  background: $grey25;
  border: 1px solid $grey500;
  color: $grey700;
  .ui-menu-item-wrapper {
    padding: 4px 1em;
    &:before {
      color: #fff;
      content:"";
      display: inline-block;
      margin-right: 1em;
      width: 1em;
    }
    &:hover {
      background: $grey700;
      color: #fff;
    }
    &.ui-state-active:before {
      content: "\e921";
      width: auto;
    }
  }
}

.ui-menu .selected {
  label.ui-menu-item-wrapper {
    &:before {
      color: $grey700;
      content: "\e921";
      width: auto;
    }
    &:hover {
      &:before {
        color: #fff;
      }
    }
    &:focus, &:active {
      outline: none;
    }
  }
}

.ms-selectall:after {
  content: "Select All";
}

.selected .ms-selectall:after {
  content: "Select None";
}

.ui-menu li {
  label.ui-menu-item-wrapper {
    &:focus, &:active {
      outline: none;
    }
  }
}


.ui-selectmenu-menu .ui-state-disabled {
  display: none;
}



#contact1-button, #contact2-button, #contact3-button, #ms-button {

  &.ui-selectmenu-button.ui-button {
    background: white;
    border: 1px solid $grey500;
    color: $grey800;
    &[readonly],
    &[disabled] {
    	cursor:not-allowed;
      color: $grey800;
      background-color: $grey50;
      border: 1px solid $grey300;
    }

    &.textInputError{
    	border: 2px solid $red900;
    }

  }

  .ui-selectmenu-icon.ui-icon {
    margin: 4px 0 0 0;
  }

  .ui-icon-triangle-1-s:before {
    color: $grey600;
    content: "\e900";
  }

}

.ms-options {
    top: 34px;
    width: 224px;
    z-index: 2000;
}
label.ui-menu-item-wrapper {
  display: block;
  &:hover {
    cursor: pointer;
  }
}

.custom-combobox {
  background: white;
  border: 1px solid $grey500;
  color: $grey800;
  display: inline-block;
  position: relative;
  .custom-combobox-toggle {
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 12px;
  }
  .ui-icon {
    display: block;
  }
  .ui-icon-triangle-1-s:before {
    color: $grey600;
    content: "\e900";
  }
  input {
    border: none;
  }
}

#ui-id-1 {
  .ui-menu-item-wrapper {
    padding: 4px 10px;
    &:before {
      display: none;
      visibility: hidden;
    }
  }
  .ui-menu-wrapper:before, .ui-state-active:before {
    display: none;
  }
}
