/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CHECKBOXES AND RADIO BUTTONS
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.subtext.optiongroup{
  display:block;
  margin-left:26px;
  margin-top:1px;
}

label.selector, label.selectorDisabled{
  line-height:16px;
}

.selectorItem{
  margin-bottom:$paddingXS;
}

.selectorItem.last{
  margin-bottom:0;
}

input[type=checkbox], input[type=radio] { 
  /* to hide the checkbox itself */
  opacity:0; 
  cursor:pointer;
  }

/*RERENCING CUSTOM ICON FONT*/

input[type=checkbox] + label:before, input[type=radio] + label:before {
  font-family: icomoon;
  display: inline-block;
}

/*CHECKBOX ICONS*/

input[type=checkbox] + label:before { 
  /* unchecked icon */
  content: "\e902"; 
}

input[type=checkbox]:checked + label:before { 
  /* checked icon */
  content: "\e903"; 
  color:$action500;
  } 

/*RADIO BUTTON ICONS*/

input[type=radio] + label:before { 
  /* unchecked icon */
  content: "\e901";
}

input[type=radio]:checked + label:before { 
  /* checked icon */
  content: "\e900"; 
  color:$action500;
  } 

/*DEFUALT COLOR AND ICON SPACING*/

input[type=checkbox] + label:before, input[type=radio] + label:before { 
  margin:-1px 10px 0 -14px; 
  color:$grey500;
  }

/*ERROR COLORS*/

input.selectorError[type=radio]:checked + label:before, input.selectorError[type=radio] + label:before, input.selectorError[type=checkbox]:checked + label:before, input.selectorError[type=checkbox] + label:before{
  color:$red;
}

/*DISABLED GREYS AND CURSOR*/

input.selectorDisabled[type=radio]:checked + label:before, input.selectorDisabled[type=radio] + label:before, input.selectorDisabled[type=checkbox]:checked + label:before, input.selectorDisabled[type=checkbox] + label:before{
  color:$grey500;
}

input.selectorDisabled[type=radio], input.selectorDisabled[type=checkbox]{
  cursor:not-allowed;
}

label.selectorDisabled{
  color:$grey700;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CHECKBOX AND RADIO BUTTON ALTERNATES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.altSelectorFormComponent{
  height:31px;
}

/*ROMOVING ICONS*/

input.altSelector[type=checkbox] + label:before,  input.altSelector[type=checkbox]:checked + label:before, input.altSelector[type=radio] + label:before, input.altSelector[type=radio]:checked + label:before, input.altSelectorDis[type=checkbox] + label:before,  input.altSelectorDis[type=checkbox]:checked + label:before, input.altSelectorDis[type=radio] + label:before, input.altSelectorDis[type=radio]:checked + label:before, input.altSelectorErr[type=checkbox] + label:before,  input.altSelectorErr[type=checkbox]:checked + label:before, input.altSelectorErr[type=radio] + label:before, input.altSelectorErr[type=radio]:checked + label:before{ 
  content: ""; 
}

input.altSelector[type=checkbox], input.altSelector[type=radio], input.altSelectorDis[type=checkbox], input.altSelectorDis[type=radio],input.altSelectorErr[type=checkbox], input.altSelectorErr[type=radio]{ 
  display:none; 
  }

/*DEFAULT STYLES*/

label.altSelector, label.altSelectorDis, label.altSelectorErr{ 
  display:block;
  cursor:pointer; 
  line-height:28px;
  border:1px solid $grey500;
  border-left:0;
  color:$action700;
  margin:0px;
  padding:0 20px;
  text-align:center;
  float:left;
}

label.altSelector:nth-of-type(1), label.altSelectorDis:nth-of-type(1), label.altSelectorErr:nth-of-type(1){
  border:1px solid $grey500;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;
}

label.altSelector:nth-last-of-type(1), label.altSelectorDis:nth-last-of-type(1), label.altSelectorErr:nth-last-of-type(1){
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
}

input.altSelector[type=checkbox]:checked + label,  input.altSelector[type=radio]:checked + label{
  background-color:$action700;
  color:$grey0;
}

input.altSelector[type=checkbox] + label:hover,  input.altSelector[type=radio] + label:hover,  input.altSelector[type=checkbox] + label:focus, input.altSelector[type=radio] + label:focus{
  background-color:$action100;
  color:$action900;
}

input.altSelector[type=checkbox]:checked + label:hover, input.altSelector[type=radio]:checked + label:hover,  input.altSelector[type=checkbox]:checked + label:focus, input.altSelector[type=radio]:checked + label:focus{
  background-color:$action500;
  color:$grey0;
}

input.altSelector[type=checkbox] + label:active,  input.altSelector[type=checkbox]:checked + label:active, input.altSelector[type=radio] + label:active, input.altSelector[type=radio]:checked + label:active{
  background-color:$action900;
  color:$grey0;
}


/*DISABLED STYLES*/

label.altSelectorDis{
  cursor:not-allowed;
  color:$grey700;
}

input.altSelectorDis[type=checkbox]:checked + label,  input.altSelectorDis[type=radio]:checked + label{
  background-color:$grey400;
  color:$grey800;
}

input.altSelectorDis[type=checkbox] + label:focus, input.altSelectorDis[type=radio] + label:focus{
  background-color:$grey100;
  color:$grey800;
}

input.altSelectorDis[type=checkbox]:checked + label:focus, input.altSelectorDis[type=checkbox]:checked + label:focus{
  background-color:$grey300;
  color:$grey800;
}

/*ERROR STYLES*/

label.altSelectorErr{
  color:$red;
}

input.altSelectorErr[type=checkbox]:checked + label,  input.altSelectorErr[type=radio]:checked + label{
  background-color:$red;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:focus, input.altSelectorErr[type=radio] + label:focus, input.altSelectorErr[type=checkbox] + label:hover, input.altSelectorErr[type=radio] + label:hover{
  background-color:$red100;
  color:$red;
}

input.altSelectorErr[type=checkbox]:checked + label:focus, input.altSelectorErr[type=checkbox]:checked + label:focus, input.altSelectorErr[type=checkbox]:checked + label:hover, input.altSelectorErr[type=radio]:checked + label:hover{
  background-color:$redAccent;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:active,  input.altSelectorErr[type=checkbox]:checked + label:active, input.altSelectorErr[type=radio] + label:active, input.altSelectorErr[type=radio]:checked + label:active{
  background-color:$action900;
  color:$grey0;
}

input.altSelectorErr[type=checkbox] + label:active,  input.altSelectorErr[type=checkbox]:checked + label:active, input.altSelectorErr[type=radio] + label:active, input.altSelectorErr[type=radio]:checked + label:active{
  background-color:$red700;
  color:$grey0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SWITCH
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.formGroup.switch{
  height:28px;
  width:100%;
  padding-bottom:20px;
}


.formLabel.switch{
  width:120px;
  line-height:28px;
  padding:0;
  margin-right:20px;
  float:left;
}

.formComponant.switch{
  width:65px;
  height:28px;
  line-height:28px;
  float:left;
}

.switchErrorText{
  width:100%;
  display:inline-block;
}

/* The switch - the box around the slider */
label.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 28px;
  cursor: pointer;
}

label.switch.disabled{
  cursor:not-allowed;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* ROUND SLIDER BALL */

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey500;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 0px;
  bottom: 0px;
  background-color: $grey25;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
}

.slider.disabled:before{
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.34);
}

/* BACKGROUND COLORS */

input:checked + .slider {
  background-color: $action700;
}

.slider.disabled, input:checked + .slider.disabled {
  background-color: $grey400;
}

.slider.disabled:before{
  background-color: $grey100;
}

.slider.error {
  background-color: $red100;
}

input:checked + .slider.error{
  background-color: $red;
} 

/* SLIDING DISTANCE */

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

/* ROUNDING SLIDER */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SLIDER TEXT STYLES */

.switch[type=checkbox]+.on-off:after, .switch [type=checkbox]~.on-off:after, .switch[type=checkbox]:checked+.on-off:after, .switch [type=checkbox]:checked~.on-off:after, .switch[type=checkbox]+.yes-no:after, .switch [type=checkbox]~.yes-no:after, .switch[type=checkbox]:checked+.yes-no:after, .switch [type=checkbox]:checked~.yes-no:after, .switch.error[type=checkbox]:checked+.on-off:after, .switch.error [type=checkbox]:checked~.on-off:after, .switch.error[type=checkbox]:checked+.yes-no:after, .switch.disabled [type=checkbox]:checked~.yes-no:after{
  position:absolute;
  color:$grey0;
  text-transform:uppercase;
  font-size:$font-size-2;
}

.switch.disabled[type=checkbox]+.on-off:after, .switch.disabled [type=checkbox]~.on-off:after, .switch.disabled[type=checkbox]:checked+.on-off:after, .switch.disabled [type=checkbox]:checked~.on-off:after, .switch.disabled[type=checkbox]+.yes-no:after, .switch.disabled [type=checkbox]~.yes-no:after, .switch.disabled[type=checkbox]:checked+.yes-no:after, .switch.disabled [type=checkbox]:checked~.yes-no:after, .switch.error[type=checkbox]+.on-off:after, .switch.error [type=checkbox]~.on-off:after, .switch.error[type=checkbox]+.yes-no:after, .switch.disabled [type=checkbox]~.yes-no:after{
  color:$grey800
}

.switch[type=checkbox]+.on-off:after, .switch [type=checkbox]~.on-off:after{
  content: attr(data-check-off);
  right:10px;
}

.switch[type=checkbox]:checked+.on-off:after, .switch [type=checkbox]:checked~.on-off:after{
  content: attr(data-check-on);
  left:10px;
}

.switch[type=checkbox]+.yes-no:after, .switch [type=checkbox]~.yes-no:after{
  content: attr(data-check-no);
  right:10px;
}

.switch[type=checkbox]:checked+.yes-no:after, .switch [type=checkbox]:checked~.yes-no:after{
  content: attr(data-check-yes);
  left:10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SELECT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding:0 14px;
  height:40px;
  width: $cols4;
  margin:0;
}

.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid $grey500;
  border-radius: 2px;
  line-height:40px;
  vertical-align:middle;
  padding:0 14px;

  &:focus,
  &.focus {
    outline: none;
    border: 1px solid $action500;
  }

  &:active,
  &.active {
    outline: none;
    border: 1px solid $action500;
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }

  &[readonly],
  &[disabled] {
    cursor:not-allowed;
    color: $grey800;
    background-color: $grey50;
    border: 1px solid $grey300;
  }

  &.textInputError{
    border: 2px solid $red;
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $grey25;
  border: 1px solid $grey500;
  li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    &:hover {
      color: $grey0;
      background: $action500;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

/* iCheck plugin flat skin, black
----------------------------------- */
.icheckbox,
.iradio {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(flat.png) no-repeat;
    border: none;
    cursor: pointer;
    float: left;
    clear: both;
}

.icheck label {
  float: left;
  margin-left: 16px;
}

.icheckbox {
    background-position: 0 0;
}
    .icheckbox.checked {
        background-position: -22px 0;
    }
    .icheckbox.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -66px 0;
    }

.iradio {
    background-position: -88px 0;
}
    .iradio.checked {
        background-position: -110px 0;
    }
    .iradio.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -154px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox,
    .iradio {
        background-image: url(flat@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}