/* Base Form Styles */
fieldset {
  margin: 0 0 $base-line-height;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin: 0 0 $base-line-height;
  font-size: 18px;
  font-weight: bold;
  line-height: $base-line-height * 1.5;
}

select[multiple] {
  height: auto;
}

textarea {
  min-height: 100px;
}

/* Input Sizes */
.rs-input-xsmall {
  width: 60px;
}

.rs-input-mini {
  //@extend .rs-input-xsmall
}

.rs-input-small {
  width: 90px;
}

.rs-input-medium {
  width: 150px;
}

.rs-input-large {
  width: 210px;
}

.rs-input-xlarge {
  width: 270px;
}

.rs-input-xxlarge {
  width: 530px;
}

/* Checkbox and Radio Groups */
.rs-checkbox,
.rs-radio {
}

.rs-checkbox.inline,
.rs-radio.inline {
}

/* Create/Horizontal Forms */
.rs-form-horizontal,
.rs-form-create {
  .rs-control-group,
  .rs-control-label {
    margin-bottom: 10px;
  }

  .rs-control-group {
    clear: left;
  }

  .rs-control-label {
    float: left;
    margin-top: 2px;
  }

  .rs-controls-static {
    padding-top: 2px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  input[type="file"],
  select,
  textarea,
  .rs-input {
    margin-bottom: 0;
  }

  @mixin set-form-control-labels($label-width: 160px, $value-margin-left: 20px){
    .rs-control-label {
      width: $label-width;
    }
    .rs-controls,
    .rs-controls-static {
      margin-left: $label-width + $value-margin-left;
    }

    .rs-detail-key {
      width: $label-width;
    }
    .rs-detail-value {
      margin-left: $label-width + $value-margin-left;
    }
  }

  @include set-form-control-labels();

  &.rs-form-xsmall {
    @include set-form-control-labels(60px);
  }

  &.rs-form-small {
    @include set-form-control-labels(80px);
  }

  &.rs-form-medium {
    @include set-form-control-labels(100px);
  }

  &.rs-form-large {
    @include set-form-control-labels(120px);
  }

  &.rs-form-xlarge {
    @include set-form-control-labels(150px);
  }

  &.rs-form-xxlarge {
    @include set-form-control-labels(180px);
  }
}


/* Create Forms */
.rs-form-create {
  label:after {
    content: none;
  }

  .rs-control-group,
  .rs-control-label {
    margin-bottom: 20px;
  }

  .rs-control-label {
    text-align: right;
  }

  .rs-detail-item.success {
    @extend .rs-control-group.success;
  }

  .rs-detail-item.error {
    @extend .rs-control-group.error;

    .rs-create-value,
    .rs-quiet {
      color: $red;
    }
  }

  .rs-detail-key {
    color: $grey600;
  }

  .rs-detail-value {
    .rs-key-divider {
      color: $grey600;
    }
  }
}

/* Messaging */
.rs-help-block {
  color: lighten($grey600, 20%);
}

.rs-help-inline,
.rs-validation-inline {
  display: inline-block;
  margin-left: 5px;
}

.rs-help-block,
.rs-validation-block {
  display: block;
}

.rs-validation-inline,
.rs-validation-block {
  position: relative;
  padding-left: 20px;

  & > .rs-validation-indicator {
    position: absolute;
    top: 3px;
    left: 0;
  }
}

.rs-control-group.success {
  .rs-validation-inline,
  .rs-validation-block {
    color: $green;
  }

  .rs-validation-indicator {
    //@include icon;
    //@include sprite($ok-circle);
  }
}

.rs-control-group.error {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  select,
  textarea,
  .rs-input {
    border-color: $red;

    &:focus,
    &.focus {
      background-color: #fff6f6;
      box-shadow: 0 0 0 2px $red;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  textarea,
  .rs-input {
    &:focus,
    &.focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 0 2px $red, inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
  }

  select {
    &:focus,
    &.focus {
      border-color: #999;
    }
  }

  .rs-controls,
  .rs-help-inline,
  .rs-help-block,
  .rs-validation-inline,
  .rs-validation-block {
    color: $red;
  }

  .rs-validation-indicator {
    //@include icon(13px, 12px);
    //@include sprite($exclamation-sign);
  }
}
