/* Class-Based Styles */
.rs-list-table,
%rs-list-table {
  width: 100%;
  margin-bottom: 20px;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  border-collapse: collapse;
  position: relative;
}

.rs-table-row,
%rs-table-row {
  .rs-select-table &:hover,
  &.hover,
  &.selected {
    .rs-table-cell, td {
      background-color: $blue5;
    }
  }
  &.selected:hover, &.selected.hover {
    .rs-table-cell, td:not(.rs-table-status) {
      background-color: $blue10;
    }
  }
  &.rs-heartbeat-ok {
    .rs-table-cell, td:not(.rs-table-status) {
      animation:heartbeat_success 3s;
      -webkit-animation:heartbeat_success 3s;
    }
  }
  &.rs-heartbeat-warning {
    .rs-table-cell, td:not(.rs-table-status) {
      animation:heartbeat_warning 3s;
      -webkit-animation:heartbeat_warning 3s;
    }
  }
  &.rs-heartbeat-error {
    .rs-table-cell, td:not(.rs-table-status) {
      animation:heartbeat_error 3s;
      -webkit-animation:heartbeat_error 3s;
    }
  }
}

.rs-table-header,
%rs-table-header {
  padding: 0 10px;
  color: $grey500;
  font-weight: normal;
  border-bottom: 1px solid $grey50;
  text-align: inherit; // fix for IE (http://haslayout.net/css/Non-Inherited-TH-Text-Align-Bug)

  &.rs-table-status:before {
    content: '\00A0 ';
    width: 10px;
    display: block;
  }
}

.rs-table-cell,
%rs-table-cell {
  padding: 10px;
  border-bottom: 1px solid $grey50;
}

.rs-table-text {
  padding: 6px 10px;
}

.rs-table-link {
  > a {
    display: block;
    margin: -10px;
    padding: 10px;
  }
}

.rs-table-status {
  padding: 0;
  width: 10px;
}

.rs-table-checkbox {
  width: 10px;
}

.rs-table-radio {
  width: 10px;
}

.rs-table-cog {
  width: 16px;
}

.rs-table-edit {
  width: 16px;
}

.rs-table-delete {
  width: 16px;
}

.rs-table-input {
  & input {
    margin: 0;
  }
}

.rs-table-select {
  & select {
    margin: 0;
  }
}

.rs-table-status-ok {
  background-color: $green !important;

  &.rs-table-status-striped {
    background-image: image-url('table-status-success.gif');
  }
}

.rs-table-status-warning,
.rs-table-status-processing {
  background-color: $yellow !important;

  &.rs-table-status-striped {
    background-image: image-url('table-status-warning.gif');
  }
}

.rs-table-status-error {
  background-color: $red !important;

  &.rs-table-status-striped {
    background-image: image-url('table-status-error.gif');
  }
}

.rs-table-status-disabled {
  background-color: $grey300; // TODO This needs to change but want to wait and fix disabled everywhere
}

/* Table-Based Styles */
table {
  @extend %rs-list-table;
}

tr {
  @extend %rs-table-row;
}

th {
  @extend %rs-table-header;
}

td {
  @extend %rs-table-cell;
}

/* Sort Links */
.rs-table-sort {
  color: $grey500;

  &.hover,
  &:hover {
    color: $grey600;
    text-decoration: none;
  }
}

.rs-table-sort-text,
.rs-table-sort-indicator {
  display: inline-block;
}

.rs-table-sort-indicator {
  width: 9px;
  height: 5px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.rs-table-sort-asc,
.rs-table-sort-desc {
  color: $grey600;
  font-weight: bold;
}

.rs-table-sort-asc > .rs-table-sort-indicator {
  //@include sprite($sort-ascending);
}

.rs-table-sort-asc.hover > .rs-table-sort-indicator,
.rs-table-sort-asc:hover > .rs-table-sort-indicator {
  //@include sprite($sort-ascending-hover);
}

.rs-table-sort-desc > .rs-table-sort-indicator {
  //@include sprite($sort-descending);
}

.rs-table-sort-desc.hover > .rs-table-sort-indicator,
.rs-table-sort-desc:hover > .rs-table-sort-indicator {
  //@include sprite($sort-descending-hover);
}

/* Base Table Overlay */
.rs-table-overlay {
  display: table;
  width: 100%;
  height: 300px;
  margin-top: -20px;
}

.rs-table-overlay-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.rs-table-overlay-title, .rs-table-overlay-subtitle {
  //font-family: $alt-font-family;
}

.rs-table-overlay-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  color: $grey600;
}

.rs-table-overlay-subtitle {
  font-size: 18px;
  color: $grey500;
}

.rs-table-overlay-subtitle + .rs-table-overlay-message {
  margin-top: 50px;
}

.rs-table-overlay-message {
  font-size: 13px;
  color: $grey500;
}

/* Loading Overlay */
.rs-table-overlay-loading .rs-table-overlay-message {
  color: $grey500;
  &:before {
    //background: image-url('clouding@2x.gif') center center no-repeat;
    background-size: auto 20px;
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: relative;
    left: -5px;
  }
}

/* Loading Error */
.rs-table-overlay-error .rs-table-overlay-message {
  color: $red400;

  .rs-icon-error-indicator {
    margin: 1px 5px 0 0;
  }
}
