// Main Content & Sidebar
.rs-main {
  margin: 30px 0;
  position: relative;
  @include micro-clearfix;

  &.rs-panel {
    background-color: #f5f5f5;
    box-shadow: #c2c2c2 0px 6px 8px 1px;
    margin-top: 50px;
  }

  .rs-inner {
    margin: 30px;
  }
}

.rs-sidebar {
  width: 230px;
  position: absolute;

  .rs-inner {
    margin: 0 30px 0 0;

    .rs-panel & {
      margin: 30px;
    }
  }

  &.rs-pull-right {
    width: 280px;
    right: 0;

    .rs-inner {
      margin: 0 0 0 30px;

      .rs-panel & {
        margin: 30px;
      }
    }
  }
}

.rs-content {
  @include micro-clearfix;

  .rs-main & {
    min-height: 300px;
  }

  .rs-panel & {
    margin-top: -20px;
  }

  .rs-main .rs-sidebar + & {
    margin-left: 230px;
  }

  .rs-main .rs-sidebar.rs-pull-right + & {
    margin-right: 280px;
    margin-left: 0;
  }
}

.rs-back-link {
  margin: 5px 0 -25px 0;
}