/** Action Menu **/
.rs-dropdown {
  position: relative;
  display: inline-block;

  a,
  .rs-dropdown-link,
  .rs-dropdown-text {
    white-space: nowrap;
  }
}

.rs-dropdown-menu {
  position: absolute;
  margin: 0;
  padding: 3px 0;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid $grey400;
  border-radius: 3px;
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: $zindexMenu;

  @include animate-visibility;

  a,
  .rs-dropdown-link {
    display: block;
    padding: 0 7px;
  }

  &.rs-pull-right {
    right: 0;
  }
}

.rs-dropdown-category {
  display: block;
  margin: 5px 0 0;
  padding: 0 7px;
  color: #999;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.rs-dropdown-item.disabled {
  a,
  .rs-dropdown-link {
    color: $grey300;
    cursor: default;
    text-decoration: none;
  }
}

.rs-dropdown-menu > li:first-child > .rs-dropdown-category,
.rs-dropdown-menu > .rs-dropdown-item:first-child > .rs-dropdown-category {
  margin-top: 0;
}

.rs-dropdown-caption {
  white-space: normal;
}

.rs-primary-dropdown .rs-icon-external,
.rs-utility-dropdown .rs-icon-external-dark {
  margin-top: 1px;
}

/** Primary Menu **/
.rs-primary-dropdown {
  .rs-dropdown-menu {
    padding: 0 0 10px;
    border: 0;
    border-radius: 0 0 3px 3px;
    border-top: 2px solid $red;

    a,
    .rs-dropdown-link {
      padding: 2px 15px;
      color: #333;
      font-family: $alt-font-family;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &.hover,
      &:focus,
      &.focus {
        color: $red;
        background-color: #f5f5f5;
      }
    }

    > li:first-child,
    > .rs-dropdown-item:first-child {
      margin-top: 12px;
    }
  }

  .rs-dropdown-category {
    padding: 0 15px;
    font-family: $alt-font-family;
    font-size: 12px;
    font-weight: 200;
  }

  .rs-dropdown-category,
  .rs-dropdown-menu > li:first-child > .rs-dropdown-category,
  .rs-dropdown-menu > .rs-dropdown-item:first-child > .rs-dropdown-category {
    margin: 12px 0 0;
  }

  .rs-dropdown-caption {
    display: block;
    color: $grey400;
    font-family: $alt-font-family;
    font-size: 12px;
    font-weight: 200;
  }

  .rs-icon-external {
    //@include sprite($external);
  }

  .rs-dropdown-item.disabled {
    a,
    .rs-dropdown-link {
      color: $grey400;
      background-color: transparent;
    }

    .rs-dropdown-caption {
      color: $grey400;
    }
  }
}


/** Utility Menu **/
.rs-utility-dropdown {
  .rs-dropdown-menu {
    border-top: none;
    background: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 8px 0;

    span,
    .rs-dropdown-text {
      color: #ccc;
      padding: 2px 15px;
      text-decoration: none;
    }

    a,
    .rs-dropdown-link {
      color: #ccc;
      padding: 2px 15px;
      text-decoration: none;

      .rs-icon-external-dark {
        visibility: hidden;
      }

      &:hover,
      &.hover,
      &:focus,
      &.focus {
        color: #fff;
        background-color: #444;

        .rs-icon-external-dark {
          visibility: visible;

          //@include sprite($external-dark-hover);
        }
      }
    }

    .rs-dropdown-caption {
      display: block;
      color: $grey400;
      font-family: $alt-font-family;
      font-size: 12px;
      padding: 0;
    }
  }

  .rs-divider {
    padding: 0;
    margin: 7px 0 8px;
    height: 1px;
    background: #000;
    border-bottom: 1px solid #434343;
  }

  .rs-dropdown-category {
    margin: 7px 0 0;
    padding: 0 15px;
    font-family: $alt-font-family;
    font-size: 12px;
    font-weight: 200;
  }

  .rs-dropdown-item.disabled {
    a,
    .rs-dropdown-link {
      color: $grey500;
      background-color: transparent;
    }

    .rs-dropdown-caption {
      color: $grey500;
    }
  }
}
