.rs-nav-utility {
  min-height: $app-nav-utility-height;
  background: #333;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  z-index: $zindexNavUtility;

  .rs-nav {
    float: left;

    &.rs-pull-right {
      float: right;

      & > li,
      .rs-list-item {
        margin: 0 0 0 30px;
      }
    }
  }

  .rs-nav-link {
    padding: 10px 0;
    color: $grey300;
    font-weight: bold;
    position: relative;
  }

  .rs-caret {
    display: inline-block;
    width: 9px;
    height: 10px;
    margin: 0 0 0 5px;
    vertical-align: text-bottom;
  }

  .rs-nav-item {
    position: relative;
    margin: 0 30px 0 0;

    &:hover,
    &.hover,
    &.active {
      & > a,
      .rs-nav-link {
        color: $white;
      }
    }

    &.disabled {
      & > a,
      .rs-nav-link {
        color: $grey500;
        cursor: default;
      }
    }

    &.rs-dropdown {
      .rs-caret {
        //@include sprite-position($caret-nav-down-999);
      }

      .rs-dropdown-menu {
        margin-top: 1px;
      }
    }

    &.rs-dropdown:hover,
    &.rs-dropdown.hover,
    &.rs-dropdown.active {
      .rs-caret {
        //@include sprite-position($caret-nav-down-fff);
      }
    }

    &.rs-dropdown.disabled {
      .rs-caret {
        display: none;
      }
    }
  }
}
