.rs-nav-secondary {
	min-height: $app-nav-secondary-height;
	z-index: $zindexNavSecondary;
	@include noise;

	.rs-nav {
		@include seam;
	}

	.rs-nav-link {
		padding: 2px 6px;
		color: $nav-primary-link;
		text-decoration: none;
		text-shadow: 0 1px $white;
	}

	.rs-nav-item {
  	float: left;
		margin: 5px 30px 5px 0;
		font-size: 14px;
		font-weight: 600;
		font-family: $alt-font-family;
		position: relative;

		&:first-child {
			margin-left: 0px;
		}

		&:hover,
  	&.hover {
  		& > a,
  		.rs-nav-link {
				color: $nav-primary-link-hover;
  		}
  	}

		&.active {
			& > a,
			.rs-nav-link {
				color: $red;
			}
		}

		&.disabled {
			& > a,
			.rs-nav-link {
				color: #bbb;
				cursor: default;
        text-shadow: 0 1px #f5f5f5;
			}
		}
  }
}
