.rs-nav-primary {
  min-height: $app-nav-primary-height;
  z-index: $zindexNavPrimary;
  @include noise;

  .rs-nav {
    @include seam;
    padding: 0;
    padding-top: 20px;
  }

  .rs-nav-link {
    line-height: 1em;
    padding: 8px 15px 7px 15px;
    color: $nav-primary-link;
    font-size: 18px;
    font-weight: 400;
    font-family: $alt-font-family;
    text-decoration: none;
    text-shadow: 0 1px $white;
    border-bottom: 2px solid transparent;
    position: relative;
  }

  .rs-caret {
    display: inline-block;
    width: 27px;
    height: 13px;
    vertical-align: text-bottom;
    position: absolute;
    top: 13px;
    right: 12px;
    //@include sprite-position($caret-primary, 16px);

    &:before {
      content: "";
      display: block;
      width: 27px;
      height: 14px;
      position: relative;
      top: -14px;
    }
  }

  .rs-nav-item {
    border: 1px solid transparent;
    margin: 0 5px;

    &:hover,
    &.hover {
      & > a,
      .rs-nav-link {
        color: $nav-primary-link-hover;
      }
    }

    &:active,
    &.active {
      & > a,
      .rs-nav-link {
        color: $nav-primary-link-active;
      }
    }

    &.disabled {
      & > a,
      .rs-nav-link {
        color: #bbb;
        cursor: default;
        border-bottom: none;
        text-shadow: 0 1px #f5f5f5;
      }
    }

    &.rs-dropdown {
      & > a,
      .rs-nav-link {
        padding-right: 35px;
      }
      .rs-dropdown-menu {
        margin: -2px 0 0 0px;
        right: -15px;
      }
    }

    &.rs-dropdown:hover,
    &.rs-dropdown.hover,
    &.rs-dropdown.active {
      .rs-caret {
        //@include sprite-position($caret-primary-active, 16px);
      }
    }

    &.rs-dropdown.disabled {
      .rs-caret {
        display: none;
      }
    }
  }
}

.rs-nav-brand {
  float: left;

  a {
    background: transparent image-url('logo-rackspace.png') no-repeat center center;
    width: $nav-branding-width;
    height: 70px;
    display: block;
  }

  & + .rs-nav {
    padding-left: $nav-branding-width + 20px;
  }
}
