.rs-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	&.rs-nav-utility + .rs-body {
		padding-top: $app-nav-utility-height;
	}

	&.rs-nav-utility + &.rs-nav-primary {
		top: $app-nav-utility-height;
		& + .rs-body {
			padding-top: $app-header-height;
		}
	}

	&.rs-nav-utility + &.rs-nav-secondary {
		top: $app-nav-utility-height;
		& + .rs-body {
			padding-top: $app-nav-utility-height + $app-nav-secondary-height;
		}
	}

	&.rs-nav-utility + &.rs-nav-primary + &.rs-nav-secondary {
		top: $app-header-height;
		& + .rs-body {
			padding-top: $app-header-height + $app-nav-secondary-height;
		}
	}

	&.rs-nav-primary + .rs-body {
		padding-top: $app-nav-primary-height;
	}

	&.rs-nav-primary + &.rs-nav-secondary {
		top: $app-nav-primary-height;
		& + .rs-body {
			padding-top: $app-nav-primary-height + $app-nav-secondary-height;
		}
	}

	&.rs-nav-secondary + .rs-body {
		padding-top: $app-nav-secondary-height;
	}

	// height based media query to remove app-frame for shorter view ports
	@media only screen and (max-height: 600px){
	  &.rs-nav-primary, &.rs-nav-secondary, &.rs-nav-utility {
	    position: static !important;
	  }
	  & ~ .rs-body {
	    padding-top: 0 !important;
	  }
	}
	// width based media query to remove app-frame
	@media only screen and (max-width: 1060px) {
	  &.rs-nav-primary, &.rs-nav-secondary, &.rs-nav-utility {
	    position: static !important;
	  }
	  & ~ .rs-body {
	    padding-top: 0 !important;
	  }
	}
}
