.rs-popover {
  position: absolute;
  max-width: 700px;
  z-index: $zindexPopovers;

  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
}

.rs-popover-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: $zindexPopovers - 10;
  background-color: $white;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
}

.rs-popover-arrow-top-left {
  top: -6px;
  left: 24px;
}

.rs-popover-arrow-top-right {
  top: -6px;
  right: 24px;
}

.rs-popover-arrow-left-top {
  top: 24px;
  left: -6px;
}

.rs-popover-arrow-right-top {
  top: 24px;
  right: -6px;
}

.rs-popover-content {
  position: relative;
  background-color: $white;
  z-index: $zindexPopovers;
}

.rs-popover-body {
  padding: 20px 20px 0;
  margin: 0 0 20px;
}

.rs-popover-footer {
  padding: 10px 20px;
  margin: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
