// Status Label
.rs-status {
  display: inline;
  padding: 3px 5px 4px;
  font-size: 13px;
  line-height: 20px;
  color: $white;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: $grey300;
  border-radius: 3px;

  &:empty {
    display: none;
  }
}

.rs-status {
  &.rs-status-ok {
    color: $white;
    background-color: $green;
  }

  &.rs-status-warning {
    color: $white;
    background-color: $yellow;
  }

  &.rs-status-error {
    color: $white;
    background-color: $red;
  }

  &.rs-status-disabled {
    color: $white;
    background: $grey300;
  }

  &.rs-status-pending {
    color: $white;
    background-color: $yellow;
  }

  &.rs-status-processing {
    color: $white;
    background: $yellow image-url('loading-white-yellow.gif') 4px center no-repeat;
    padding-left: 20px;
  }

  &.rs-status-processing-ok {
    color: $white;
    background: $green image-url('loading-white-green.gif') 4px center no-repeat;
    padding-left: 20px;
  }

  &.rs-status-processing-error {
    color: $white;
    background: $red image-url('loading-red.gif') 4px center no-repeat;
    padding-left: 20px;
  }
}

// Colored Status Typography
.rs-status-ok {
  color: $green;
}

.rs-status-warning {
  color: $yellow;
}

.rs-status-error {
  color: $red;
}

.rs-status-disabled {
  color: $grey300;
}

.rs-status-pending {
  color: $yellow;
}

.rs-status-processing {
  color: $yellow;
}

.rs-status-processing-ok {
  color: $green;
}

.rs-status-processing-error {
  color: $red;
}
