/** Table Status List **/
.rs-table-status-list {
	padding: 7px 8px;
}

.rs-status-list {
	padding: 0;
	margin: 0;
}

.rs-status-list-item {
	list-style-type: none;
	float: left;
	display: block;
	cursor: pointer;
}

.rs-status-list-item .rs-icon-status {
	width: 6px;
	height: 6px;
	margin: 3px;
}

.rs-icon-status.rs-status-ok {
  background-color: $green;
}

.rs-icon-status.rs-status-warning {
  background-color: $yellow;
}

.rs-icon-status.rs-status-error {
  background-color: $red;
}

.rs-icon-status.rs-status-disabled {
  background-color: $grey300;
}