.ds-table-head{
	padding:0;
}

.ui.table{
	border:0;
	border-collapse: collapse;
	padding:0;
	margin:0;
}

.ui.table thead tr{
	border:0;
}

.ui.table thead th{
	background-color:$grey0;
	border-radious:0;
	border:0;
	padding:28px 20px 20px 20px;
	text-transform:uppercase;
	color:$grey700;
	font-weight:500;
}

.ui.table td{
	padding:20px;
	border:none;
}

.ui.table tr{
	border: 1px solid $grey300;
}

.ui.table tr:hover{
	background-color: $cyan50;
}


