.ds-tooltip {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.ds-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.ds-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.ds-tooltip:hover .tooltiptext {
    visibility: visible;
}

.icon-help{
  width:16px;
  height:16px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
VISIBLE TOOLTIP
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.ds-tooltip-inner {
  max-width: 440px;
  padding: $paddingS $paddingM;
  background-color: $grey700;
  font-size:$font-size-3;
  color:$grey0;
  border: none;
  border-radius:$paddingS;

}

.ds-tooltip-inner::after {
    content: " ";
    position: absolute;
    bottom:100%; /* At the top of the tooltip */
    left: $paddingXL;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color:  transparent transparent $grey700 transparent;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
HElP ICON
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.icon-help{
  color:$cyan700;
  font-size:16px;
  vertical-align:-1px;
  margin-left: $paddingM;
  }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
WEBSITE BEACON DISPLAY
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.ws-beacons{
  position:relative;
  display:block;
}

.ws-beacon-con{
  width:33%;
  display:block;
  float:left;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
BEACON
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.ds-beacon-con{
  position:relative;
  display:block;
  height:20px;
  margin: $paddingM 0 $paddingL 0;
}

.ds-beacon, .ds-beacon-cyan, .ds-beacon-orange{
  position:absolute;
  top:10px;
  left:10px;
  background-color:$grey0; 
  height:16px;
  width:16px;
  opacity:.6;
  border-radius:50%;
  box-shadow:0px 0px 2px 2px $grey500;
  -webkit-transform:translateX(-50%) translateY(-50%);
  cursor:pointer;
}

.ds-beacon-cyan{
  background-color:$cyan100; 
  box-shadow:0px 0px 2px 2px $cyan500;
}

.ds-beacon-orange{
  background-color:$orange100; 
  box-shadow:0px 0px 2px 2px $orange500;
}

.ds-beacon:before, .ds-beacon-cyan:before, .ds-beacon-orange:before{
  position:absolute;
  content:"";
  height:14px;
  width:14px;
  left:0;
  top:0;
  background-color:transparent;
  border: 1px solid #fff;
  border-radius:50%;
  box-shadow:0px 0px 1px 1px $grey900;
  -webkit-animation:active 2s infinite linear;
  animation:active 2s infinite linear;
}

@-webkit-keyframes active{
  0%{
    -webkit-transform:scale(.2);
    opacity:1;
  }
  70%{
    -webkit-transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

@keyframes active{
  0%{
    transform:scale(.2);
    opacity:1;
  }
  70%{
    transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

.ds-beacon-cyan:before{
  box-shadow:0px 0px 1px 1px $cyan900;
}

.ds-beacon-orange:before{
  box-shadow:0px 0px 1px 1px $orange900;
}