---
layout: base
---

<div class="content-banner">
    <div class="content-wrapper">
        <div class="hxRow">
            <div class="hxCol hxSpan-8">
                <div class="hxRow">
                    <div class="hxCol">
                      {%- for item in site.component_design -%}
                        {%- if page.title == item.title -%}
                          <h1 class="hxHeading-1">{{item.title}}</h1>
                          <div class="component-blurb">{{item.usage}}</div>
                    </div>
                </div>
            </div>
            <div class="hxCol hxSpan-4">
                <img class="hero-image" src="{{site.url}}/assets/images/{{item.preview-image}}" />
            </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
    </div>
</div>


<article class="content-wrapper">
  <div class="com-code">
    {%- for item in site.component_design -%}
      {%- if page.title == item.title -%}
        <a href="{{site.url}}{{item.url}}.html">Design Guidelines</a>
      {%- endif -%}
    {%- endfor -%}&nbsp;|&nbsp;<a href="{{site.url}}{{page.url}}.html">Code &amp; Examples</a>
  </div>
  <div class="component-content">
    {{content}}
  </div>
</article>
