---
layout: base
---
<div class="content-banner">
    <div class="content-wrapper">
        <div class="hxRow">
            <div class="hxCol hxSpan-12-xs hxSpan-12-sm hxSpan-8-md hxSpan-8-lg hxSpan-8-xl">
                <div>
                  <h1 class="inline-block">{{page.title}}</h1>
                  <a class="issue hxBtn pull-right" href="https://github.com/rackerlabs/design-system/issues/new?title=Issue%20Regarding%20-%20{{page.url}}">Submit Issue</a>
                </div>
                <div class="component-blurb">{{page.usage}}</div>
            </div>
            <div class="hxCol hxSpan-12-xs hxSpan-12-sm hxSpan-4-md hxSpan-4-lg hxSpan-4-xl">
                <img class="hero-image" src="{{site.url}}/assets/images/{{page.preview-image}}" />
            </div>
        </div>
    </div>
</div>


  <article class="content-wrapper">
    <div class="com-code">
      <a href="#">Design Guidelines</a>
      {%- for item in site.component_code -%}
        {%- if page.title == item.title and item.code != null -%}
          &nbsp;|&nbsp;<a href="{{site.url}}{{item.url}}.html">Code &amp; Examples</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="component-content">
    {{content}}
    </div>
  </article>
