---
layout: base
---
<div class="content-banner">
    <div class="content-wrapper">
        <div class="hxRow">
            <div class="hxCol-8">
                <div class="hxRow">
                    <div class="hxCol">
                        <div class="component-title">{{page.title}}</div>
                    </div>
                </div>
                <div class="hxRow">
                    <div class="hxCol">
                        <div class="component-blurb">{{page.usage}}</div>
                    </div>
                </div>
            </div>
            <div class="hxCol-4">
                <div class="hero-image"><img src="{{site.cdn_url}}/img/{{page.preview-image}}" /></div>
            </div>
        </div>
    </div>
</div>


  <article class="content-wrapper">
    <div class="com-code">
      <a href="#">Design Guidelines</a> |
      {% for item in site.component_code %}
        {% if page.title == item.title %}
          <a href="{{site.url}}{{item.url}}.html">Code &amp; Examples</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="component-content">
    {{content}}
    </div>
  </article>

