---
layout: base2
---

<div class="hxRow">
  <div class="hxCol">
    <div class="new-banner">
      <div class="new-display">{{page.category}}</div>
    </div>
  </div>
</div>
<div class="hxRow">
  <div class="hxCol">
    <div class="new-blurb">
      <div class="page-title">{{page.category}}: {{page.title}}</div>
      <div class="page-blurb">{{page.usage}}</div>
    </div>
  </div>
</div>
<div class="docs-content">
  <article>
    <div class="hxRow">
      <div class="hxCol">
        {{content}}
      </div>
    </div>
  </article>
</div>
