---
layout: base2
---

<div class="new-banner">
  <div class="content-wrapper">
    <div class="new-display">{{page.category}}</div>
  </div>
</div>
<div class="new-blurb">
    <div class="content-wrapper">
        <div class="page-title">{{page.category}}: {{page.title}}</div>
        <div class="page-blurb">{{page.usage}}</div>
    </div>
</div>
<div class="content-wrapper">
  <article class="docs-content">
    <div class="hxRow">
      <div class="hxCol">
        {{content}}
      </div>
    </div>
  </article>
</div>
