---
layout: base2
---

<div class="new-banner">
  <div class="content-wrapper">
    <h1 class="hxPageTitle">{{page.category | replace: '-', ' '}}</h1>
  </div>
</div>
<div class="new-blurb">
    <div class="content-wrapper">
      <div class="hxRow">
        <div class="hxCol hxSpan-8">
          <h2 class="hxSectionTitle">{{page.title}}</h2>
          <div class="page-blurb">{{page.usage}}</div>
        </div>
      </div>
    </div>
</div>
<div class="content-wrapper">
  <article class="docs-content">
    <div class="hxRow">
      <div class="hxCol">
        {{content}}
      </div>
    </div>
  </article>
</div>
