.ds-btn-med.ui-selectmenu-button-open, .ds-btn-med-sec.ui-selectmenu-button-open, {
    background: $action900;
    border: 1px solid $action900;
}

#dropdown-btn-button, #dropdown-btn-sec-button, #dropdown-btn-combo-button, #dropdown-btn-combo-sec-button {

  &.ui-button {
    width: auto;
  }

  .ui-selectmenu-icon.ui-icon {
    margin: 10px 0 0 16px;
  }

  .ui-icon-triangle-1-s:before {
    content: "\e919";
  }

}

.ui-corner-left, .ui-corner-left:hover, .ui-corner-left:active, .ui-corner-left:focus {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}

.ui-corner-right, .ui-corner-right:hover, .ds-btn-med.ui-selectmenu-button-open.ui-corner-tr {
  border-radius: 0 2px 2px 0;
  border-left: 1px solid $action900;
}

#dropdown-btn-combo-button, #dropdown-btn-combo-sec-button {

  .ui-selectmenu-icon.ui-icon {
    margin: 10px 0 0 0;
  }
  .ui-selectmenu-text {
    margin: 0;
  }

}

#dropdown-btn-menu, #dropdown-btn-sec-menu, #dropdown-btn-combo-menu, #dropdown-btn-combo-sec-menu {

  &.ui-menu {
    .ui-menu-item-wrapper {
      padding: 4px 10px;
      &:before {
        display: none;
        visibility: hidden;
      }
    }
    .ui-menu-wrapper:before, .ui-state-active:before {
      display: none;
    }
  }

}
