//DON'T DELETE EAG 7-18-2016

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
INPUT AND SUBTEXT BASIC FORMATTING
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="url"],textarea{
  font-family: $base-font-family;
  font-size: $base-font-size;
  border: 1px solid $grey500;
  border-radius: 2px;
  padding:0 $paddingS;
  height:30px;
  width:400px;
  //width: 100%;
  //max-width: 6*$fluidGridColumnWidth;
  margin:0;
  /*@include max-screen($small){
      max-width:none;
    }*/

  &:focus,
  &.focus {
    outline: none;
    border: 1px solid $action500;
  }

  &[readonly],
  &[disabled] {
  	cursor:not-allowed;
    color: $grey800;
    background-color: $grey50;
    border: 1px solid $grey300;
  }

  &.textInputError{
  	border: 2px solid $red900;
  }

  &.textInputError:focus{
    border: 2px solid $action500;
  }
}

textarea{
  padding:$paddingXS $paddingS;
  vertical-align: top;
  height: auto;
}

.form-subtext.error{
  color:$red900;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
COUNTDOWN FORMATTING
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
//countdown initiated in elements.js
//need to set the width to whatever the width of the textarea is in js or else it won't move when the text area is resized or aligned to the grid

.form-subtext.countdown{
  text-align:right;
  margin-top:0;
  width:418px;
  //width: 100%;
  //max-width: 6*$fluidGridColumnWidth;
  margin:0;
  /*@include max-screen($small){
      max-width:none;
    }*/
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
STYLE PLACEHOLDER TEXT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $grey600;
  font-weight: 300;
  font-style:italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $grey600;
  opacity:  1;
  font-weight: 300;
  font-style:italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $grey600;
  opacity:  1;
  font-weight: 300;
  font-style:italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey600;
  font-weight: 300;
  font-style:italic;
  letter-spacing:.05em;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
TEXT PREFIXES AND SUFFIXES ALIGNED - SIZED IN ELEMENTS JS FILE
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
//Will need to fix elements.js to align to grid

#inputPrefix{
	padding-right:$paddingS;
}

#inputSuffix{
	padding-left:$paddingS;
}

.iconAppendPre, .iconAppendPreSuf{
  position: relative;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ICONS IN MARGIN AFTER INPUT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.iconAppendPre input, .iconAppendPreSuf input{
  text-indent:32px;
}

.iconPrefix, .iconSuffix{
  color:$grey600;
  top:6px;
}

.iconPrefix i, .iconSuffix i{
  padding:0;
  font-family: 'DS_icon_font';
  font-style: normal;
}

.iconPrefix{
  left:9px;
  position:absolute;
}

.iconSuffix{
  cursor:pointer;
  padding-left:4px;

  &:hover{
    color:$red700;
  }

  &:active{
    color:$red900;
  }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ICONS IN MARGIN AFTER INPUT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.completedFormGroupIcon, .errorFormGroupIcon{
  color:$green;
  font-size:$base-font-size;
  padding-left:$paddingXS;
  vertical-align:middle;
  display: inline-block;
  font-family: 'DS_icon_font';
  font-style: normal;
}

.errorFormGroupIcon{
  color:$red900;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
  legend {
    font-size:16px;
    font-weight:normal;
    margin-bottom:12px;
  }
  input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], textarea {
    margin-bottom: 12px;
  }
}

.requiredInput{
  color:$red900;
  font-weight: 900;
}

.form-section-head{
  padding-bottom: $paddingL;
}

.formLabel, fieldset.icheck legend{
  font-size: $font-size-3;
  font-weight: normal;
  padding-bottom: $paddingXS;
}

.subtext.error{
  color:$red900;
  padding:$paddingS 0 0 0;
}

/*FORM SPECIFIC*/

.form-subtext{
  padding:$paddingS 0 0 0;
}

.form-section-container{
  padding-top:$paddingXL;
}

.formComponant, .formGroup, fieldset{
  display:block;
  width:100%;
}

.formGroup, fieldset{
  padding-bottom:$paddingXL;
}
