---
title: Alert Bar
parent: Notifications
layout: website/default
category: Components
usage: These tooltips provide users with additional information while completing tasks and alert them to new features.
preview-image: components/preview-help.svg
status: pending
---

<article>
  <a class="anchor" name="alert-bar"></a>
  <h1>Alert Bar<span class="status prototype">In Progress</span></h1>
  <h2>Usage</h2>
  <p>Provides info for action in context to the PAGE/REGION. Is communicated in proximity to the page, panel, or other main containing element of information. User understands this is in relation to the context they’re currently working on holistically.</p>
  <p>Ideally alert bars are used to communicate things like “unread messages” “page errors” or confirmations for an action that happened off canvas or in a previous screen like a modal or form.</p>
  <p>Alert bars can also provide some basic quick instruction for a page to better assist the user with understanding the task or feature they can/need to perform.</p>

  <div class="ui segments horizontal">
    <div class="ui segment">
      <h3>Alert bar at a page level</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-page.svg" style="width: 18.125em;">
    </div>
    <div class="ui segment">
      <h3>Alert bar at a region level</h3>
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-region.svg" style="width: 18.125em;">
    </div>
  </div>

  <h2>Anatomy</h2>
  <p>The alert bar consists of 3 major parts ALWAYS:</p>
  <ul>
    <li>Bar: enclosing shape to frame and present the alert</li>
    <li>Icon: which provides context to the classification of the alert type</li>
    <li>Message: provides details and/or instructions to give the user context</li>
  </ul>
  <p>The alert bar has other parts which are OPTIONAL based on the intended use-case, these consist of:</p>
  <ul>
    <li>Emphasized Text: calls out the specific object/person/thing that relates to the alert. This is the same size/color as the message but is bold.</li>
    <li>Manual Dismiss: allows user to manually dismiss/close the alert.</li>
    <li>Relational Action: provides user with a tailored action they can take in response to the alert.</li>
  </ul>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/alert-bar-anatomy.svg" style="width: 45em;">
    </div>
  </div>

  <h2>Implementation Levels</h2>
  <h3>Inline</h3>
  <p>Provides info for action in context to the OBJECT they are ACTIVELY doing. User understands this is in relation to the context they're actively doing and provides the most specificity.</p>

  <h3>Alert Bar</h3>
  <p>Provides info for action in context to the PAGE/REGION. User understands this is in relation to the context they're currently working on holistically.</p>

  <h3>Toast</h3>
  <p>Provides info for action outside of the users current context. User understands this will take them out of current context. </p>

</article>
