---
title: Growl
parent: Notifications
layout: website/default
category: Components
usage: These tooltips provide users with additional information while completing tasks and alert them to new features.
preview-image: components/preview-help.svg
status: pending
---


<article>
  <a class="anchor" name="growl"></a>
  <h1>Growl <span class="status prototype">In Progress</span></h1>
  <p>Growls should be used to communicate a completed action to a user.</p>
  <h2>Design Considerations</h2>
  <h3>Problems Being Addressed</h3>
  <ol>
    <li>The user needs to be notified about the results of a certain task she explicitly asked the system to perform</li>
    <li>The user needs to be notified about an unprovoked event that is important enough to steal the user’s attention</li>
  </ol>
  <h3>How the Pattern Solves these Problems</h3>
  <ol>
    <li>Growls catch the user’s attention through vibrant color and animation</li>
  </ol>
  <h3>Known Shortcomings</h3>
  <ul>
    <li>Growls are ephemeral and may be missed by the user entirely</li>
  </ul>
  <h2>Design Specifications</h2>
  <h3>General Layout</h3>
  <ul>
    <li>Growls should always appear in the bottom right corner</li>
    <li>Growl animation ease-in .5s</li>
    <li>Growls should not contain links, as they are ephemeral and the user may miss the link</li>
    <li>A close icon should be included in the top right corner. While the growl should disappear on it’s own, the user should also have the ability to close it.</li>
  </ul>

  <div class="ui segments">
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/growl-specs.svg">
    </div>
    <div class="ui segment">
      <img src="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/components/growl-placement.svg">
    </div>
  </div>
  <h2>Base Interactions</h2>
  <h3>Hover</h3>
  <p>Growls do not have a hover state, as you can not take action on it.</p>
  <h3>Active</h3>
  <p>Growls do not have a hover state, as you can not take action on it.</p>
  <h3>Disabled</h3>
  <p>A growl should never be disabled. If it can’t be read it shouldn’t be displayed.</p>
  <h3>Selected</h3>
  <p>The growl does not have a selected state, as you can not take action on it.</p>
  <h2>Default State / First Time Experience</h2>
  <p>This is essentially the only state of a growl. There isn’t a FTX for a growl.</p>
  <h2>One Item</h2>
  <p>One item is a perfect use case for a growl.</p>
  <h2>Some Items</h2>
  <p>If multiple growls are being used at one time they should be stacked on top of each other.</p>
  <h2>States that don’t apply to this pattern</h2>
  <ul>
    <li>Loading / Processing:  Growls don’t have a loading pattern. If it’s still loading it should not exist on the page.</li>
    <li>No Items:  Growls should not be used without content.</li>
    <li>Tons of Items:  Notifications should not be used with tons of items. They should be brief and
limited to one item per page.</li>
    <li>Error State:  In case of an error, the Growl should be hidden.</li>
    <li>Corrected State:  Growls should not be used for user input.</li>
    <li>Completed State:  Growls should not be used for user input.</li>
  </ul>
  <h2>Implementation</h2>
  <h3>Guidelines for Use</h3>
  <p>Use for:</p>
  <ul>
    <li>Feedback messages</li>
    <li>Unprovoked events</li>
    <li>Changes in system status</li>
  </ul>
  <p>Do not use for:</p>
  <ul>
    <li>Product or feature announcements (consider the Beacon pattern)</li>
    <li>Alerts that may need to be read more than once</li>
  </ul>


</article>
